<h2>{{name}}</h2>
<hr/>
<h5>{{desc}}</h5>

<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>

<!--Textarea Customization-->
<div class="whiteBg">
  <div class="row">
    <div class="col-5 marB15">
      <h5 class="marB25">Textarea Customization:</h5>
      <div>
        <bf-textarea [(ngModel)]="myVal"
                     [class.flat]="compConf.hasFlat"
                     [bfLabel]="compConf.hasLabel ? compConf.labelText : ''"
                     [bfPlaceholder]="compConf.hasPlaceholder ? compConf.placeholder : ''"
                     [bfRequired]="compConf.isRequired"
                     [bfDisabled]="compConf.isDisabled"
                     [bfRows]="compConf.rows"

                     (bfOnKeyDown)="compConf.hasKeyDown && growl.success('Key Down -> ' + $event.key)"
                     (bfOnEsc)="compConf.hasKeyEsc && growl.success('ESC key was pressed')"
                     (bfOnSave)="compConf.hasKeyCtrlEnter && growl.success('Ctrl + ENTER key were pressed')"

                     [bfTooltip]="(compConf.hasTooltip ? compConf.tooltipText : null)"
                     [bfTooltipPos]="(compConf.tooltipPos || 'top')"
                     [bfTooltipBody]="compConf.tooltipBody">
        </bf-textarea>
      </div>
      <div>
        <div class="code-box pad15">
          <pre>{{customCompCode}}</pre>
        </div>
      </div>
    </div>

    <div class="col-7">

      <div class="row marT15">
        <div class="col-2 padT15"> <bf-checkbox [(ngModel)]="compConf.isRequired" (ngModelChange)="upComp()" bfLabel="Is Required"></bf-checkbox> </div>
        <div class="col-2 padT15"> <bf-checkbox [(ngModel)]="compConf.isDisabled" (ngModelChange)="upComp()" bfLabel="Is Disabled"></bf-checkbox> </div>
        <div class="col-6">
          <bf-btn bfIcon="icon-minus" (bfClick)="(compConf.rows = compConf.rows - 1) && upComp()" ></bf-btn>
          <bf-btn bfIcon="icon-plus" (bfClick)="(compConf.rows = compConf.rows + 1) && upComp()"></bf-btn>
          <bf-label class="marL15 value-inline" bfText="Rows" [bfValue]="(compConf.rows + '')"></bf-label>
        </div>
      </div>

      <div class="row marT15">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="compConf.hasLabel" (ngModelChange)="upComp()" bfLabel="Has Label"></bf-checkbox> </div>
        <div class="col-10" style="margin-bottom: -5px;"> <bf-input [(ngModel)]="compConf.labelText" (ngModelChange)="upComp()" [bfDisabled]="!compConf.hasLabel"></bf-input> </div>
      </div>

      <div class="row">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="compConf.hasPlaceholder" (ngModelChange)="upComp()" bfLabel="Placeholder"></bf-checkbox> </div>
        <div class="col-10" style="margin-bottom: -5px;"> <bf-input [(ngModel)]="compConf.placeholder" (ngModelChange)="upComp()" [bfDisabled]="!compConf.hasPlaceholder"></bf-input> </div>
      </div>

      <div class="row">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="compConf.hasTooltip" (ngModelChange)="upComp()" bfLabel="Has Tooltip"></bf-checkbox> </div>
        <div class="col-10" *ngIf="compConf.hasTooltip">
          <bf-input [(ngModel)]="compConf.tooltipText" (ngModelChange)="upComp()"></bf-input>
        </div>
        <div class="col-2" *ngIf="compConf.hasTooltip"></div>
        <div class="col-5" *ngIf="compConf.hasTooltip">
          bfTooltipPos: <bf-dropdown [(ngModel)]="compConf.tooltipPos" (ngModelChange)="upComp()"
                                     [bfList]="[{ id: 'top', text: 'top' }, { id: 'right', text: 'right' }, { id: 'bottom', text: 'bottom' }, { id: 'left', text: 'left' }]"
                                     bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
        <div class="col-5" *ngIf="compConf.hasTooltip">
          bfTooltipBody: <bf-dropdown [(ngModel)]="compConf.tooltipBody" (ngModelChange)="upComp()" [bfList]="[{ id: 'true', text: 'true' }, { id: 'false', text: 'false' }]" bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
      </div>

      <!--Key Listeners-->
      <div class="row marT15">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasKeyDown" (ngModelChange)="upComp()" bfLabel="bfOnKeyDown"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasKeyEsc" (ngModelChange)="upComp()" bfLabel="bfOnEsc"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasKeyCtrlEnter" (ngModelChange)="upComp()" bfLabel="bfOnSave (Ctrl+Enter)"></bf-checkbox> </div>
      </div>


      <!--Classes-->
      <div class="row marT15">
        <div class="col-8 padT5">
          <bf-label bfText="CSS Classes"></bf-label>
          <bf-checkbox class="marL20" [(ngModel)]="compConf.hasFlat" (ngModelChange)="upComp()" bfLabel="flat"></bf-checkbox>
        </div>
      </div>

    </div>

  </div>
</div>

<hr>


<h5 class="mt-4">Examples:</h5>
<div class="col-12 examples-table">

  <div class="row">
    <div class="col-7">
      <bf-textarea [(ngModel)]="myVal"
                   bfLabel="My Text"
                   [bfRequired]="true"
                   [bfMinlength]="4"
                   [bfMaxlength]="10"
                   (bfOnSave)="growl.success('Saving the value')"
                   #myInput="ngModel"
      ></bf-textarea>
      <p>bfRequired="true"<br>
      bfMinlength="4"<br>
      bfMaxlength="10"</p>
    </div>
    <div class="col-5">
      <pre>
myInput.value = {{myInput.value}}
myInput.dirty = {{myInput.dirty}}
myInput.valid = {{myInput.valid}}
myInput.pristine = {{myInput.pristine}}
myInput.errors = {{myInput.errors | json}}
      </pre>
    </div>
  </div>


</div>


<!--Applicable classes -->
<div class="row">
  <div class="col-12">
    <h5 class="mt-4">Applicable classes:</h5>
    <p>The textarea has a margin bottom 15px by default. To remove it, add the class "<span class="bold">flat</span>":</p>
    <pre class="marT10">{{ flatExample }}</pre>
  </div>
  <div class="col-3">
    <div style="border: 1px dashed red">
      <bf-textarea class="" bfRows="2" bfLabel="Without flat class" [ngModel]="myVal"></bf-textarea>
    </div>
  </div>
  <div class="col-3">
    <div style="border: 1px dashed red">
      <bf-textarea class="flat" bfRows="2" bfLabel="Without flat class" [ngModel]="myVal"></bf-textarea>
    </div>
  </div>
</div>

<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <hr>
    <h4>CSS Styling</h4>
    <p>The following SASS variables can be overridden to provide customized coloring:</p>
    <pre class="padL30">{{ cssReset }}</pre>
  </div>
</div>
