<h2>{{name}}</h2>
<hr/>
<h5>{{desc}}</h5>

<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>

<!--Textarea Customization-->
<div class="whiteBg">
  <div class="row">
    <div class="col-5 marB15">
      <h5 class="marB25">Textarea Customization:</h5>
      <div>
        <bf-textarea [(ngModel)]="myVal" #bfInputRef="ngModel"
                     [class.flat]="conf.hasFlat"
                     [bfLabel]="conf.hasLabel ? conf.labelText : ''"
                     [bfPlaceholder]="conf.hasPlaceholder ? conf.placeholder : ''"
                     [bfRequired]="conf.isRequired"
                     [bfDisabled]="conf.isDisabled"
                     [bfRows]="conf.rows"

                     (bfOnKeyDown)="conf.hasKeyDown && growl.success('Key Down -> ' + $event.key)"
                     (bfOnEsc)="conf.hasKeyEsc && growl.success('ESC key was pressed')"
                     (bfOnSave)="conf.hasKeyCtrlEnter && growl.success('Ctrl + ENTER key were pressed')"

                     [bfErrorOnPristine]="conf.hasErrOnPristine"
                     [bfMinlength]="conf.isMinLen ? conf.minLen : null"
                     [bfMaxlength]="conf.isMaxLen ? conf.maxLen : null"
                     [bfPattern]="conf.hasPattern ? conf.pattern : null"
                     [bfValidIf]="conf.hasValidIf ? (myVal === 'AAA') : null"
                     [bfValidator]="conf.hasBfValidator ? bfValidatorFn : null"

                     [bfTooltip]="(conf.hasTooltip ? conf.tooltipText : null)"
                     [bfTooltipPos]="(conf.tooltipPos || 'top')"
                     [bfTooltipBody]="conf.tooltipBody"

                     (bfOnLoaded)="inputRef = $event">
        </bf-textarea>
      </div>

      <div *ngIf="!!bfInputRef" style="font-family: monospace;">
        FromControl (ngModel):<br>
        <div class="marL10">- bfInputRef.value: <b>{{bfInputRef.value | json}}</b></div>
        <div class="marL10">- bfInputRef.valid: <b [style.color]="bfInputRef.valid ? '#28a745': '#dc3545'">{{bfInputRef.valid | json}}</b></div>
        <div class="marL10">- bfInputRef.pristine: <b>{{bfInputRef.pristine | json}}</b></div>
        <div class="marL10">- bfInputRef.errors: <b>{{bfInputRef.errors | json}}</b></div>
      </div>

      <div class="marT15">
        <div class="code-box pad15">
          <pre>{{code}}</pre>
        </div>
      </div>


    </div>

    <div class="col-7">

      <!--Required + Disabled + Error on pristine + Rows-->
      <div class="row marT15">
        <bf-checkbox class="col-2 padT15" bfLabel="bfRequired" [(ngModel)]="conf.isRequired" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-checkbox class="col-2 padT15" bfLabel="bfDisabled" [(ngModel)]="conf.isDisabled" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-checkbox class="col-3 padT15" bfLabel="bfErrorOnPristine" [(ngModel)]="conf.hasErrOnPristine" (ngModelChange)="upComp()"></bf-checkbox>
        <div class="col-3">
          <bf-btn bfIcon="icon-minus" (bfClick)="(conf.rows > 1) && (conf.rows = conf.rows - 1) && upComp()" ></bf-btn>
          <bf-btn bfIcon="icon-plus" (bfClick)="(conf.rows = conf.rows + 1) && upComp()"></bf-btn>
          <bf-label class="marL15 value-inline" bfText="bfRows" [bfValue]="(conf.rows + '')"></bf-label>
        </div>
      </div>

      <!--Label-->
      <div class="row marT15">
        <bf-checkbox class="col-2 padT5" bfLabel="bfLabel" [(ngModel)]="conf.hasLabel" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-10" style="margin-bottom: -5px;" [(ngModel)]="conf.labelText" (ngModelChange)="upComp()" [bfDisabled]="!conf.hasLabel"></bf-input>
      </div>

      <!--Placeholder-->
      <div class="row">
        <bf-checkbox class="col-2 padT5" bfLabel="bfPlaceholder" [(ngModel)]="conf.hasPlaceholder" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-10" style="margin-bottom: -5px;" [(ngModel)]="conf.placeholder" (ngModelChange)="upComp()" [bfDisabled]="!conf.hasPlaceholder"></bf-input>
      </div>

      <!--Tooltip-->
      <div class="row">
        <bf-checkbox class="col-2 padT5" bfLabel="bfTooltip" [(ngModel)]="conf.hasTooltip" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-10" [bfDisabled]="!conf.hasTooltip" [(ngModel)]="conf.tooltipText" (ngModelChange)="upComp()"></bf-input>
        <div class="col-2"></div>
        <bf-dropdown class="col-5" bfLabel="bfTooltipPos" [bfDisabled]="!conf.hasTooltip"
                     [(ngModel)]="conf.tooltipPos" (ngModelChange)="upComp()"
                     [bfList]="[{ id: 'top', text: 'top' }, { id: 'right', text: 'right' }, { id: 'bottom', text: 'bottom' }, { id: 'left', text: 'left' }]"
                     bfRender="text" bfSelect="id">
        </bf-dropdown>
        <bf-dropdown class="col-5" bfLabel="bfTooltipBody" [bfDisabled]="!conf.hasTooltip"
                     [(ngModel)]="conf.tooltipBody" (ngModelChange)="upComp()"
                     [bfList]="[{ id: 'true', text: 'true' }, { id: 'false', text: 'false' }]" bfRender="text" bfSelect="id">
        </bf-dropdown>
      </div>


      <div class="row">

        <!--MinLen-->
        <bf-checkbox class="col-2 block padT10" bfLabel="bfMinlength" [(ngModel)]="conf.isMinLen" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-1" [bfDisabled]="!conf.isMinLen" [(ngModel)]="conf.minLen" (ngModelChange)="upComp()"></bf-input>
        <div class="col-7 padT10"><span [show]="conf.isMinLen">(Remember minlength does not apply on empty values)</span></div>

        <!--bfValidIf-->
        <bf-checkbox class="col-2 block padT15" bfLabel="bfValidIf" [(ngModel)]="conf.hasValidIf" (ngModelChange)="upComp()"></bf-checkbox>

        <!--MaxLen-->
        <bf-checkbox class="col-2 block padT10" bfLabel="bfMaxlength" [(ngModel)]="conf.isMaxLen" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-1" [bfDisabled]="!conf.isMaxLen" [(ngModel)]="conf.maxLen" (ngModelChange)="upComp()"></bf-input>

        <!--bfPattern-->
        <bf-checkbox class="offset-1 col-2 block padT10" bfLabel="bfPattern" [(ngModel)]="conf.hasPattern" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-3" [(ngModel)]="conf.pattern" (ngModelChange)="upComp()" [bfDisabled]="!conf.hasPattern"></bf-input>

        <bf-checkbox class="offset-1 col-2 block padT15" bfLabel="bfValidator" [(ngModel)]="conf.hasBfValidator" (ngModelChange)="upComp()"></bf-checkbox>
      </div>


      <div class="row marT15">
        <div class="col-4">
          <bf-checkbox bfLabel="Manual error trigger" [(ngModel)]="conf.hasManualErr" (ngModelChange)="upComp()"></bf-checkbox>
          <div class="marL35 marT5">
            <bf-btn class="full-width" bfType="save" bfText="Clear Error" style="width: 150px;"
                    [bfDisabled]="!conf.hasManualErr" (bfClick)="inputRef.removeError()">
            </bf-btn>
          </div>
          <div class="marL35 marT5">
            <bf-btn class="full-width" bfType="save" bfText="Add Error" style="width: 150px;"
                    [bfDisabled]="!conf.hasManualErr" (bfClick)="inputRef.addError({ label: 'wroooong!' })">
            </bf-btn>
          </div>
        </div>

        <div class="col-8">
          <div class="row">
            <!--Key Listeners-->
            <bf-checkbox class="col-3 block marT10" bfLabel="(bfOnKeyDown)" [(ngModel)]="conf.hasKeyDown" (ngModelChange)="upComp()"></bf-checkbox>
            <bf-checkbox class="col-3 block marT10" bfLabel="(bfOnEsc)" [(ngModel)]="conf.hasKeyEsc" (ngModelChange)="upComp()"></bf-checkbox>
            <bf-checkbox class="col-6 block marT10" bfLabel="(bfOnSave) - Ctrl+Enter" [(ngModel)]="conf.hasKeyCtrlEnter" (ngModelChange)="upComp()"></bf-checkbox>

            <!--bfOnLoaded + bfBeforeChange-->
            <bf-checkbox class="col-3 block marT10" bfLabel="(bfOnLoaded)" [(ngModel)]="conf.hasOnLoad" (ngModelChange)="upComp()"></bf-checkbox>
            <bf-checkbox class="col-3 block marT10" bfLabel="(bfBeforeChange)" [(ngModel)]="conf.hasBeforeChange" (ngModelChange)="upComp()"></bf-checkbox>
          </div>
        </div>
      </div>


      <!--Classes-->
      <div class="row marT15">
        <div class="col-8 padT5">
          <bf-label bfText="CSS Classes"></bf-label>
          <bf-checkbox class="marL20" [(ngModel)]="conf.hasFlat" (ngModelChange)="upComp()" bfLabel="flat"></bf-checkbox>
        </div>
      </div>

    </div>

  </div>
</div>

<hr>


<h5 class="mt-4">Examples:</h5>
<div class="col-12 examples-table">

  <div class="row">
    <div class="col-7">
      <bf-textarea [(ngModel)]="myVal"
                   bfLabel="My Text"
                   [bfRequired]="true"
                   [bfMinlength]="4"
                   [bfMaxlength]="10"
                   (bfOnSave)="growl.success('Saving the value')"
                   #myInput="ngModel"
      ></bf-textarea>
      <p>bfRequired="true"<br>
      bfMinlength="4"<br>
      bfMaxlength="10"</p>
    </div>
    <div class="col-5">
      <pre>
myInput.value = {{myInput.value}}
myInput.dirty = {{myInput.dirty}}
myInput.valid = {{myInput.valid}}
myInput.pristine = {{myInput.pristine}}
myInput.errors = {{myInput.errors | json}}
      </pre>
    </div>
  </div>


</div>


<!--Applicable classes -->
<div class="row">
  <div class="col-12">
    <h5 class="mt-4">Applicable classes:</h5>
    <p>The textarea has a margin bottom 15px by default. To remove it, add the class "<span class="bold">flat</span>":</p>
    <pre class="marT10">{{ flatExample }}</pre>
  </div>
  <div class="col-3">
    <div style="border: 1px dashed red">
      <bf-textarea class="" bfRows="2" bfLabel="Without flat class" [ngModel]="myVal"></bf-textarea>
    </div>
  </div>
  <div class="col-3">
    <div style="border: 1px dashed red">
      <bf-textarea class="flat" bfRows="2" bfLabel="Without flat class" [ngModel]="myVal"></bf-textarea>
    </div>
  </div>
</div>

<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <hr>
    <h4>CSS Styling</h4>
    <p>The following SASS variables can be overridden to provide customized coloring:</p>
    <pre class="padL30">{{ cssReset }}</pre>
  </div>
</div>
