@import 'variables';

@import './bf-ui-lib/bf-btn.scss';
@import './bf-ui-lib/bf-checkbox.scss';
@import './bf-ui-lib/bf-radio.scss';
@import './bf-ui-lib/bf-label.scss';
@import './bf-ui-lib/bf-input.scss';
@import './bf-ui-lib/bf-textarea.scss';
@import './bf-ui-lib/bf-switch.scss';
@import './bf-ui-lib/bf-dropdown.scss';
@import './bf-ui-lib/bf-quantity-input.scss';
@import './bf-ui-lib/bf-list-paginator.scss';
@import './bf-ui-lib/bf-growl.scss';
@import './bf-ui-lib/bf-loading.scss';
@import './bf-ui-lib/bf-confirm.scss';

// Add spacing when 2+ components in a row
bf-btn + bf-btn { margin-left: 5px; }
bf-checkbox + bf-checkbox { margin-left: 15px; }
bf-radio + bf-radio { margin-left: 15px; }


