// Define CSS variables (IEexplorer does not support it)
$bf-colors: (
  'primary'     : $primary_color,
  'secondary'   : $secondary_color,
  'tertiary'    : $tertiary_color,
  'quaternary'  : $quaternary_color,
  'warning'     : $warning_color,
  'extra'       : $extra_color,
  'white'       : $white,
  'disabled'    : $disabled-color
);
:root {
  @each $color, $value in $bf-colors {
    --#{$color}: #{$value};
    .#{$color}-text { color: #{$value}; }
    .text-#{$color} { color: #{$value}; }
    .#{$color} { color: #{$value}; }
  }
}

$input-border: #ccc !default; // <-- this is a bootstrap default
$optional_input_color : $input-border;
$disabled_input_color : #797979;
$invalid_input_color  : $warning_color;
$valid_input_color    : $primary_color;
$required_input_color : $primary_color;



// --- <bf-btn> color reset ----------------------------------------------------
@mixin btn-color-mixin($btn-color) {
  color: white;
  background: $btn-color;
  .btn-icon-section { background: darken($btn-color, 5%); }
  .btn-icon-section.small-btn { background: $btn-color; } // If icon btn
  &:hover:not(:disabled) {
    background: darken($btn-color, 3%);
    .btn-icon-section { background: darken($btn-color, 7%); }
  }
}
@each $color, $value in $bf-colors {
  .#{$color}.bf-btn  { @include btn-color-mixin($value); }
}


// --- <bf-checkbox> color reset --------------------------------------------------
div.checkbox label input[type='checkbox'] {
  + span.check-box {  // Box unmarked (unchecked)
    background: $white;
    border-color: $primary_color;
  }

  &:checked + span.check-box {  // Box marked (checked)
    background: $primary_color;
    border-color: darken($primary_color, 3%);
    &:before { color: $white; }
  }

  &[disabled] + span.check-box {  // Box disabled (checked or unchecked)
    background: $disabled-color;
    border-color: darken($disabled-color, 3%);
  }
}


// --- <bf-label> color reset --------------------------------------------------
label.is-required {
  color: $primary_color;
}


// --- <bf-switch> color reset --------------------------------------------------
div.bf-switch {

  // Background bar
  .switch-bar {
    background: white;
    border-color: #ccc;
  }

  // Text color (ON/OFF)
  .switch-value {
    //.bf-switch-off-text { color: red; }
    //.bf-switch-on-text  { color: green; }
  }

  // Switch color
  .switch-lever {
    color: white;
    background: #f3f3f3;
    &.is-on  { background: $primary_color; }
    //&.is-off { background: red; }
  }

  &.is-disabled {
    .switch-bar   { background: #d4d4d4; }
    .switch-lever { background: #f3f3f3; }
  }
}


// --- <bf-switch> color reset --------------------------------------------------
.bf-dropdown {
  select.form-control { // Placeholder color (https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder)
    &::-webkit-input-placeholder { color: $optional_input_color; } /* WebKit, Blink, Edge */
    &:-moz-placeholder           { color: $optional_input_color; opacity:  1; } /* Mozilla Firefox 4 to 18 */
    &::-moz-placeholder          { color: $optional_input_color; opacity:  1; } /* Mozilla Firefox 19+ */
    &:-ms-input-placeholder      { color: $optional_input_color; } /* Internet Explorer 10-11 */
    &::-ms-input-placeholder     { color: $optional_input_color; } /* Microsoft Edge */
    &::placeholder               { color: $optional_input_color; } /* Most modern browsers support this now. */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border: 1px solid $optional_input_color;
    &:focus { box-shadow: 0 0 0 2px rgba($optional_input_color, 0.35); }
  }
  &.is-disabled select.form-control {
    color: $disabled_input_color;
  }
  &.is-required select.form-control {
    border-color: $primary_color;
    &:focus { box-shadow: 0 0 0 2px rgba($primary_color, 0.20); }
  }
}



// --------------------------------------------------------------
// This is to reset the Growl colors:
div.growl-wrapper {
  .msg-box.success {
    background: darken($primary_color, 15%);
    color: white;
  }
  .msg-box.error {
    background: $warning_color;
    color: white;
  }
}
