$primary_color    : #00B6F1; 
$secondary_color  : #93C83E;
$tertiary_color   : #ED0677;
$quaternary_color : #004A64;
$warning_color    : #ED0677;
$extra_color      : #F17B3F;
$white: #FFF;

$disabled-color: #a0a0a0;

