<h2>{{name}}</h2>
<hr/>
<p>{{desc}}</p>
<p>This component uses the external <a href="https://ng-bootstrap.github.io/#/components/popover/examples">@ng-bootstrap module NgbPopoverModule</a> to add the tooltip on the information badge<br>
It also makes use of the translation service (if present), to automatically translate the given text for both [bfText] and [bfTooltip]. This service needs to be configured when the library is imported.</p>

<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>


<!--bf-list-paginator Customization-->
<div class="whiteBg">
  <div class="row">
    <div class="col-6 marB15">
      <h5 class="marB25">Customization:</h5>
      <div class="padB25" [class.d-flex]="compConf.formFit">
        <!--<bf-label class="text-12" bfValue="view.common.field_name"></bf-label>-->
        <!--<bf-label class="text-14" bfValue="view.common.field_name"></bf-label>-->
        <!--<bf-label class="text-16" bfValue="view.common.field_name"></bf-label>-->
        <!--<bf-label class="text-18" bfValue="view.common.field_name"></bf-label>-->
        <!--<bf-label class="text-24" bfValue="view.common.field_name"></bf-label>-->

        <bf-label [class.block]="compConf.hasBlock"
                  [class.no-colon]="compConf.hasNoColon"
                  [class.colon]="compConf.hasColon"
                  [class.no-bold]="compConf.hasNoBold"

                  [class.is-error]="compConf.isError"
                  [class.form-fit]="compConf.formFit"
                  [class.value-ellipsis]="compConf.hasEllipsis"

                  [class.value-bold]="compConf.hasValueBold"
                  [class.value-light]="compConf.hasValueLight"
                  [class.value-primary]="compConf.valuePrimary"
                  [class.value-warning]="compConf.valueWarning"

                  [class.value-inline]="compConf.hasValueInline"

                  [class.value-list]="compConf.hasValueList"
                  [class.label-left]="compConf.labelLeft"
                  [class.value-right]="compConf.valueRight"

                  [class.value-spaced]="compConf.valueSpaced"
                  [class.value-left]="compConf.valueLeft"

                  [ngClass]="(compConf.textSize + ' ' + compConf.valueMar + ' ' + compConf.valueList + ' ' + compConf.valSpClass)"
                  [bfText]="compConf.hasLabel ? compConf.text : ''"
                  [bfValue]="compConf.hasValue ? compConf.value: ''"
                  [bfRequired]="compConf.isRequired"
                  [bfTooltip]="(compConf.hasTooltip ? compConf.tooltipText : null)"
                  [bfTooltipPos]="(compConf.tooltipPos || 'top')"
                  [bfTooltipBody]="compConf.tooltipBody"
                  [class.color-bg]="compConf.colorBg">
        </bf-label>

        <bf-input *ngIf="compConf.formFit" class="marL30" bfLabel="Test" [ngModel]="myVal"></bf-input>
      </div>
      <div>
        <div class="code-box pad15">
          <pre>{{customCompCode}}</pre>
        </div>
        <bf-checkbox class="marT30" bfLabel="Color backgrounds" [(ngModel)]="compConf.colorBg"></bf-checkbox>
      </div>
    </div>

    <div class="col-6">

      <div class="row marT15">
        <bf-checkbox class="col-2 padT10" bfLabel="Label text" [(ngModel)]="compConf.hasLabel"></bf-checkbox>
        <div class="col-10">
          <bf-input [bfDisabled]="!compConf.hasLabel" [(ngModel)]="compConf.text" (ngModelChange)="upComp()"></bf-input>
        </div>
      </div>

      <div class="row">
        <bf-checkbox class="col-2 padT10" bfLabel="Value" [(ngModel)]="compConf.hasValue"></bf-checkbox>
        <div class="col-10">
          <bf-input [bfDisabled]="!compConf.hasValue" [(ngModel)]="compConf.value" (ngModelChange)="upComp()"></bf-input>
        </div>
      </div>

      <div class="row marT10">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasTooltip" (ngModelChange)="upComp()" bfLabel="Has Tooltip"></bf-checkbox> </div>
        <div class="col-9" *ngIf="compConf.hasTooltip">
          <bf-input [(ngModel)]="compConf.tooltipText" (ngModelChange)="upComp()"></bf-input>
        </div>

        <bf-checkbox class="col-3" bfLabel="Required" [(ngModel)]="compConf.isRequired" (ngModelChange)="upComp()"></bf-checkbox>
        <div class="col-5" *ngIf="compConf.hasTooltip">
          bfTooltipPos: <bf-dropdown [(ngModel)]="compConf.tooltipPos" (ngModelChange)="upComp()"
                                     [bfList]="[{ id: 'top', text: 'top' }, { id: 'right', text: 'right' }, { id: 'bottom', text: 'bottom' }, { id: 'left', text: 'left' }]"
                                     bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
        <div class="col-4" *ngIf="compConf.hasTooltip">
          bfTooltipBody: <bf-dropdown [(ngModel)]="compConf.tooltipBody" (ngModelChange)="upComp()" [bfList]="[{ id: 'true', text: 'true' }, { id: 'false', text: 'false' }]" bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
      </div>

      <div class="row padT10">
        <div class="col-12"><hr></div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasBlock"       (ngModelChange)="upComp()" bfLabel="block"    bfTooltip="Applies display: block;"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasNoColon"     (ngModelChange)="upComp()" bfLabel="no-colon" bfTooltip="Removes the : between label and value"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasColon"       (ngModelChange)="upComp()" bfLabel="colon"    bfTooltip="Forces the : in case it was removed"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasNoBold"      (ngModelChange)="upComp()" bfLabel="no-bold"  bfTooltip="Turns the label text not bold"></bf-checkbox> </div>

        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.isError"        (ngModelChange)="upComp()" bfLabel="is-error"       bfTooltip="Turns the label color warning"></bf-checkbox></div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.formFit"        (ngModelChange)="upComp()" bfLabel="form-fit"       bfTooltip="Adds vertical margin between label and value, so they align horizontally with inputs"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasEllipsis"    (ngModelChange)="upComp()" bfLabel="value-ellipsis" bfTooltip="Overflows the value so it shows ellipsis when no space"></bf-checkbox> </div>
        <!--<div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.spaceBetween"   (ngModelChange)="upComp()" bfLabel="space-between"  bfTooltip="Forces inline value, and justifies between (label on the left, value on the right)"></bf-checkbox> </div>-->

        <div class="col-12"></div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasValueBold"   (ngModelChange)="upComp()" bfLabel="value-bold"    bfTooltip="Turns the text value bold"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasValueLight"  (ngModelChange)="upComp()" bfLabel="value-light"   bfTooltip="Turns the text value light"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.valuePrimary"   (ngModelChange)="upComp()" bfLabel="value-primary" bfTooltip="Turns the text value primary color"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.valueWarning"   (ngModelChange)="upComp()" bfLabel="value-warning" bfTooltip="Turns the text value warning color"></bf-checkbox> </div>

        <div class="col-12 padH15"><hr><bf-checkbox [(ngModel)]="compConf.hasValueInline" (ngModelChange)="upComp()" bfLabel="value-inline"  bfTooltip="Pulls up the value, and displays it next to the label horizontally"></bf-checkbox> </div>


        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasValueList"   (ngModelChange)="upComp()" bfLabel="value-list" bfTooltip="It applies a flex-1 to the label, and flex-[*] to the value"></bf-checkbox> </div>
        <div class="col-3 padT5" [show]="compConf.hasValueList"> <bf-checkbox [(ngModel)]="compConf.labelLeft"  (ngModelChange)="upComp()" bfLabel="label-left"></bf-checkbox> </div>
        <div class="col-3 padT5" [show]="compConf.hasValueList"> <bf-checkbox [(ngModel)]="compConf.valueRight" (ngModelChange)="upComp()" bfLabel="value-right"></bf-checkbox> </div>


        <div class="col-12"></div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.valueSpaced"    (ngModelChange)="upComp()" bfLabel="value-spaced"  bfTooltip="It allows to apply flex-[*] on the label and flex-[*] on the value, for a more customized fit"></bf-checkbox> </div>
        <div class="col-3 padT5" *ngIf="compConf.valueSpaced"> <bf-checkbox [(ngModel)]="compConf.valueLeft" (ngModelChange)="upComp()" bfLabel="value-left"></bf-checkbox> </div>
        <div class="col-3" style="margin-top: -25px" *ngIf="compConf.valueSpaced">
          <bf-dropdown bfLabel="Label col" [(ngModel)]="compConf.labelCol" (ngModelChange)="upComp()"
                       [bfList]="list1to10" bfRender="id" bfSelect="id">
          </bf-dropdown>
        </div>
        <div class="col-3" style="margin-top: -25px" *ngIf="compConf.valueSpaced">
          <bf-dropdown bfLabel="Value col" [(ngModel)]="compConf.valueCol" (ngModelChange)="upComp()"
                       [bfList]="list1to10" bfRender="id" bfSelect="id">
          </bf-dropdown>
        </div>

      </div>

      <div class="row marT20">
        <div class="col-4">
          <bf-dropdown bfLabel="Text Size" [(ngModel)]="compConf.textSize" (ngModelChange)="upComp()"
                       [bfList]="textSizes" bfRender="id" bfSelect="id" bfEmptyLabel="default (14px)">
          </bf-dropdown>
        </div>
        <div class="col-4" *ngIf="compConf.hasValueList || compConf.hasValueInline">
          <bf-dropdown bfLabel="Value Margin" [(ngModel)]="compConf.valueMar" (ngModelChange)="upComp()"
                       [bfList]="valueMars" bfRender="id" bfSelect="id" bfEmptyLabel="default (5px)">
          </bf-dropdown>
        </div>
        <div class="col-4" *ngIf="compConf.hasValueList">
          <bf-dropdown bfLabel="Value List" [(ngModel)]="compConf.valueList" (ngModelChange)="upComp()"
                       [bfList]="valueLists" bfRender="id" bfSelect="id" bfEmptyLabel="default (1)">
          </bf-dropdown>
        </div>
      </div>

    </div>

  </div>
</div>

<hr>





<h5 class="mt-4">Examples:</h5>
<div class="col-12 examples-table">

  <div class="row">
    <div class="col-3" >
      <bf-label bfText="view.common.username"></bf-label>
    </div>
    <div class="col-9"> <pre>{{instance}}</pre> </div>
 </div>

  <div class="row">
    <div class="col-3">
      <bf-label bfText="view.common.name" [bfRequired]="true"></bf-label>
    </div>
    <div class="col-9"> <pre>{{instance2}}</pre> </div>
 </div>

  <div class="row">
    <div class="col-3">
      <bf-label bfText="view.common.email" bfTooltip="view.tooltip.message" bfRequired="true"></bf-label>
    </div>
    <div class="col-9"> <pre>{{instance3}}</pre> </div>
 </div>

  <div class="row">
    <div class="col-3">
      <bf-label bfText="Body = true" bfTooltip="view.tooltip.message" bfTooltipPos="left" [bfTooltipBody]="true">
      </bf-label>
      <bf-label bfText="Body = false" bfTooltip="view.tooltip.message" bfTooltipPos="left" [bfTooltipBody]="false">
      </bf-label>
    </div>
    <div class="col-9"> <pre>{{instance4}}</pre> </div>
 </div>

  <div class="row">
    <div class="col-3">
      <bf-label bfText="I have the value clickable" bfValue="I'm the value" (bfClick)="valueClickedExample('clickable value')">
      </bf-label>
    </div>
    <div class="col-9"> <pre>{{instance7}}</pre> </div>
  </div>

  <div class="row">
    <div class="col-3">
      <bf-label bfText="I have value" bfValue="I have tooltip" bfValueTooltip="I'm the tooltip">
      </bf-label>
    </div>
    <div class="col-9"> <pre>{{instance8}}</pre> </div>
  </div>
</div>


<div class="row">
  <div class="col-12"><hr></div>
  <div class="col-12">
    <p>It generates the following html structure:</p>
    <pre class="marL30">{{ bfHtmlStructure }}</pre>
  </div>
</div>


<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <h3>CSS Styling</h3>
    <p>The encapsulated styles do not use coloring.
      <br/>
      To provide a color based on a SCSS theme you can apply the following rules on a css global level :
    </p>
    <pre>{{ cssReset }}</pre>
  </div>
</div>

<!--Applicable classes -->
<div class="row">
  <div class="col-12">
    <hr>
    <h5 class="mt-4">Applicable classes:</h5>
  </div>

  <div class="col-12">
    <li class="padB15">By default the font of the label is bold. You can apply class "<span class="bold">no-bold</span>" to turn it normal:</li>
    <pre class="padL40">{{instance5}}</pre>
  </div>

  <div class="col-12 marT20">
    <li class="padB15">By default the label is suffixed with a ":" (colon). This is automatically hidden if the value of bfLabel is empty, but
      you can also force it (show/hide) by applying class "<span class="bold">no-colon</span>" or "<span class="bold">colon</span>":</li>
    <pre class="padL40">{{instance6}}</pre>
    <div class="padL40">
      <div> <bf-label class="no-colon" bfText="No Colon Label"></bf-label> </div>
      <div> <bf-label class="colon value-inline" bfValue="Colon with no label"></bf-label> </div>
    </div>
  </div>


  <div class="col-12 marT20">
    <li class="padB15">If you add a value to the label (bfValue), by default that falls under the label. If you like it right next to the label, use
       class "<span class="bold">value-inline</span>":</li>
  </div>

  <div class="col-2 padL50">
    <bf-label bfText="Label" bfValue="My first value"></bf-label>
  </div>
  <div class="col-3">
    <bf-label bfText="Label" bfValue="The second value" class="value-inline"></bf-label>
  </div>
  <div class="col-7">
    <pre class="marT10">{{ valueInlineExample }}</pre>
  </div>

  <div class="col-12 marT30">
    <li class="padB15">To align a list of horizontal label - value keys, you can use class "<span class="bold">value-list</span>". It applies a flex display on the label / value. aligning them to the center.
    <br>It is also possible to adjust the flex of the value, to give more room to the right side using
      "<span class="bold">value-list-2</span>", "<span class="bold">value-list-3</span>", "<span class="bold">value-list-4</span>" and so on:
    </li>
  </div>
  <div class="col-5 marT20 padL40">
    <bf-label class="value-list-3" bfText="User Name" bfValue="Joel Barba" ></bf-label>
    <bf-label class="value-list-3" bfText="Email" bfValue="joel.barba@blueface.com"></bf-label>
    <bf-label class="value-list-3" bfText="Number" bfValue="+353 089 422 6474"></bf-label>
    <bf-label class="value-list-3" bfText="Description" bfValue="He is a very nice guy"></bf-label>
  </div>
  <div class="col-7 marT20">
    <pre>{{valueListExample}}</pre>
  </div>
</div>



<div class="pad50"></div>
<div class="pad50"></div>

