# AccountInformation #
apiKey={whitesourceToken}
wss.url=https://saas.whitesourcesoftware.com/agent
productName=Frontend
projectName=bf-ui-lib

# Policies #
checkPolicies=true
forceCheckAllDependencies=false
forceUpdate=false
updateInventory=true

# General #
fileSystemScan=false
failErrorLevel=ALL
log.files.level=Off
log.level=debug
excludes=**/*.html,**/*.txt,**/*.scss,**/*.css

# Bazel Settings #
bazel.resolveDependencies=false

# Bower Settings #
bower.resolveDependencies=false

# NPM Settings #
npm.accessToken={npmToken}
npm.ignoreDirectoryPatterns=projects/bf-ui-lib-sandbox,projects/bf-ui-lib-sandbox-e2e,node_modules
npm.resolveLockFile=true
npm.resolveDependencies=true
npm.includeDevDependencies=false
npm.removeDuplicateDependencies=true
npm.ignoreNpmLsErrors=true
npm.identifyByNameAndVersion=false
npm.resolveMainPackageJsonOnly=true
npm.resolveGlobalPackages=false
npm.resolveAdditionalDependencies=false
