<div class="row">
  <div class="col-3">
    <h2>BfDnD - Example 2</h2>
  </div>
  <div class="col-9 text-right">
    <bf-btn bfText="BfDnD" (bfClick)="router.navigate(['/BfDnD'])"></bf-btn>
    <bf-btn bfText="Ex.1" (bfClick)="router.navigate(['/BfDnD/example1'])"></bf-btn>
    <bf-btn bfText="Ex.2" (bfClick)="router.navigate(['/BfDnD/example2'])" bfDisabled="true"></bf-btn>
    <bf-btn bfText="Ex.3" (bfClick)="router.navigate(['/BfDnD/example3'])"></bf-btn>
    <bf-btn bfText="Ex.4" (bfClick)="router.navigate(['/BfDnD/example4'])"></bf-btn>
    <bf-btn bfText="Ex.5" (bfClick)="router.navigate(['/BfDnD/example5'])"></bf-btn>
    <bf-btn bfText="Ex.6" (bfClick)="router.navigate(['/BfDnD/example6'])"></bf-btn>
  </div>
</div>
<hr/>
<h4>Drop to a list to add</h4>
<p>Drag elements from the left and drop them into the list on the right to be added</p>

<div class="row">
  <div class="col-3">
    <div class="board">
      <h4 class="padB30">Draggable elements</h4>
      <div class="draggable" [bfDraggable]="obj1">{{obj1.name}}</div>
      <div class="draggable" [bfDraggable]="obj2">{{obj2.name}}</div>
      <div class="draggable" [bfDraggable]="obj3">{{obj3.name}}</div>
    </div>
  </div>

  <div class="col-3">
    <div class="board">
      <div class="container" [bfDropContainer]="container1" (bfDrop)="addItem($event)">
        <h4 class="padB30">List 1</h4>
        <div *ngFor="let item of container1.list" class="marT5">
          <bf-btn bfType="delete-icon" (bfClick)="container1.list.removeById(item.id)"></bf-btn>
          <span class="marL20" >{{item.id}}. {{item.name}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="board">
      <div class="container" [bfDropContainer]="container2" (bfDrop)="addItem($event)">
        <h4 class="padB30">List 2</h4>
        <div *ngFor="let item of container2.list" class="marT5">
          <bf-btn bfType="delete-icon" (bfClick)="container2.list.removeById(item.id)"></bf-btn>
          <span class="marL20" >{{item.id}}. {{item.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12"><hr></div>

  <div class="col-8">
    <h5>View:</h5>
    <div class="code-box pad15">
      <pre>{{viewCode}}</pre>
    </div>
  </div>

  <div class="col-4">
    <h5>Scss:</h5>
    <div class="code-box pad15">
      <pre>{{scssCode}}</pre>
    </div>
  </div>

  <div class="col-12"><hr></div>
  <div class="col-12">
    <h5>Ctrl:</h5>
    <div class="code-box pad15">
      <pre>{{ctrlCode}}</pre>
    </div>
  </div>

</div>
