/* You can add global styles to this file, and also import other style files */

@import "~bf-icomoon/css/icomoon.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import 'scss/variables';
@import 'scss/helpers';
@import 'scss/popover';
@import 'scss/color-layer';


body {
  background: #ebeff2;
}

.examples-table {
  .row {
    border-top: 1px solid gray;
    &:last-child {
      border-bottom: 1px solid gray;
    }
  }
  [class*="col-"] {
    border-left: 1px solid gray;;
    padding: 5px 15px;
    &:last-child {
      border-right: 1px solid gray;
    }
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
  pre {
    margin: 0;
    white-space: pre-wrap;
    font-size: 18px;
  }
  .code-box {
    background: black;
    pre { font-size: 10px; color: white; }
  }
}



// --- Imported from the app to mock it here ----

ul.table-list {
  background-color: white;
  box-shadow: 0 1px 2px rgba(34, 36, 38, 0.15);
  li.list-header {
    background: $primary_color;
    color: $white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    width: 100%;
    padding: 10px 15px;
    word-break: break-word;
    h4 {
      color: $white;
      font-size: 16px;
      letter-spacing: 1px;
      margin-bottom: 0;
      cursor: pointer;
    }
  }
  li.list-row {
    width: 100%;
    padding: 5px 15px;
    word-break: break-word;
    &:nth-child(even) {
      background: rgba($primary_color, 0.08);
    }
    &:nth-child(odd) {
      background: $white;
    }
    // border-top: 1px solid $white;

    h5 {
      font-size: 16px;
      letter-spacing: 1px;
      margin-top: 7.5px;
      margin-bottom: 0;
    }
  }
}
