/* You can add global styles to this file, and also import other style files */

@import "~bf-icomoon/css/icomoon.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import 'variables.scss';


.examples-table {
  .row {
    border-top: 1px solid gray;
    &:last-child {
      border-bottom: 1px solid gray;
    }
  }
  [class*="col-"] {
    border-left: 1px solid gray;;
    padding: 5px 15px;
    &:last-child {
      border-right: 1px solid gray;
    }
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
  pre {
    margin: 0;
    white-space: pre-wrap;
    font-size: 18px;
  }
  .code-box {
    background: black;
    pre { font-size: 10px; color: white; }
  }
}