<h2>{{name}}</h2>
<hr/>
<p>{{desc}}</p>
<p>
  The radio button element is composed by 2 different components: <b>{{radioTag}}</b> + <b>{{radioGroupTag}}</b>
  <br>In terms of accessibility it is imperative that all {{radioTag}} remain wrapped inside a {{radioGroupTag}},
  which is the element who controls the group value and its interaction.
</p>
<p>
  The <b>{{radioGroupTag}}</b> has an <b>[(ngModel)]</b> binding, so it's the element that holds the formControl for its form interaction.
  <br>Inside that, add a <b>{{radioTag}}</b> for every option that has a selectable value. These elements are just to provide a dynamic
  and semantic way to construct the component, so it can be clearly seen on the html.
</p>
<p>
  By default the radios are not required. This means that if no option is selected (model matches no value) the form
  that wraps all the inputs will still be valid. If required, the form will only be valid if the model matches one radio value.
</p>



<!--Input Customization-->
<div class="whiteBg">
  <div class="row">
    <div class="col-5 marB15" *ngIf="isLinked">
      <div class="d-flex justify-content-between padR15">
        <h5 class="marB0">BfRadio Customization:</h5>
        <bf-btn bfIcon="icon-loop3" (bfClick)="reLink()"></bf-btn>
      </div>
      <form #myForm="ngForm">
        <div class="padV30">

          <bf-radio-group name="radio-group-1"
                          #inputRef="ngModel"
                          [class.white]="conf.css.white"
                          [class.inline]="conf.css.inline"
                          [class.label-block]="conf.css.labelBlock"
                          [(ngModel)]="myVariable"
                          [bfLabel]="conf.bfLabel"
                          [bfRequired]="conf.bfRequired"
                          [bfDisabled]="conf.bfDisabled"
                          [bfErrorOnPristine]="conf.bfErrorOnPristine"
                          [bfTooltip]="(conf.hasTooltip ? conf.tooltipText : null)"
                          [bfTooltipPos]="(conf.tooltipPos || 'top')"
                          [bfTooltipBody]="conf.tooltipBody"
          >
            <!--<bf-radio bfLabel="Option null"      [bfValue]="null"></bf-radio>-->
            <!--<bf-radio bfLabel="Option undefined" [bfValue]="undefined"></bf-radio>-->
            <!--<bf-radio bfLabel="Option empty"     [bfValue]="''"></bf-radio>-->
            <bf-radio *ngFor="let option of conf.options"
                      [bfLabel]="option.bfLabel"
                      [bfValue]="option.bfValue"
                      [bfIcon]="option.bfIcon"
                      [bfDisabled]="option.bfDisabled"
                      [bfTooltip]="option.hasTooltip ? option.bfTooltip : null"
                      [bfTooltipPos]="option.hasTooltip ? option.bfTooltipPos : null"
            >
            </bf-radio>
            <!--<bf-radio bfLabel="Option 2" bfValue="2"></bf-radio>-->
            <!--<bf-radio bfLabel="Option 3" bfValue="3"></bf-radio>-->
            <!--<bf-radio bfLabel="Option 4" bfValue="4"></bf-radio>-->
          </bf-radio-group>

        </div>

      </form>

      <div class="padT5">
        <div class="code-box pad15">
          <pre>{{customCompCode}}</pre>
        </div>
        <div class="row marT15">
          <div class="col-6">
            <b>ngForm</b>: valid = {{myForm.valid}}, pristine = {{myForm.pristine}}
            <br><br>
            <b>bfRadioGroup</b>: value={{inputRef.value | json}}
            , valid={{inputRef.valid | json}}
            , pristine={{inputRef.pristine | json}}
            , errors={{inputRef.errors | json}}
          </div>
          <div class="col-6">
            <bf-input class="input-col-5" [(ngModel)]="myVariable" bfLabel="ngModel"></bf-input>
          </div>
        </div>
      </div>
    </div>

    <div class="col-7">

      <!--Label-->
      <div class="row">
        <div class="col-3">
          <!--<bf-checkbox class="block marT15" [(ngModel)]="conf.hasLabel"   (ngModelChange)="upComp()" bfLabel="bfLabel"></bf-checkbox>-->
          <bf-checkbox class="block marT15" [(ngModel)]="conf.bfRequired" (ngModelChange)="upComp()" bfLabel="bfRequired"></bf-checkbox>
          <bf-checkbox class="block marT15" [(ngModel)]="conf.bfDisabled" (ngModelChange)="upComp()" bfLabel="bfDisabled"></bf-checkbox>
          <bf-checkbox class="block marT15" [(ngModel)]="conf.bfErrorOnPristine" (ngModelChange)="upComp()" bfLabel="bfErrorOnPristine"></bf-checkbox>

          <!--Classes-->
          <div class="padT25">CSS:</div>
          <bf-checkbox class="marT10" [(ngModel)]="conf.css.inline" (ngModelChange)="upComp()" bfLabel="inline"></bf-checkbox>
          <bf-checkbox class="marT10" [(ngModel)]="conf.css.labelBlock" (ngModelChange)="upComp()" bfLabel="label-block"></bf-checkbox>
          <bf-checkbox class="marT10" [(ngModel)]="conf.css.white" (ngModelChange)="upComp()" bfLabel="white" style="margin-left: 0;"></bf-checkbox>

        </div>
        <div class="col-9">
          <bf-input bfLabel="bfLabel" [(ngModel)]="conf.bfLabel" (ngModelChange)="upComp()"></bf-input>

          <!--Tooltip-->
          <div class="row">
            <bf-checkbox class="col-2 padT5" bfLabel="bfTooltip" [(ngModel)]="conf.hasTooltip" (ngModelChange)="upComp()"></bf-checkbox>
            <bf-input class="col-10" [bfDisabled]="!conf.hasTooltip" [(ngModel)]="conf.tooltipText" (ngModelChange)="upComp()"></bf-input>
            <div class="col-2"></div>
            <bf-dropdown class="col-5" bfLabel="bfTooltipPos" [bfDisabled]="!conf.hasTooltip"
                         [(ngModel)]="conf.tooltipPos" (ngModelChange)="upComp()"
                         [bfList]="[{ id: 'top', text: 'top' }, { id: 'right', text: 'right' }, { id: 'bottom', text: 'bottom' }, { id: 'left', text: 'left' }]"
                         bfRender="text" bfSelect="id">
            </bf-dropdown>
            <bf-dropdown class="col-5" bfLabel="bfTooltipBody" [bfDisabled]="!conf.hasTooltip"
                         [(ngModel)]="conf.tooltipBody" (ngModelChange)="upComp()"
                         [bfList]="[{ id: 'true', text: 'true' }, { id: 'false', text: 'false' }]" bfRender="text" bfSelect="id">
            </bf-dropdown>
          </div>
        </div>
      </div>


      <div class="row marT15">
        <div class="col-12"><hr></div>
        <div class="col-3" *ngFor="let op of conf.options;">
          <h6>{{op.name}}</h6>
          <bf-input bfLabel="bfValue" [(ngModel)]="op.bfValue" (ngModelChange)="upComp()"></bf-input>
          <bf-input bfLabel="bfLabel" [(ngModel)]="op.bfLabel" (ngModelChange)="upComp()"></bf-input>

          <bf-dropdown class="full-width flat" bfLabel="bfIcon"
                       [(ngModel)]="op.bfIcon" (ngModelChange)="upComp()"
                       [bfList]="icons" bfRender="icon" bfSelect="icon" [bfRequired]="false">
          </bf-dropdown>

          <bf-checkbox class="block marT15" [(ngModel)]="op.bfDisabled" (ngModelChange)="upComp()" bfLabel="bfDisabled"></bf-checkbox>
          <bf-checkbox class="block marT15" [(ngModel)]="op.hasTooltip" (ngModelChange)="upComp()" bfLabel="Has Tooltip"></bf-checkbox>

          <bf-input *ngIf="op.hasTooltip" [(ngModel)]="op.bfTooltip" (ngModelChange)="upComp()" bfLabel="bfTooltip" class="d-block marT15"></bf-input>
          <bf-dropdown *ngIf="op.hasTooltip" bfLabel="bfTooltipPos" [(ngModel)]="op.bfTooltipPos" (ngModelChange)="upComp()"
                       [bfList]="[{ id: 'top', text: 'top' }, { id: 'right', text: 'right' }, { id: 'bottom', text: 'bottom' }, { id: 'left', text: 'left' }]"
                       bfRender="text" bfSelect="id">
          </bf-dropdown>

        </div>
      </div>



    </div>

  </div>
</div>

<hr>
<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>



<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <h3>CSS Styling</h3>
    <p>Use the following SASS variables to provide a customized coloring for the checkbox:</p>
    <pre class="padL30">{{ cssColors }}</pre>
    <p>The radio button coloring can be also overwritten with the following:</p>
    <pre class="padL30">{{ cssReset }}</pre>
  </div>
</div>

