<h2>{{name}}</h2>
<hr/>
<p>{{desc}}</p>
<p>This is a simplified version of the bfDropdown from AngularJS (for now). It allows to select 1 value from a list of values.
For other options, check components bf-autoselector, bf-multiselector, ...</p>

<h5 class="mt-4">Parameters:</h5>
<div *ngIf="false" class="col-12"><pre>{{api}}</pre></div>


<!--Test dropdown in a form-->
<!--<div class="col-4">-->
<!--  <form #profileSettingsForm="ngForm">-->
<!--    invalid={{profileSettingsForm.invalid}}-->
<!--    <bf-dropdown class="col-12 full-width" name="timeZone"-->
<!--                 [(ngModel)]="profileForm.time_zone"-->
<!--                 [bfList]="timeZones"-->
<!--                 bfLabel="view.common.timezone"-->
<!--                 bfSelect="time_zone"-->
<!--                 bfRender="time_zone"-->
<!--                 #profileTimeZone="ngModel"-->
<!--                 [bfRequired]="true">-->
<!--    </bf-dropdown>-->
<!--    valid={{profileTimeZone.valid}}-->
<!--    , errors={{profileTimeZone.errors | json}}-->
<!--  </form>-->
<!--</div>-->


<!--Button Customization-->
<div *ngIf="isViewOn" class="whiteBg">
  <div class="row">
    <div class="col-5 marB15">
      <h5 class="marB25">Dropdown Customization:</h5>

      <div *ngIf="customExLinked">
        <bf-dropdown [class.full-width]="conf.hasFullWidth"
                     [(ngModel)]="selObj10"
                     [bfList]="dList"
                     [bfSelect]="(conf.hasSelect && !!conf.selectField) ? conf.selectField : null"
                     [bfRender]="(conf.hasRender ? conf.renderExp : null)"
                     [bfRenderFn]="(conf.hasRenderFn ? renderFn : null)"

                     [bfEmptyLabel]="conf.hasEmptyLabel ? conf.customEmptyLabel : 'view.common.empty'"
                     [bfEmptyValue]="conf.hasEmptyValue ? conf.customEmptyValue : null"

                     [bfRequired]="conf.isRequired"
                     [bfDisabled]="conf.isDisabled"
                     [bfDisabledTip]="conf.isDisabled ? conf.disabledTip: null"
                     [bfLoading]="conf.isLoadingWithPromise ? conf.bfLoadingPromise : conf.isLoading"
                     [bfErrorOnPristine]="conf.isErrorOnPristine"
                     [bfLabel]="(conf.hasLabel ? conf.labelText : '')"
                     [bfTooltip]="(conf.hasLabel && conf.hasTooltip ? conf.tooltipText : null)"
                     [bfTooltipPos]="(conf.hasLabel && conf.tooltipPos || 'top')"
                     [bfTooltipBody]="conf.hasLabel && conf.tooltipBody"
        >
        </bf-dropdown>
                     <!--[bfLoading]="conf.isLoading"-->
      </div>
      <pre class="padT10">Selection = {{selObj10 | json}}</pre>
      <div>
        <div class="code-box pad15">
          <pre>{{code}}</pre>
        </div>
      </div>
    </div>

    <div class="col-7">

      <div class="row marT15">
        <bf-checkbox class="col-3 block padT5" bfLabel="bfRequired" [(ngModel)]="conf.isRequired" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-checkbox class="col-3 block padT5" bfLabel="bfErrorOnPristine" [(ngModel)]="conf.isErrorOnPristine" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-checkbox class="col-3 block padT5" bfLabel="bfDisabled" [(ngModel)]="conf.isDisabled" (ngModelChange)="upComp()"></bf-checkbox>
        <div class="col-6 offset-6" *ngIf="conf.isDisabled">
          <bf-input class="flat" [(ngModel)]="conf.disabledTip" bfPlaceholder="This is disabled because..." (ngModelChange)="upComp()"></bf-input>
        </div>
      </div>

      <div class="row marT15">
        <bf-checkbox class="col-2 block padT5" bfLabel="bfLabel" [(ngModel)]="conf.hasLabel" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-4" style="margin-bottom: -5px;" [(ngModel)]="conf.labelText" (ngModelChange)="upComp()" [bfDisabled]="!conf.hasLabel"></bf-input>

        <bf-checkbox class="col-3 block padT5" bfLabel="bfLoading" [(ngModel)]="conf.isLoading" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-btn bfType="save" bfText="bfLoading (promise)" (bfClick)="loadWithPromise()"></bf-btn>
        <!--<bf-checkbox class="col-3 block padT5" bfLabel="bfLoading (with promise)"-->
        <!--             [(ngModel)]="conf.isLoadingWithPromise" (ngModelChange)="upComp()"></bf-checkbox>-->

        <div class="offset-2 col-10" *ngIf="conf.hasLabel">
          <div class="row">
            <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="conf.hasTooltip"  (ngModelChange)="upComp()" bfLabel="bfTooltip"></bf-checkbox> </div>
            <div class="col-9" *ngIf="conf.hasTooltip">
              <bf-input [(ngModel)]="conf.tooltipText" (ngModelChange)="upComp()"></bf-input>
            </div>
            <div class="col-3" *ngIf="conf.hasTooltip">
              <bf-checkbox [(ngModel)]="conf.tooltipBody" bfLabel="bfTooltipBody" (ngModelChange)="upComp()"></bf-checkbox>
            </div>
            <div class="col-9" *ngIf="conf.hasTooltip">
              <bf-label class="marR20" bfText="bfTooltipPos"></bf-label>
              <bf-radio class="marR15" [(ngModel)]="conf.tooltipPos" bfLabel="top"     bfValue="top"    bfRadioGroup="tooltipPos" (ngModelChange)="upComp()"></bf-radio>
              <bf-radio class="marR15" [(ngModel)]="conf.tooltipPos" bfLabel="left"    bfValue="left"   bfRadioGroup="tooltipPos" (ngModelChange)="upComp()"></bf-radio>
              <bf-radio class="marR15" [(ngModel)]="conf.tooltipPos" bfLabel="right"   bfValue="right"  bfRadioGroup="tooltipPos" (ngModelChange)="upComp()"></bf-radio>
              <bf-radio class="marR15" [(ngModel)]="conf.tooltipPos" bfLabel="bottom"  bfValue="bottom" bfRadioGroup="tooltipPos" (ngModelChange)="upComp()"></bf-radio>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="conf.hasSelect" (ngModelChange)="upComp()" bfLabel="bfSelect"></bf-checkbox> </div>
        <div class="col-10" *ngIf="conf.hasSelect">
          <bf-dropdown [(ngModel)]="conf.selectField" (ngModelChange)="upComp()" [bfList]="compSelFields" bfRender="id" bfSelect="id" [bfRequired]="true"> </bf-dropdown>
        </div>
      </div>

      <div class="row marT15">
        <bf-checkbox class="col-2 padT5" bfLabel="bfRender"
                     [(ngModel)]="conf.hasRender"
                     (ngModelChange)="conf.hasRenderFn = false; upComp()">
        </bf-checkbox>
        <div class="col-10">
          <bf-input class="flat" *ngIf="conf.hasRender"
                    [(ngModel)]="conf.renderExp"
                    bfPlaceholder="$$$ $item.name + ' - ' + $item.email" (ngModelChange)="upComp()">
          </bf-input>
        </div>

        <bf-checkbox class="col-2 padT5" bfLabel="bfRenderFn"
                     [(ngModel)]="conf.hasRenderFn"
                     (ngModelChange)="conf.hasRender = false; upComp()">
        </bf-checkbox>
        <div class="col-10" *ngIf="conf.hasRenderFn && !conf.hasRender">
          <pre style="background: aliceblue; padding: 5px 10px; margin-bottom: 0;">{{renderFnStr}}</pre>
        </div>
      </div>

      <div class="row marT15">
        <div class="col-2 padT5">
          <bf-checkbox [(ngModel)]="conf.hasEmptyLabel" (ngModelChange)="upComp()" bfLabel="bfEmptyLabel"></bf-checkbox>
        </div>
        <div class="col-4">
          <bf-input class="flat" [hidden]="!conf.hasEmptyLabel"
                    [(ngModel)]="conf.customEmptyLabel" (ngModelChange)="upComp()">
          </bf-input>
        </div>

        <bf-checkbox class="col-2 block padT5" bfLabel="bfEmptyValue" [(ngModel)]="conf.hasEmptyValue" (ngModelChange)="upComp()"></bf-checkbox>

        <div class="col-4">
          <bf-input class="flat" [hidden]="!conf.hasEmptyValue"
                    [(ngModel)]="conf.customEmptyValue" (ngModelChange)="upComp()">
          </bf-input>
        </div>

      </div>

      <div class="row marT15">
        <bf-checkbox class="col-3 padT5" [(ngModel)]="conf.hasImages" (ngModelChange)="switchList()" bfLabel="Show images"></bf-checkbox>
        <span class="marT5" [hidden]="!conf.hasImages">To show images just add the property "<b>img</b>" on every object of the array with the url</span>
     </div>
      <div class="row">
        <bf-checkbox class="col-3 padT5" [(ngModel)]="conf.hasIcons" (ngModelChange)="switchList()" bfLabel="Show icons"></bf-checkbox>
        <span class="marT5" [hidden]="!conf.hasIcons">To show icons just add the property "<b>icon</b>" on every object of the array with the icomoon class</span>
     </div>

      <div class="row marT15">
        <div class="col-3 padT5">
          <bf-checkbox [(ngModel)]="conf.hasFullWidth" (ngModelChange)="upComp()" bfLabel="Full Width"></bf-checkbox>
       </div>
        <div class="col-9 text-right padT30">
          <bf-btn bfType="save" bfText="Select Item 13" (bfClick)="mockAutoSelect()"></bf-btn>
          <bf-btn bfType="save" bfText="Reset Model" (bfClick)="selObj10=null"></bf-btn>
          <bf-btn bfType="save" bfText="Rebuild" (bfClick)="rebuildView()"></bf-btn>
        </div>
      </div>

    </div>

  </div>
</div>

<!--<div class="row marT15">-->
<!--  <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="conf.isRequired" (ngModelChange)="upComp()" bfLabel="Is Required"></bf-checkbox> </div>-->
<!--</div>-->

<hr>


<!--Single and Full Selection Examples-->
<div class="row whiteBg">
  <div class="col-8 marB20">
    <h5>Single and Full Selection Examples</h5>
  </div>
  <div class="col-4 text-right">
    <bf-btn bfText="Reset Dropdowns" bfType="save" (bfClick)="rebuildView()"></bf-btn>
  </div>

  <div class="col-3" *ngIf="isViewOn">

    <bf-dropdown class="full-width" #dropdown1="ngModel"
                 name="single-sel-test"
                 [(ngModel)]="selObj7"
                 [bfList]="myList2"
                 [bfRequired]="conf.isRequired"
                 [bfDisabled]="conf.isDisabled"
                 [bfErrorOnPristine]="conf.isErrorOnPristine"
                 bfSelect="username"
                 bfLabel="Single Field Selection"
                 bfRender="username">
    </bf-dropdown>
    Selected Model = {{selObj7 | json}}
    <hr>

    <div><bf-radio [(ngModel)]="selObj7" [bfValue]="null" bfLabel="Empty value (null)"></bf-radio></div>
    <div><bf-radio [(ngModel)]="selObj7" bfValue="aaaaa" bfLabel="Invalid Option"></bf-radio></div>
    <div *ngFor="let listOp of myList2">
      <bf-radio [(ngModel)]="selObj7" [bfValue]="listOp.username" bfLabel="{{'- ' + listOp.username}}"></bf-radio>
    </div>
  </div>


  <div class="col-8" *ngIf="isViewOn">
    <bf-dropdown class="full-width" #dropdown2="ngModel"
                 [(ngModel)]="selObj6"
                 [bfList]="myList"
                 [bfRequired]="conf.isRequired"
                 [bfDisabled]="conf.isDisabled"
                 [bfErrorOnPristine]="conf.isErrorOnPristine"
                 bfLabel="Full Object Selection">
    </bf-dropdown>
    Selected Model = {{selObj6 | json}}

    <br>formControl: value={{dropdown2.value}}
    , valid={{dropdown2.valid}}
    , invalid={{dropdown2.invalid}}
    , pristine={{dropdown2.pristine}}
    , dirty={{dropdown2.dirty}}
    , errors={{dropdown2.errors | json}}

    <hr>
    <div>
      <div><bf-radio [(ngModel)]="selObj6" [bfValue]="null" bfLabel="Empty value (null)" bfRadioGroup="ex2"></bf-radio></div>
      <div><bf-radio [(ngModel)]="selObj6" bfValue="aaaaa" bfLabel="Invalid Option" bfRadioGroup="ex2"></bf-radio></div>
      <div *ngFor="let listOp of myList">
        <bf-radio [(ngModel)]="selObj6" [bfValue]="listOp" bfLabel="{{listOp | json}}" bfRadioGroup="ex2"></bf-radio>
      </div>
    </div>
  </div>
</div>





<!--External control-->
<div *ngIf="isViewOn" class="whiteBg">
  <div class="row">
    <div class="col-12 marB5">
      <h5 class="marB25">External Control Example (extCtrl$):</h5>
      <p>It is possible to control some options of the dropdown externally.<br>
        To do so, you can pass an observable in "extCtrl$". The component will subscribe and listen to it, so actions
        can be triggered from outside. You can use a Subject if you need to trigger them manually. The .next() should send an object with an "action" and "value". The available actions are:<br?
      </p>
    </div>

    <div class="col-5 marB15">
      <code>
        <ul><li *ngFor="let ctrlAction of ctrlActions">{{ctrlAction}}</li></ul>
      </code>
      <div>
        <bf-dropdown class="full-width" bfLabel="Example Dropdown"
                     [(ngModel)]="selObj8"
                     [bfList]="myList"
                     [extCtrl$]="extCtrl$">
        </bf-dropdown>
      </div>
    </div>

    <div class="col-7">
      <bf-btn bfText="Expand"   (bfClick)="extCtrl$.next({ action: 'expand' })"></bf-btn>
      <bf-btn bfText="Collapse" (bfClick)="extCtrl$.next({ action: 'collapse' })"></bf-btn>
      <bf-btn bfText="Toggle"   (bfClick)="extCtrl$.next({ action: 'toggle' })"></bf-btn>
      <bf-btn bfText="Type"     (bfClick)="extCtrl$.next({ action: 'type', value: 'ax' })"></bf-btn>
      <!--<bf-input style="margin-left: 15px; display: inline-block" [ngModel]="res"-->
      <!--          (ngModelChange)="extCtrl$.next({ action: 'type', value: $event })">-->
      <!--</bf-input>-->
      <div class="marT10">
        <div class="code-box pad15">
          <pre>{{extCtrlExample}}</pre>
        </div>
      </div>
    </div>

  </div>
</div>


<hr>


<h5 class="mt-4">Simple Examples:</h5>
<div *ngIf="true" class="col-12 examples-table">

  <div class="row">
    <div class="col-3">
      <bf-dropdown [(ngModel)]="selObj2" [bfList]="myList"></bf-dropdown>
      Selection: {{ selObj2 | json }}
    </div>
    <div class="col-9"> <pre>{{instance}}</pre> </div>
  </div>

  <div class="row">
    <div class="col-3">
      <bf-dropdown [(ngModel)]="selObj3"
                   [bfList]="myList"
                   bfSelect="id"
                   bfRender="email">
      </bf-dropdown>
      Selection: {{ selObj3 | json }}
    </div>
    <div class="col-9"> <pre>{{instance2}}</pre> </div>
  </div>

  <div class="row">
    <div class="col-3">
      <bf-dropdown [(ngModel)]="selObj4"
                   [bfList]="myList"
                   bfSelect="username, first_name, last_name"
                   bfRender="$$$ $item.first_name + ' ' + $item.last_name + ' (' + $item.email + ')'">
      </bf-dropdown>
      Selection: {{ selObj4 | json }}
    </div>
    <div class="col-9"> <pre>{{instance3}}</pre> </div>
  </div>

  <div class="row">
    <div class="col-3">
      <bf-dropdown [(ngModel)]="selObj5"
                   [bfList]="myList"
                   bfRender="email"
                   bfLabel="Email"
                   [bfRequired]="true"
                   [bfDisabled]="false">
      </bf-dropdown>
      Selection: {{ selObj5 | json }}
    </div>
    <div class="col-9"> <pre>{{instance4}}</pre> </div>
  </div>

</div>



<!--Applicable classes -->
<div *ngIf="true" class="row">
  <div class="col-12 marT20">
    <hr>
    <h5 class="mt-4">Applicable classes:</h5>
    <p>If you need a dropdown covering the whole with of the a block element (with 100%) you can add class "<span class="bold">full-width</span>":</p>
  </div>
  <div class="col-2 text-right">
    <p class="padT10">Full Width:</p>
    <p class="padT10">Normal:</p>
  </div>
  <div class="col-5" style="border: 1px dashed red; padding: 5px 0;">
    <bf-dropdown [(ngModel)]="selObj3" [bfList]="myList" bfRender="username" class="full-width"></bf-dropdown>
    <bf-dropdown [(ngModel)]="selObj3" [bfList]="myList" bfRender="username"></bf-dropdown>
  </div>

  <div class="col-12 marT20">
    <p>If you need a dropdown without the default margin bottom (15) you can apply class "<span class="bold">flat</span>":</p>
  </div>

  <div class="col-3 offset-2">
    <p class="padT10">Regular:</p>
    <div style="border: 1px dashed red; padding: 1px 10px;">
      <bf-dropdown [(ngModel)]="selObj3" [bfList]="myList" bfRender="username"></bf-dropdown>
    </div>
  </div>
  <div class="col-3">
    <p class="padT10">Flat:</p>
    <div style="border: 1px dashed red; padding: 1px 10px;">
      <bf-dropdown class="flat" [(ngModel)]="selObj3" [bfList]="myList" bfRender="username"></bf-dropdown>
    </div>
  </div>

</div>


<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <h3>CSS Styling</h3>
    <p>The following SASS variables can be overridden to provide customized coloring:</p>
    <pre class="padL30">{{ cssReset }}</pre>
  </div>
</div>
