<h2>{{name}}</h2>
<hr/>
<p>{{desc}}</p>
<p>This is a simplified version of the <b>bfDropdown</b> from AngularJS (meaning that not all options are available here).
  It allows to select 1 value from a list of values. For other options,
  check components <a href="/bf-autocomplete">bf-autocomplete</a>, <a href="/bf-multi-selector">bf-multi-selector</a>, ...
</p>
<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>




<!--Button Customization-->
<div class="whiteBg">
  <div class="row">
    <div class="col-5 marB15">
      <h5 class="marB25">Dropdown Customization:</h5>

      <div *ngIf="isLinked">
        <div class="col-12 padL30 marB30" *ngIf="!!bfDropdownRef" style="font-family: monospace;">
          FromControl (ngModel):<br>
          <div class="marL10">- bfInputRef.value: <b>{{bfDropdownRef.value | json}}</b></div>
          <div class="marL10">- bfInputRef.valid: <b [style.color]="bfDropdownRef.valid ? '#28a745': '#dc3545'">{{bfDropdownRef.valid | json}}</b></div>
          <div class="marL10">- bfInputRef.pristine: <b>{{bfDropdownRef.pristine | json}}</b></div>
          <div class="marL10">- bfInputRef.errors: <b>{{bfDropdownRef.errors | json}}</b></div>
        </div>

        <!--<div class="col-12 padL30" *ngIf="!!innerInput" style="font-family: monospace;">-->
        <!--  FromControl (internal input):<br>-->
        <!--  <div class="marL10">- inputCtrl.value: <b>{{innerInput.value | json}}</b></div>-->
        <!--  <div class="marL10">- inputCtrl.valid: <b [style.color]="innerInput.valid ? '#28a745': '#dc3545'">{{innerInput.valid | json}}</b></div>-->
        <!--  <div class="marL10">- inputCtrl.pristine: <b>{{innerInput.pristine | json}}</b></div>-->
        <!--  <div class="marL10">- inputCtrl.errors: <b>{{innerInput.errors | json}}</b></div>-->
        <!--  <hr>-->
        <!--</div>-->

        <bf-dropdown [class.full-width]="conf.hasFullWidth" style="max-width: 450px;"
                      [class.flat]="conf.hasFlat"
                      [class.extra-btn]="conf.extraBtn"
                      [(ngModel)]="selObj10" #bfDropdownRef="ngModel"
                      [bfList]="dList"
                      [bfOrderBy]="conf.hasOrder ? conf.bfOrderBy : null"
                      [bfGroupBy]="conf.hasGroupBy ? 'size' : null"
                      [bfSelect]="(conf.hasSelect && !!conf.selectField) ? conf.selectField : null"
                      [bfRender]="(conf.hasRender ? conf.renderExp : null)"
                      [bfRenderFn]="(conf.hasRenderFn ? renderFn : null)"

                      [bfPlaceholder]="conf.hasPlaceholder ? conf.bfPlaceholder : null"
                      [bfEmptyLabel]="conf.hasEmptyLabel ? conf.customEmptyLabel : null"
                      [bfEmptyValue]="conf.hasEmptyValue ? conf.customEmptyValue : null"

                      [bfRequired]="conf.isRequired"
                      [bfDisabled]="conf.isDisabled"
                      [bfDisabledTip]="conf.isDisabled ? conf.disabledTip: null"
                      [bfLoading]="conf.isLoadingWithPromise ? conf.bfLoadingPromise : conf.isLoading"
                      [bfErrorOnPristine]="conf.isErrorOnPristine"
                      [bfLabel]="(conf.hasLabel ? conf.labelText : '')"
                      [bfTooltip]="(conf.hasLabel && conf.hasTooltip ? conf.tooltipText : null)"
                      [bfTooltipPos]="(conf.hasLabel && conf.tooltipPos || 'top')"
                      [bfTooltipBody]="conf.hasLabel && conf.tooltipBody"
                      [bfErrorText]="conf.hasErrorText ? conf.bfErrorText : ''"
                      [bfErrorPos]="conf.errorPos"
                      [bfKeepSearch]="conf.bfKeepSearch"
                      [bfHtmlRender]="conf.bfHtmlRender"
                      [bfAutoCollapse]="conf.bfAutoCollapse"
                      [bfFilterFn]="conf.hasFilterFn ? conf.bfFilterFn : null"
                      [bfCustomPlacementList]="conf.bfCustomPlacementList"
                      (bfOnLoaded)="myCtrl = $event"
        >
        </bf-dropdown>
        <bf-btn *ngIf="conf.extraBtn" bfType="add-icon"></bf-btn>
      </div>

      <div class="padT30">
        <bf-btn bfIcon="icon-loop32"  bfText="Relink" (bfClick)="reLink()"></bf-btn>
        <bf-btn bfText="val=null" (bfClick)="selObj10=null"></bf-btn>
        <bf-btn bfText="val='arrax'" (bfClick)="selObj10='arrax'"></bf-btn>
        <bf-btn bfText="val='abc'" (bfClick)="selObj10='abc'"></bf-btn>
        <bf-btn bfText="val=Item 13" (bfClick)="mockAutoSelect()"></bf-btn>
      </div>

      <pre class="padT10">Selection = {{selObj10 | json}}</pre>
      <div>
        <div class="code-box pad15">
          <pre>{{code}}</pre>
        </div>
      </div>
    </div>

    <div class="col-7">

      <div class="row marT15">
        <bf-checkbox class="col-2 block padT5" bfLabel="bfRequired" [(ngModel)]="conf.isRequired" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-checkbox class="col-3 block padT5" bfLabel="bfErrorOnPristine" [(ngModel)]="conf.isErrorOnPristine" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-checkbox class="col-2 block padT5" bfLabel="bfDisabled" [(ngModel)]="conf.isDisabled" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-5 flat" [(ngModel)]="conf.disabledTip" bfPlaceholder="[bfDisabledTip]: This is disabled because..." (ngModelChange)="upComp()"></bf-input>
      </div>

      <div class="row marT15">

        <!--bfLabel-->
        <bf-checkbox class="col-2 block padT5" bfLabel="bfLabel" [(ngModel)]="conf.hasLabel" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-4" style="margin-bottom: -5px;" [(ngModel)]="conf.labelText" (ngModelChange)="upComp()" [bfDisabled]="!conf.hasLabel"></bf-input>

        <!--bfLoading-->
        <bf-checkbox class="col-3 block padT5" bfLabel="bfLoading" [(ngModel)]="conf.isLoading" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-btn bfType="save" bfText="bfLoading (promise)" (bfClick)="loadWithPromise()"></bf-btn>

        <!--bfTooltip-->
        <div class="offset-2 col-10">
          <div class="row">
            <bf-checkbox class="col-3 padT5" bfLabel="bfTooltip" [bfDisabled]="!conf.hasLabel" [(ngModel)]="conf.hasTooltip"  (ngModelChange)="upComp()"></bf-checkbox>
            <bf-input class="col-9" [bfDisabled]="!conf.hasTooltip" [(ngModel)]="conf.tooltipText" (ngModelChange)="upComp()"></bf-input>
            <bf-checkbox class="col-3" bfLabel="bfTooltipBody" [bfDisabled]="!conf.hasTooltip" [(ngModel)]="conf.tooltipBody" (ngModelChange)="upComp()"></bf-checkbox>
            <div class="col-9">
              <bf-label class="marR20" bfText="bfTooltipPos"></bf-label>
              <bf-radio class="marR15" [bfDisabled]="!conf.hasTooltip" [(ngModel)]="conf.tooltipPos" bfLabel="top"     bfValue="top"    bfRadioGroup="tooltipPos" (ngModelChange)="upComp()"></bf-radio>
              <bf-radio class="marR15" [bfDisabled]="!conf.hasTooltip" [(ngModel)]="conf.tooltipPos" bfLabel="left"    bfValue="left"   bfRadioGroup="tooltipPos" (ngModelChange)="upComp()"></bf-radio>
              <bf-radio class="marR15" [bfDisabled]="!conf.hasTooltip" [(ngModel)]="conf.tooltipPos" bfLabel="right"   bfValue="right"  bfRadioGroup="tooltipPos" (ngModelChange)="upComp()"></bf-radio>
              <bf-radio class="marR15" [bfDisabled]="!conf.hasTooltip" [(ngModel)]="conf.tooltipPos" bfLabel="bottom"  bfValue="bottom" bfRadioGroup="tooltipPos" (ngModelChange)="upComp()"></bf-radio>
            </div>
          </div>
        </div>

      </div>

      <!--bfSelect-->
      <div class="row marT15">
        <bf-checkbox class="col-2 padT5" bfLabel="bfSelect" [(ngModel)]="conf.hasSelect" (ngModelChange)="upComp()" bfTooltipPos="left" bfTooltip="The field of the object to be set in the ngModel when selected. If empty, the whole object is set to ngModel."></bf-checkbox>
        <div class="col-2 padT5 padB15">
          <select [disabled]="!conf.hasSelect" [(ngModel)]="conf.selectField" (ngModelChange)="upComp()">
            <option value="id">id</option>
            <option value="username">username</option>
            <option value="email">email</option>
            <option value="first_name">first_name</option>
            <option value="last_name">last_name</option>
          </select>
        </div>
        <bf-checkbox class="col-2 padT5" bfLabel="bfOrderBy" [(ngModel)]="conf.hasOrder" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-3" [bfDisabled]="!conf.hasOrder" [(ngModel)]="conf.bfOrderBy" (ngModelChange)="upComp()"></bf-input>

        <bf-checkbox class="col-2 offset-1 padT5" bfLabel="bfGroupBy" [(ngModel)]="conf.hasGroupBy" (ngModelChange)="upComp()"></bf-checkbox>
      </div>

      <!--bfRender-->
      <div class="row marT5">
        <bf-checkbox class="col-2 padT5" bfLabel="bfRender" bfTooltipPos="left" bfTooltip="How to display every item on the list. It can be either a field of the object or a translation label"
                      [(ngModel)]="conf.hasRender" (ngModelChange)="conf.hasRenderFn = false; upComp()">
        </bf-checkbox>
        <bf-input class="col-3 flat" [bfDisabled]="!conf.hasRender" [(ngModel)]="conf.renderExp"
                  bfPlaceholder="field to display..." (ngModelChange)="upComp()">
        </bf-input>

        <div class="col-6 padT5" *ngIf="conf.hasRender && !conf.hasRenderFn">
          <pre *ngIf="conf.renderExp === 'views.item_number'" style="background: aliceblue; padding: 5px 10px; margin-bottom: 0;">{{renderInfo}}</pre>
          <pre *ngIf="conf.renderExp !== 'views.item_number'" style="background: aliceblue; padding: 5px 10px; margin-bottom: 0;">bfRender="id", "username", "email", "first_name" ...</pre>
        </div>
        <bf-checkbox class="col-1 padT10" bfLabel="" [(ngModel)]="conf.renderLabel" bfTooltip="Render a translation label instead"
                      (ngModelChange)="(conf.renderLabel ? conf.renderExp = 'views.item_number' : conf.renderExp = 'email'); upComp()">
        </bf-checkbox>

        <div class="col-12 padT10"></div>

        <bf-checkbox class="col-2 padT5" bfLabel="bfRenderFn" bfTooltipPos="left" bfTooltip="If bfRender is not enough, use this function to determine how to render every item on the list"
                      [(ngModel)]="conf.hasRenderFn" (ngModelChange)="conf.hasRender = false; upComp()">
        </bf-checkbox>
        <div class="col-10" *ngIf="conf.hasRenderFn && !conf.hasRender">
          <pre style="background: aliceblue; padding: 5px 10px; margin-bottom: 0;">{{renderFnStr}}</pre>
        </div>
      </div>

      <!--Empty label + Empty Value-->
      <div class="row marT15">
        <bf-checkbox class="col-2 padT5" bfLabel="bfPlaceholder" bfTooltipPos="left" bfTooltip="To be displayed when 'Empty' option selected (only if no bfEmptyLabel)"
                      [(ngModel)]="conf.hasPlaceholder" (ngModelChange)="upComp()">
        </bf-checkbox>
        <bf-input class="col-4 marB15 flat" [bfDisabled]="!conf.hasPlaceholder || conf.hasEmptyLabel" [(ngModel)]="conf.bfPlaceholder" (ngModelChange)="upComp()"></bf-input>
        <div class="col-6 padT5">
          <span class="text-danger" [show]="conf.hasPlaceholder && conf.hasEmptyLabel">When <b>[bfEmptyLabel]</b> is set, the placeholder is never shown</span>
        </div>

        <bf-checkbox class="col-2 padT5" bfLabel="bfEmptyLabel" bfTooltipPos="left" bfTooltip="To be displayed instead of 'Empty' (null) on both the list and the input"
                      [(ngModel)]="conf.hasEmptyLabel" (ngModelChange)="upComp()">
        </bf-checkbox>
        <bf-input class="col-4 flat" [bfDisabled]="!conf.hasEmptyLabel" [(ngModel)]="conf.customEmptyLabel" (ngModelChange)="upComp()"></bf-input>

        <bf-checkbox class="col-2 block padT5" bfLabel="bfEmptyValue" bfTooltip="Value to be set to ngModel when empty option selected (default=null)"
                      [(ngModel)]="conf.hasEmptyValue" (ngModelChange)="upComp()">
        </bf-checkbox>
        <bf-input class="col-4 flat" [bfDisabled]="!conf.hasEmptyValue" [(ngModel)]="conf.customEmptyValue" (ngModelChange)="upComp()"></bf-input>
      </div>

      <!--bfErrorText + bfError Pos-->
      <div class="row marT15">
        <bf-checkbox class="col-2 padT10" bfLabel="bfErrorText" [(ngModel)]="conf.hasErrorText" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-4" bfPlaceholder="'none' = displays no text"
                  [(ngModel)]="conf.bfErrorText" [bfDisabled]="!conf.hasErrorText" (ngModelChange)="upComp()">
        </bf-input>

        <div class="col-2">
          <bf-label class="block" bfText="bfErrorPos"></bf-label>
          <bf-radio [(ngModel)]="conf.errorPos" (ngModelChange)="upComp()" bfRadioGroup="errPos" bfLabel="none" bfValue="none" bfTooltip="Error text always hidden" bfTooltipPos="left"></bf-radio>
        </div>
        <div class="col-4">
          <bf-radio style="display: inline-block; width: 120px;" [(ngModel)]="conf.errorPos" (ngModelChange)="upComp()" bfRadioGroup="errPos" bfLabel="default" [bfValue]="null"></bf-radio>
          <bf-radio style="display: inline-block; width: 120px;" [(ngModel)]="conf.errorPos" (ngModelChange)="upComp()" bfRadioGroup="errPos" bfLabel="top-right" bfValue="top-right"></bf-radio>
          <br>
          <bf-radio style="display: inline-block; width: 120px;" [(ngModel)]="conf.errorPos" (ngModelChange)="upComp()" bfRadioGroup="errPos" bfLabel="bottom-left" bfValue="bottom-left"></bf-radio>
          <bf-radio style="display: inline-block; width: 120px;" [(ngModel)]="conf.errorPos" (ngModelChange)="upComp()" bfRadioGroup="errPos" bfLabel="bottom-right" bfValue="bottom-right"></bf-radio>
        </div>
      </div>


      <div class="row marT15">
        <bf-checkbox class="col-2 padT10" bfLabel="bfKeepSearch" [(ngModel)]="conf.bfKeepSearch" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-checkbox class="col-2 padT10" bfLabel="bfHtmlRender" [(ngModel)]="conf.bfHtmlRender" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-checkbox class="col-2 padT10" bfLabel="bfFilterFn" [(ngModel)]="conf.hasFilterFn" (ngModelChange)="upComp()"></bf-checkbox>
        <div class="col-6 padT5" *ngIf="conf.hasFilterFn">
          <pre style="background: aliceblue; padding: 5px 10px; margin-bottom: 0;">bfFilterFn: (list) => list.filter(x => x.id > 3)</pre>
        </div>
      </div>

      <div class="row marT15">
        <bf-checkbox class="col-2 padT10" bfLabel="bfAutoCollapse" [(ngModel)]="conf.bfAutoCollapse" (ngModelChange)="upComp()"></bf-checkbox>
      </div>

      <!--bfErrorText + bfError Pos-->
      <div class="row marT15">
        <bf-checkbox class="col-2 padT10" bfLabel="Controls" [(ngModel)]="conf.hasControls" (ngModelChange)="upComp()"></bf-checkbox>
        <div class="col-10 padR0">
          <!--<bf-btn bfText="Expand"   (bfClick)="extCtrl$.next({ action: 'expand' })"></bf-btn>-->
          <!--<bf-btn bfText="Collapse" (bfClick)="extCtrl$.next({ action: 'collapse' })"></bf-btn>-->
          <!--<bf-btn bfText="Toggle"   (bfClick)="extCtrl$.next({ action: 'toggle' })"></bf-btn>-->
          <!--<bf-btn bfText="Type"     (bfClick)="extCtrl$.next({ action: 'type', value: 'ax' })"></bf-btn>-->
          <!--<bf-btn bfText="Pristine" (bfClick)="extCtrl$.next({ action: 'setPristine' })"></bf-btn>-->
          <!--<bf-btn bfText="+ Error"  (bfClick)="extCtrl$.next({ action: 'addError', value: 'wrong' })"></bf-btn>-->
          <!--<bf-btn bfText="- Error"  (bfClick)="extCtrl$.next({ action: 'removeError' })"></bf-btn>-->
          <bf-btn bfText="Expand"   (bfClick)="myCtrl.expand()"></bf-btn>
          <bf-btn bfText="Collapse" (bfClick)="myCtrl.collapse()"></bf-btn>
          <bf-btn bfText="Toggle"   (bfClick)="myCtrl.toggle()"></bf-btn>
          <bf-btn bfText="Type"     (bfClick)="myCtrl.type('ax')"></bf-btn>
          <bf-btn bfText="Pristine" (bfClick)="myCtrl.setPristine()"></bf-btn>
          <bf-btn bfText="+ Error"  (bfClick)="myCtrl.addError('wrong')"></bf-btn>
          <bf-btn bfText="- Error"  (bfClick)="myCtrl.removeError()"></bf-btn>
        </div>
      </div>

      <!--Show Images + Icons-->
      <div class="row marT15 padT5">
        <div class="col-2">
          <bf-checkbox class="block" [(ngModel)]="conf.hasImages" (ngModelChange)="switchList()" bfLabel="Show images"></bf-checkbox>
          <bf-checkbox class="block marT10" [(ngModel)]="conf.hasIcons" (ngModelChange)="switchList()" bfLabel="Show icons"></bf-checkbox>
        </div>
        <div class="col-7">
          <div style="min-height: 32px;"><span [hidden]="!conf.hasImages">Add the property "<b>img</b>" on every object of the array with the url</span></div>
          <div style="min-height: 32px;"><span [hidden]="!conf.hasIcons">Add the property "<b>icon</b>" on every object of the array with the icomoon class</span></div>
        </div>

        <!--bfCustomPlacementList-->
        <div class="col-3 padL25 padR5">
          <bf-label bfText="bfCustomPlacementList" bfTooltip="By default the dropdown expands downwards unless its position on the screen is too low. With this option you can force the direction it will be always expanded towards"></bf-label>
          <div class="text-right padR10">
            <select [(ngModel)]="conf.bfCustomPlacementList" (ngModelChange)="upComp()">
              <option value="">auto</option>
              <option value="top">top</option>
              <option value="bottom">bottom</option>
            </select>
          </div>
        </div>

      </div>

      <div class="row marT15">
        <bf-checkbox class="col-2 padT5" bfLabel="CSS 'flat'" [(ngModel)]="conf.hasFlat" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-checkbox class="col-3 padT5" bfLabel="CSS 'full-width'" [(ngModel)]="conf.hasFullWidth" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-checkbox class="col-3 padT5" bfLabel="CSS 'extra-btn'"  [(ngModel)]="conf.extraBtn" (ngModelChange)="upComp()"></bf-checkbox>
      </div>

    </div>

    <div class="col-12">
      <a href="bf-ui-lib-doc/assets/bfDropdownFlow.png" target="_blank">Internal flow diagram</a>
      (original: <a href="https://go.gliffy.com/go/html5/13287126">on gliffy</a>)
    </div>
  </div>
</div>

<hr>


<!--Single and Full Selection Examples-->
<div class="row whiteBg">
  <div class="col-8 marB20">
    <h5>Single and Full Selection Examples</h5>
  </div>
  <div class="col-4 text-right">
    <bf-btn bfText="Reset Dropdowns" bfType="save" (bfClick)="reLink()"></bf-btn>
  </div>

  <div class="col-3" *ngIf="isLinked">

    <bf-dropdown class="full-width" #dropdown1="ngModel"
                  name="single-sel-test"
                  [(ngModel)]="selObj7"
                  [bfList]="myList2"
                  [bfRequired]="conf.isRequired"
                  [bfDisabled]="conf.isDisabled"
                  [bfErrorOnPristine]="conf.isErrorOnPristine"
                  bfSelect="username"
                  bfLabel="Single Field Selection"
                  bfRender="username">
    </bf-dropdown>
    Selected Model = {{selObj7 | json}}
    <hr>

    <div><bf-radio [(ngModel)]="selObj7" [bfValue]="null" bfLabel="Empty value (null)"></bf-radio></div>
    <div><bf-radio [(ngModel)]="selObj7" bfValue="aaaaa" bfLabel="Invalid Option"></bf-radio></div>
    <div *ngFor="let listOp of myList2">
      <bf-radio [(ngModel)]="selObj7" [bfValue]="listOp.username" bfLabel="{{'- ' + listOp.username}}"></bf-radio>
    </div>
  </div>


  <div class="col-8" *ngIf="isLinked">
    <bf-dropdown class="full-width" #dropdown2="ngModel"
                  [(ngModel)]="selObj6"
                  [bfList]="myList"
                  [bfRequired]="conf.isRequired"
                  [bfDisabled]="conf.isDisabled"
                  [bfErrorOnPristine]="conf.isErrorOnPristine"
                  bfLabel="Full Object Selection">
    </bf-dropdown>
    Selected Model = {{selObj6 | json}}

    <div *ngIf="dropdown2">
      <br>formControl: value={{dropdown2.value}}
      , valid={{dropdown2.valid}}
      , invalid={{dropdown2.invalid}}
      , pristine={{dropdown2.pristine}}
      , dirty={{dropdown2.dirty}}
      , errors={{dropdown2.errors | json}}
    </div>

    <hr>
    <div>
      <div><bf-radio [(ngModel)]="selObj6" [bfValue]="null" bfLabel="Empty value (null)" bfRadioGroup="ex2"></bf-radio></div>
      <div><bf-radio [(ngModel)]="selObj6" bfValue="aaaaa" bfLabel="Invalid Option" bfRadioGroup="ex2"></bf-radio></div>
      <div *ngFor="let listOp of myList">
        <bf-radio [(ngModel)]="selObj6" [bfValue]="listOp" bfLabel="{{listOp | json}}" bfRadioGroup="ex2"></bf-radio>
      </div>
    </div>
  </div>
</div>



<!--External control-->
<div class="whiteBg">
  <div class="row">
    <div class="col-12 marB5">
      <h5 class="marB25">External Control Example:</h5>
      <p>It is possible to control some options of the dropdown externally.<br>
        There are 2 ways to do it. You can hook up the controller object on (bfOnLoaded), and use its methods,
        or you can pass an observable to [extCtrl$] that emits commands to trigger actions.
      </p>
    </div>

    <div class="col-6 marB15">
      <h6>Using (bfOnLoaded)</h6>
      <code class="padT15">
        <ul><li *ngFor="let ctrlAction of ctrlActions1">{{ctrlAction}}</li></ul>
      </code>
      <div>
        <bf-btn bfText="Expand"   (bfClick)="myCtrl2.expand()"></bf-btn>
        <bf-btn bfText="Collapse" (bfClick)="myCtrl2.collapse()"></bf-btn>
        <bf-btn bfText="Toggle"   (bfClick)="myCtrl2.toggle()"></bf-btn>
        <bf-btn bfText="Type"     (bfClick)="myCtrl2.type('ax')"></bf-btn>
        <bf-btn bfText="Pristine" (bfClick)="myCtrl2.setPristine()"></bf-btn>
        <bf-btn bfText="+ Error"  (bfClick)="myCtrl2.addError('wrong')"></bf-btn>
        <bf-btn bfText="- Error"  (bfClick)="myCtrl2.removeError()"></bf-btn>
      </div>
      <div class="marT15">
        <bf-dropdown bfLabel="Example Dropdown 1"
                      [(ngModel)]="selObj9"
                      [bfList]="myList"
                      (bfOnLoaded)="myCtrl2 = $event">
        </bf-dropdown>
      </div>
      <div class="marT10">
        <div class="code-box pad15">
          <pre>{{extCtrlExample1}}</pre>
        </div>
      </div>
    </div>

    <div class="col-6 marB15">
      <h6>Using [extCtrl$]</h6>
      <code class="padT15">
        <ul><li *ngFor="let ctrlAction of ctrlActions2">{{ctrlAction}}</li></ul>
      </code>
      <div>
        <bf-btn bfText="Expand"   (bfClick)="extCtrl$.next({ action: 'expand' })"></bf-btn>
        <bf-btn bfText="Collapse" (bfClick)="extCtrl$.next({ action: 'collapse' })"></bf-btn>
        <bf-btn bfText="Toggle"   (bfClick)="extCtrl$.next({ action: 'toggle' })"></bf-btn>
        <bf-btn bfText="Type"     (bfClick)="extCtrl$.next({ action: 'type', value: 'ax' })"></bf-btn>
        <bf-btn bfText="Pristine" (bfClick)="extCtrl$.next({ action: 'setPristine' })"></bf-btn>
        <bf-btn bfText="+ Error"  (bfClick)="extCtrl$.next({ action: 'addError', value: 'wrong' })"></bf-btn>
        <bf-btn bfText="- Error"  (bfClick)="extCtrl$.next({ action: 'removeError' })"></bf-btn>
        <!--<bf-input style="margin-left: 15px; display: inline-block" [ngModel]="res"-->
        <!--          (ngModelChange)="extCtrl$.next({ action: 'type', value: $event })">-->
        <!--</bf-input>-->
      </div>
      <div class="marT15">
        <bf-dropdown bfLabel="Example Dropdown 2"
                      [(ngModel)]="selObj8"
                      [bfList]="myList"
                      [extCtrl$]="extCtrl$">
        </bf-dropdown>
      </div>
      <div class="marT10">
        <div class="code-box pad15">
          <pre>{{extCtrlExample2}}</pre>
        </div>
      </div>
    </div>



  </div>
</div>


<!--Loading options-->
<div class="whiteBg row">
  <div class="col-12 padB15">
    <h5>Loading options</h5>
    <p>The [bfLoading] parameter can be a boolean, a promise or an observable.</p>
    <ul>
      <li><b>Boolean</b>: Considers the loading finished when it changes from 'true' to 'false'</li>
      <li><b>Promise</b>: Considers the loading finished when it's resolved (not rejected)</li>
      <li><b>Observable</b>: Considers the loading finished when emits 'false' or completes.</li>
    </ul>
    <p>In any of the cases, when the loading is completed, the ngModel match is triggered again. We assume that happens at the same time the [bfList] is updated,
      so the current ngModel value is matched with the new list of values.</p>
    <p>
      If the [bfDisabled] parameter is not defined, the loading automatically changes it so the dropdown remains disabled while loading. Otherwise, you can control the
      disabled option manually.
    </p>
  </div>

  <div class="col-3" *ngIf="true">
    <div class="marB15"><i>Loading with boolean:</i></div>
    <bf-dropdown class=""
                  [(ngModel)]="selObj2"
                  [bfList]="asyncList1"
                  [bfRequired]="true"
                  bfLabel="view.common.field_name"
                  [bfLoading]="isLoading"
                  [bfErrorOnPristine]="true"
                  bfSelect="id"
                  bfRender="email">
    </bf-dropdown>
    <bf-btn bfText="[bfLoading]=true" (bfClick)="isLoading = true" [bfDisabled]="isLoading"></bf-btn>
    <bf-btn bfText="[bfLoading]=false" (bfClick)="asyncList1 = myList; isLoading = false" [bfDisabled]="!isLoading"></bf-btn>
    <br>ngModel={{selObj2 | json}}
  </div>

  <div class="col-3" *ngIf="true">
    <div class="marB15"><i>Loading with a promise:</i></div>
    <bf-dropdown class=""
                  [(ngModel)]="selObj2"
                  [bfList]="asyncList2"
                  [bfRequired]="true"
                  bfLabel="view.common.field_name"
                  [bfLoading]="loadingPromise"
                  [bfErrorOnPristine]="true"
                  bfSelect="id"
                  bfRender="email">
    </bf-dropdown>
    <bf-btn bfIcon="icon-spinner11" bfText="5 sec Promise" (bfClick)="reloadPromise()"></bf-btn>
    ngModel={{selObj2 | json}}
  </div>

  <div class="col-3" *ngIf="true">
    <div class="marB15"><i>Loading with a promise + manual [bfDisabled]:</i></div>
    <bf-dropdown class=""
                  [(ngModel)]="selObj2"
                  [bfList]="asyncList2"
                  [bfRequired]="true"
                  bfLabel="view.common.field_name"
                  [bfLoading]="loadingPromise"
                  [bfDisabled]="isDisabled"
                  [bfErrorOnPristine]="true"
                  bfSelect="id"
                  bfRender="email">
    </bf-dropdown>
    <bf-switch bfLabel="bfDisabled" [(ngModel)]="isDisabled"></bf-switch>
    ngModel={{selObj2 | json}}
  </div>

  <div class="col-3" *ngIf="true">
    <div class="marB15"><i>Loading with an observable:</i></div>
    <bf-dropdown class=""
                  [(ngModel)]="selObj2"
                  [bfList]="asyncList3"
                  [bfRequired]="true"
                  bfLabel="view.common.field_name"
                  [bfLoading]="isLoading$"
                  [bfErrorOnPristine]="true"
                  bfSelect="id"
                  bfRender="email">
    </bf-dropdown>
    <bf-btn bfText=".next(true)" (bfClick)="isLoading$.next(true)"></bf-btn>
    <bf-btn bfText=".next(false)" (bfClick)="isLoading$.next(false)"></bf-btn>
    <bf-btn bfText=".complete()" (bfClick)="isLoading$.complete()"></bf-btn>
    ngModel={{selObj2 | json}}
  </div>
</div>


<!--Applicable classes -->
<div class="row">
  <div class="col-12 marT20">
    <hr>
    <h5 class="mt-4">Applicable classes:</h5>
    <p>If you need a dropdown covering the whole with of the a block element (with 100%) you can add class "<span class="bold">full-width</span>":</p>
  </div>
  <div class="col-2 text-right">
    <p class="padT10">Full Width:</p>
    <p class="padT10">Normal:</p>
  </div>
  <div class="col-5" style="border: 1px dashed red; padding: 5px 0;">
    <bf-dropdown [(ngModel)]="selObj3" [bfList]="myList" bfRender="username" class="full-width"></bf-dropdown>
    <bf-dropdown [(ngModel)]="selObj3" [bfList]="myList" bfRender="username"></bf-dropdown>
  </div>

  <div class="col-12 marT20">
    <p>If you need a dropdown without the default margin bottom (15) you can apply class "<span class="bold">flat</span>":</p>
  </div>

  <div class="col-3 offset-2">
    <p class="padT10">Regular:</p>
    <div style="border: 1px dashed red; padding: 1px 10px;">
      <bf-dropdown [(ngModel)]="selObj3" [bfList]="myList" bfRender="username"></bf-dropdown>
    </div>
  </div>
  <div class="col-3">
    <p class="padT10">Flat:</p>
    <div style="border: 1px dashed red; padding: 1px 10px;">
      <bf-dropdown class="flat" [(ngModel)]="selObj3" [bfList]="myList" bfRender="username"></bf-dropdown>
    </div>
  </div>

</div>


<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <h3>CSS Styling</h3>
    <p>The following SASS variables can be overridden to provide customized coloring:</p>
    <pre class="padL30">{{ cssReset }}</pre>
  </div>
</div>

<div class="row marT40">
  <div class="col-12">
    <h3 class="marB20">Accessibility</h3>

    <section>
      <h4> Keyboard controls </h4>

      <dl class="marB20">
        <dt>up/down arrows</dt>
        <dd>Moves visual focus to the previous/next item in the list. List selection is wrapped so focus will move to first/last item when reaching the end/start of the list</dd>

        <dt>ESC</dt>
        <dd>Closes the listbox if opened</dd>

        <dt>ENTER</dt>
        <dd>Selects the visually focused element if listbox is opened, otherwise opens listbox</dd>
      </dl>
    </section>

    <section>
      <h4>Screen reader support</h4>
      <p>The screen reader should read out the following</p>

      <dl>
        <dt>Dropdown recieves focus (in no order)</dt>
        <dl>
          <ul>
            <li>Combox expanded</li>
            <li>Label of the input</li>
            <li>Currently selected item</li>
            <li>Errors (If present)</li>
          </ul>
        </dl>

        <dt>List item receives visual focus</dt>
        <dd>"list-item" selected x of total</dd>
      </dl>
    </section>
  </div>
</div>
