<div class="bf-list-handler-test1" *ngIf="false">
  <h2>List Test 1 (frontend pagination)</h2>
  <div class="row marT40">
    <bf-input class="col-3 filter-text" bfLabel="Free Text Filter" bfIcon="icon-search"
              [(ngModel)]="testList1.filterText" (ngModelChange)="testList1.filter($event)">
    </bf-input>
    <bf-input class="col-3 filter-username" bfLabel="Filter username" bfIcon="icon-search"
              [(ngModel)]="testList1.filters.username" (ngModelChange)="testList1.filter($event, 'username')">
    </bf-input>
    <bf-input class="col-3 filter-email" bfLabel="Filter email" bfIcon="icon-search"
              [(ngModel)]="testList1.filters.email" (ngModelChange)="testList1.filter($event, 'email')">
    </bf-input>
    <bf-input class="col-3 filter-name" bfLabel="Filter Name (debounced)" bfIcon="icon-search"
              [(ngModel)]="testList1.filters.first_name" (ngModelChange)="testList1.filter($event, 'first_name', 1000)">
    </bf-input>
    <!--<bf-btn class="col-2 padT20" bfText="Clear Filters" (bfClick)="clearFilters()" bfType="save"></bf-btn>-->
    <div class="col-4 padT30">filterText={{testList1.filterText}} | filters={{testList1.filters | json }}</div>

    <div class="col-12">
      <bf-btn bfText=".prevPage()" (bfClick)="testList1.prevPage()"
              bfIcon="icon-arrow-left6" bfIconPos="left">
      </bf-btn>
      <bf-btn bfText=".nextPage()" (bfClick)="testList1.nextPage()"></bf-btn>
      <bf-btn bfText=".goToPage(2)" (bfClick)="testList1.goToPage(2)"></bf-btn>
      <bf-btn bfText=".paginate(20)" (bfClick)="testList1.paginate(20)"></bf-btn>
      <bf-btn bfText="orderConf.setField('username')" (bfClick)="testList1.orderConf.setField('username')"></bf-btn>
      <bf-btn bfText="load More" class="load-more-btn" (bfClick)="loadMoreData()"></bf-btn>
      <bf-btn bfText="load Less" class="load-less-btn" (bfClick)="loadLessData()"></bf-btn>
    </div>
    <div class="col-12 padT10">
      rowsPerPage={{testList1.rowsPerPage}}
      , totalItems={{testList1.totalItems}}
      , totalFiltered={{testList1.totalFiltered}}
      , renderedItems={{testList1.renderedItems}}
      , currentPage={{testList1.currentPage}}
      , totalPages={{testList1.totalPages}}
      , loadingStatus={{testList1.loadingStatus}}
    </div>
  </div>
  <div class="row whiteBg">
    <bf-list-paginator class="col-12"
                       [bfCtrl]="testList1"
                       bfShowSelector="true">
    </bf-list-paginator>
  </div>

  <div class="row">
    <div class="col-12">
      <ul class="list-unstyled table-list">
        <li class="list-header">
          <bf-list-header-col class="col-1" colTitle="Id"         fieldName="id"        [orderConf]="testList1.orderConf"></bf-list-header-col>
          <bf-list-header-col class="col-2" colTitle="Username"   fieldName="username"  [orderConf]="testList1.orderConf"></bf-list-header-col>
          <bf-list-header-col class="col-4" colTitle="Email"></bf-list-header-col>
          <bf-list-header-col class="col-4" colTitle="Full Name"></bf-list-header-col>
        </li>

        <bf-list-placeholder [hidden]="testList1.loadingStatus > 1" [bfColumns]="[1, 2, 4, 4, 1]"></bf-list-placeholder>
        <li class="list-row" [hidden]="testList1.loadingStatus <= 1"
            *ngFor="let item of testList1.renderList$ | async">
          <div class="bf-list-col col-1">{{item.id}}</div>
          <div class="bf-list-col col-2">{{item.username}}</div>
          <div class="bf-list-col col-4">{{item.email}}</div>
          <div class="bf-list-col col-4">{{item.first_name + ' ' + item.last_name}}</div>
          <div class="bf-list-col col-1 text-right">
            <bf-btn bfText="" bfType="delete"></bf-btn>
            <bf-btn bfText="" bfType="edit"  ></bf-btn>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>



<div class="bf-list-handler-test2 marT50" *ngIf="true">
  <hr>
  <h2>List Test 2 (backend pagination)</h2>
  <div class="row marT40">
    <!--<bf-input class="col-3 filter-text" bfLabel="Free Text Filter" bfIcon="icon-search"-->
    <!--          [(ngModel)]="testList2.filterText" (ngModelChange)="testList2.filter($event)">-->
    <!--</bf-input>-->
    <bf-input class="col-3 filter-username" bfLabel="Filter username (debounced .5)" bfIcon="icon-search"
              [(ngModel)]="testList2.filters.username" (ngModelChange)="testList2.filter($event, 'username')">
    </bf-input>
    <bf-input class="col-3 filter-email" bfLabel="Filter email (debounced .5)" bfIcon="icon-search"
              [(ngModel)]="testList2.filters.email" (ngModelChange)="testList2.filter($event, 'email')">
    </bf-input>
    <bf-input class="col-3 filter-name" bfLabel="Filter Name (debounced 2s)" bfIcon="icon-search"
              [(ngModel)]="testList2.filters.first_name" (ngModelChange)="testList2.filter($event, 'first_name', 2000)">
    </bf-input>
    <!--<bf-btn class="col-2 padT20" bfText="Clear Filters" (bfClick)="clearFilters()" bfType="save"></bf-btn>-->
    <div class="col-6 padT30">filters={{testList2.filters | json }}</div>
    <div class="col-2 padT30">limit:    <span class="filter-limit">{{testList2.filters.limit}}</span></div>
    <div class="col-2 padT30">offset:   <span class="filter-offset">{{testList2.filters.offset}}</span></div>
    <div class="col-2 padT30">order_by: <span class="filter-order-by">{{testList2.filters.order_by}}</span></div>


    <div class="col-12">
      <bf-btn bfText=".prevPage()" (bfClick)="testList2.prevPage()"
              bfIcon="icon-arrow-left6" bfIconPos="left">
      </bf-btn>
      <bf-btn bfText=".nextPage()" (bfClick)="testList2.nextPage()"></bf-btn>
      <bf-btn bfText=".goToPage(2)" (bfClick)="testList2.goToPage(2)"></bf-btn>
      <bf-btn bfText=".paginate(20)" (bfClick)="testList2.paginate(20)"></bf-btn>
      <bf-btn bfText="orderConf.setField('username')" (bfClick)="testList2.orderConf.setField('username')"></bf-btn>
      <bf-btn bfText="load More" class="load-more-btn" (bfClick)="loadMoreData()"></bf-btn>
      <bf-btn bfText="load Less" class="load-less-btn" (bfClick)="loadLessData()"></bf-btn>
    </div>
    <div class="col-12 padT10">
      rowsPerPage={{testList2.rowsPerPage}}
      , totalItems={{testList2.totalItems}}
      , totalFiltered={{testList2.totalFiltered}}
      , renderedItems={{testList2.renderedItems}}
      , currentPage={{testList2.currentPage}}
      , totalPages={{testList2.totalPages}}
      , loadingStatus={{testList2.loadingStatus}}
    </div>
  </div>
  <div class="row whiteBg">
    <bf-list-paginator class="col-12"
                       [bfCtrl]="testList2"
                       bfShowSelector="true">
    </bf-list-paginator>
  </div>


  <div class="row">
    <div class="col-12" [bfLoadingSpinner]="testList2.loadingStatus === 4">
      <ul class="list-unstyled table-list">
        <li class="list-header">
          <bf-list-header-col class="col-1" colTitle="Id"         fieldName="id"        [orderConf]="testList2.orderConf"></bf-list-header-col>
          <bf-list-header-col class="col-2" colTitle="Username"   fieldName="username"  [orderConf]="testList2.orderConf"></bf-list-header-col>
          <bf-list-header-col class="col-4" colTitle="Email"></bf-list-header-col>
          <bf-list-header-col class="col-4" colTitle="Full Name"></bf-list-header-col>
        </li>

        <bf-list-placeholder [hidden]="testList2.loadingStatus > 1" [bfColumns]="[1, 2, 4, 4, 1]"></bf-list-placeholder>
        <li class="list-row" [hidden]="testList2.loadingStatus <= 1"
            *ngFor="let item of testList2.renderList$ | async">
          <div class="bf-list-col col-1">{{item.id}}</div>
          <div class="bf-list-col col-2">{{item.username}}</div>
          <div class="bf-list-col col-4">{{item.email}}</div>
          <div class="bf-list-col col-4">{{item.first_name + ' ' + item.last_name}}</div>
          <div class="bf-list-col col-1 text-right">
            <bf-btn bfText="" bfType="delete"></bf-btn>
            <bf-btn bfText="" bfType="edit"  ></bf-btn>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>



