<h2>{{name}}</h2>
<hr/>
<h5>{{desc}}</h5>

<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>

<!--Customization-->
<div class="whiteBg">
  <div class="row">
    <div class="col-6 marB15">
      <h5 class="marB25">Customized Dual Checkbox:</h5>
      <div class="padB25">
        <bf-dual-checkbox
          [ngClass]="{'block' : !!compConf.isClassBlock, 'flat' : !!compConf.isClassFlat}"
          [bfLabel]="compConf.bfLabel"
          [bfLabelOptionOne]="compConf.labelOne"
          [bfLabelOptionTwo]="compConf.labelTwo"
          [(ngModel)]="compConf.ngModelValue"
          [bfDisabled]="compConf.isDisabled">
        </bf-dual-checkbox>
      </div>
      <div class="padB25">
        <span class="padH15">
          ngModel = {{compConf.ngModelValue | json}} <span *ngIf="compConf.ngModelValue === undefined">undefined</span>
        </span>
        <bf-btn bfType="save" bfText="Turn it true"      (bfClick)="compConf.ngModelValue = true"></bf-btn>
        <bf-btn bfType="save" bfText="Turn it false"     (bfClick)="compConf.ngModelValue = false"></bf-btn>
        <bf-btn bfType="save" bfText="Turn it undefined" (bfClick)="compConf.ngModelValue = undefined"></bf-btn>
      </div>
      <div>
        <div class="code-box pad15">
          <pre>{{customCompCode}}</pre>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row marT15 marL20">
        <div class="col-4">
        <!--Disabled-->
        <bf-checkbox  class="block" bfLabel="Disabled" [(ngModel)]="compConf.isDisabled" (ngModelChange)="upComp()"></bf-checkbox>
        <!--Block class-->
        <bf-checkbox class="block" bfLabel="Display as Block" [(ngModel)]="compConf.isClassBlock" (ngModelChange)="upComp()"></bf-checkbox>
        <!-- Flat class -->
        <bf-checkbox class="block" bfLabel="Display as Flat" [(ngModel)]="compConf.isClassFlat" (ngModelChange)="upComp()"></bf-checkbox>
        </div>
        <!--Labels-->
        <div class="col-6">
          <bf-input bfLabel="bfLabel" [(ngModel)]="compConf.bfLabel" (ngModelChange)="upComp()"></bf-input>
          <bf-input bfLabel="bfLabelOptionOne" [(ngModel)]="compConf.labelOne" (ngModelChange)="upComp()"></bf-input>
          <bf-input bfLabel="bfLabelOptionTwo" [(ngModel)]="compConf.labelTwo" (ngModelChange)="upComp()"></bf-input>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="whiteBg">
  <h5 class="marB25">Values returned:</h5>
  <div class="row">
    <bf-dual-checkbox
      class="col-2"
      [bfLabel]="label"

      [(ngModel)]="value">
    </bf-dual-checkbox>
    <div class="col-3">
      <label>ngModel returned value:</label>
      <br />
      <label><strong>{{returnedValues()}}</strong></label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12"><hr></div>
  <h5 class="col-12 marB25">Html structure:</h5>
  <div class="col-7">
    <p>The bf-dual-checkbox html structure:</p>
    <pre>{{ dualCheckboxHtmlStructure }}</pre>
  </div>
  <div class="col-5">
    <p>The bf-checkbox html structure:</p>
    <pre>{{ checkboxHtmlStructure }}</pre>
  </div>
</div>
<p>The idea behind dual check box is to implement existing bf checkbox component and combine it to work as undefined/true/false dual checkbox. Both options can never be unselected, at least one or both need to be checked.</p>

<!--Applicable classes -->
<div class="row">
  <div class="col-12">
    <hr>
    <h5 class="mt-4">Applicable classes:</h5>
    <p>By default checkboxes are inline elements (displayed one next to another). You can easily turn then to block
      elements by applying class "<span class="bold">block</span>":
    </p>
  </div>
  <div class="col-6">
    <pre class="marT10">{{ blockExample }}</pre>
  </div>
  <div class="col-3 d-flex">
    <bf-dual-checkbox class="flex-grow-1" bfLabel="Inline Dual Checkbox"></bf-dual-checkbox>
    <bf-dual-checkbox class="block" bfLabel="Block Dual Checkbox"></bf-dual-checkbox>
  </div>
</div>
