<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <h1 routerLink="/index">BF UI Library</h1>
  <a class="home-link mr-3" routerLink="/index">
    <span class="icon-home"></span>
  </a>
</div>

<div class="menu">
  <div class="m-2 mb-4">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <ul>
    <li routerLink="/index">
      <div><pre>Index</pre></div>
    </li>
    <li *ngFor="let compItem of reg.compList" routerLink="{{ '/' + compItem.name }}">
      <div><pre>{{ compItem.name }}</pre></div>
    </li>
  </ul>
</div>

<div class="container route-container">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>