<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <h1 routerLink="/index">BF UI Library</h1>

  <div>
    <span style="font-size: 18px;">Language:</span>
    <bf-radio class="marL20" [(ngModel)]="lang" bfValue="en"  bfLabel="En"  (ngModelChange)="translate.changeLanguage(lang)" bfRadioGroup="lang"></bf-radio>
    <bf-radio class="marL20" [(ngModel)]="lang" bfValue="cat" bfLabel="Cat" (ngModelChange)="translate.changeLanguage(lang)" bfRadioGroup="lang"></bf-radio>
  </div>
  <!--<a class="home-link mr-3" routerLink="/index">-->
  <!--  <span class="icon-home"></span>-->
  <!--</a>-->
</div>

<app-menu></app-menu>
<bf-growl-pop-up></bf-growl-pop-up>
<bf-loading-bar></bf-loading-bar>

<div class="container route-container">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
