<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <h1 routerLink="/index">BF UI Library</h1>

  <div class="nav-options">
    <div style="display: flex; align-items: baseline; margin-top: 3px;">
      <span style="font-size: 18px;">Language:</span>
      <bf-radio-group class="inline white" [(ngModel)]="lang" (ngModelChange)="translate.changeLanguage(lang)">
        <bf-radio class="marL15" bfValue="en"  bfLabel="En"></bf-radio>
        <bf-radio                bfValue="cat" bfLabel="Cat"></bf-radio>
      </bf-radio-group>
    </div>

    <div style="font-size: 18px; margin: 0 15px 0 50px;">Font Family:</div>
    <div style="color: grey;">
      <bf-dropdown class="flat" style="max-width: 210px;" [bfRequired]="true"
                   [bfList]="fontsList" bfRender="name" bfSelect="css"
                   [(ngModel)]="selectedFont">
      </bf-dropdown>
    </div>
  </div>

  <!--<a class="home-link mr-3" routerLink="/index">-->
  <!--  <span class="icon-home"></span>-->
  <!--</a>-->
</div>

<app-menu></app-menu>
<bf-growl-pop-up></bf-growl-pop-up>
<bf-loading-bar></bf-loading-bar>

<div class="container route-container" [ngClass]="selectedFont">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
