@import 'variables';

$dropdown-selection-bg: $quaternary_color;
$dropdown-selection-hover: $primary_color;
$dropdown-valid-color: $valid-color;

// --- <bf-dropdown> color reset --------------------------------------------------
.bf-dropdown-form-group {
  label { transition-property: color; transition-duration: 0.2s; }
  input.form-control {
    border: 1px solid $optional-color;
  }

  .bf-dropdown {
    // Input expanding button (addon)
    .btn.btn-outline-secondary {
      border-color: $dropdown-valid-color;
      background: $dropdown-valid-color;
      color: $white;
    }
    .list-container {
      background: $white;
      border: 1px solid $optional-color;
      border-top-color: rgba($optional-color, 0.5);
      .option-row {
        &.selected {
          color: $white;
          background: rgba($dropdown-selection-bg, 0.35);
        }
        &:hover {
          background: $dropdown-selection-hover;
          color: $white;
        }
      }
    }
    &.is-expanded {
      .btn.btn-outline-secondary {
        background: $white;
        color: $dropdown-valid-color;
        border-top-color: $optional-color;
        border-right-color: $optional-color;
      }
    }
  }

  &.is-disabled { input.form-control { color: $disabled-color; } }

  // Changes the colors depending on the status
  @mixin bf-dropdown-status-color($color) {
    label { color: $color; }
    .bf-dropdown {
      input.form-control { border-color: $color; }
      .btn.btn-outline-secondary {
        background: $color;
        border-color: $color;
      }
      &.is-expanded .btn.btn-outline-secondary {
        background: $white;
        color: $color;
        border-color: $color $color transparent transparent;
      }
      .list-container {
        border-color: $color;
        border-top-color: rgba($optional-color, 0.5);
      }
    }
  }

  &.is-required { @include bf-dropdown-status-color($required-color); }
  &.is-focus { @include bf-dropdown-status-color($focused-color); }
  &.is-error { @include bf-dropdown-status-color($invalid-color); }

}

