@import 'variables';

$switch-bg: $white;

// --- <bf-switch> reset --------------------------------------------------
div.bf-switch {

  .switch-bar {  // Background bar
    background: $switch-bg;
    border-color: #ccc;
  }

  //.switch-value {  // Text color (ON/OFF)
  //  .bf-switch-off-text { color: red; }
  //  .bf-switch-on-text  { color: green; }
  //}

  .switch-lever {  // Switch color
    color: $white;
    background: #f3f3f3;
    &.is-on  { background: $valid-color; }
    //&.is-off { background: red; }
  }

  &.is-disabled {
    .switch-bar   { background: #d4d4d4; }
    .switch-lever { background: #f3f3f3; }
  }
}

