<div class="row">
  <div class="col-3">
    <h2>{{name}}</h2>
  </div>
  <div class="col-9 text-right">
    <bf-btn bfText="bfInput" (bfClick)="router.navigate(['/bf-input'])" bfDisabled="true"></bf-btn>
    <bf-btn bfText="Validators"      (bfClick)="router.navigate(['/bf-input/validators'])"></bf-btn>
    <bf-btn bfText="Async Validator" (bfClick)="router.navigate(['/bf-input/async-validator'])"></bf-btn>
    <bf-btn bfText="Controls"        (bfClick)="router.navigate(['/bf-input/controls'])"></bf-btn>
    <bf-btn bfText="Autofill"        (bfClick)="router.navigate(['/bf-input/autofill'])"></bf-btn>
  </div>
</div>

<hr/>
<p>{{desc}}</p>

<div class="whiteBg" *ngIf="true">
  <div class="collapse-btn" (click)="boxCo[0] = !boxCo[0]"></div>
  <h5 style="margin-top: -10px;">Parameters:</h5>
  <div class="col-12" [hidden]="boxCo[0]"><pre>{{api}}</pre></div>
</div>



<!--Input Customization-->
<div class="whiteBg">
  <div class="collapse-btn" (click)="boxCo[1] = !boxCo[1]"></div>
  <h5 [hidden]="!boxCo[1]">BfInput Customization:</h5>
  <div class="row" [hidden]="boxCo[1]">
    <div class="col-5 marB15">
      <h5 class="marB25">BfInput Customization:</h5>
      <div class="row" *ngIf="isLinked">

        <bf-input class="col-9"
                  [(ngModel)]="myVariable"
                  [class.flat]="compConf.hasFlat"
                  [bfLabel]="(compConf.hasLabel ? compConf.labelText : '')"
                  [bfPlaceholder]="(compConf.hasPlaceholder ? compConf.placeholderText : '')"
                  [bfRequired]="compConf.isRequired"
                  [bfDisabled]="compConf.isDisabled"

                  [bfIcon]="(compConf.hasIcon ? compConf.inputIcon : '')"
                  [bfType]="compConf.inputType"
                  [bfTooltip]="(compConf.hasTooltip ? compConf.inputTooltip : null)"
                  [bfTooltipPos]="(compConf.inputTooltipPos || 'top')"
                  [bfTooltipBody]="compConf.inputTooltipBody"
                  [bfDisabledTip]="compConf.disabledTip"
                  [bfAutoFocus]="compConf.hasAutoFocus"
                  [bfLeftBtnText]="(compConf.hasLeftBtnText ? compConf.leftBtnText : '')"
                  [bfLeftBtnIcon]="(compConf.hasLeftBtn ? compConf.leftBtnIcon : '')"
                  (bfLeftBtnClick)="compConf.bfLeftBtnClick && growl.success('Left addon button click')"
                  [bfLeftBtnTooltip]="compConf.bfLeftBtnTooltip"

                  [bfRightBtnText]="(compConf.hasRightBtnText ? compConf.rightBtnText : '')"
                  [bfRightBtnIcon]="(compConf.hasRightBtn ? compConf.rightBtnIcon : '')"
                  (bfRightBtnClick)="tipOn = !tipOn"
                  [bfRightBtnTooltip]="tipOn ? 'view.tooltip.message' : compConf.bfRightBtnTooltip"

                  (bfOnKeyDown)="compConf.hasKeyDown && growl.success('Key Down -> ' + $event.key)"
                  (bfOnEsc)="compConf.hasKeyEsc && growl.success('ESC key was pressed')"
                  (bfOnEnter)="compConf.hasKeyEnter && growl.success('ENTER key was pressed')"
                  (bfOnCtrlEnter)="compConf.hasKeyCtrlEnter && growl.success('Ctrl + ENTER key were pressed')"

                  (bfOnLoaded)="compConf.hasOnLoad && growl.success('bfOnLoaded triggered')"
                  (bfBeforeChange)="compConf.hasBeforeChange && growl.success('bfBeforeChange triggered')"
        ></bf-input>
        <div class="col-3 text-right" [class.pad20]="compConf.hasLabel"><bf-btn bfText="Relink" (bfClick)="reLink()"></bf-btn></div>
      </div>

      <div class="padT15">
        <div class="code-box pad15">
          <pre>{{customCompCode}}</pre>
        </div>
      </div>
    </div>

    <div class="col-7 padL50">

      <!--Label-->
      <div class="row padT15">
        <bf-checkbox class="col-3 padT5" bfLabel="bfLabel" [(ngModel)]="compConf.hasLabel" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-6" style="margin-bottom: -5px;" [(ngModel)]="compConf.labelText" (ngModelChange)="upComp()" [bfDisabled]="!compConf.hasLabel" bfAriaLabel="This is labled with aria"></bf-input>
        <div class="col-3" style="margin-top: -25px;">
          <bf-dropdown bfLabel="bfType" [(ngModel)]="compConf.inputType" (ngModelChange)="upComp()"
                       [bfList]="compConf.inputTypes" bfRender="text" bfSelect="id" [bfRequired]="true">
          </bf-dropdown>
        </div>
      </div>

      <!--Placeholder-->
      <div class="row">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasPlaceholder" (ngModelChange)="upComp()" bfLabel="bfPlaceholder"></bf-checkbox> </div>
        <div class="col-9" style="margin-bottom: -5px;"> <bf-input [(ngModel)]="compConf.placeholderText" (ngModelChange)="upComp()" [bfDisabled]="!compConf.hasPlaceholder"></bf-input> </div>
      </div>

      <!--Required + Type + AutoFocus + Autocomplete-->
      <div class="row padT10">
        <bf-checkbox class="col-3 block" bfLabel="bfRequired" [(ngModel)]="compConf.isRequired" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-checkbox class="col-3 block" bfLabel="bfAutofocus" [(ngModel)]="compConf.hasAutoFocus" (ngModelChange)="upComp()" bfTooltip="once input linked to the view is automatically focused"></bf-checkbox>
        <bf-checkbox class="col-3 block" bfLabel="bfAutocomplete" [(ngModel)]="compConf.hasAutocomplete" (ngModelChange)="upComp()" bfTooltip="once the input is clicked, the previous value will be suggested"></bf-checkbox>
      </div>

      <!--Disabled-->
      <div class="row marT15">
        <bf-checkbox class="col-3 padT5" bfLabel="bfDisabled" [(ngModel)]="compConf.isDisabled" (ngModelChange)="upComp()" ></bf-checkbox>
        <bf-input class="col-9 flat" [(ngModel)]="compConf.disabledTip" bfPlaceholder="Tooltip: This input is disabled because..." (ngModelChange)="upComp()"></bf-input>
      </div>

      <!--Icon-->
      <div class="row marT15">
        <bf-checkbox class="col-3 padT5" bfLabel="bfIcon" [(ngModel)]="compConf.hasIcon" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-dropdown class="col-4 full-width"
                     [bfDisabled]="!compConf.hasIcon"
                     [(ngModel)]="compConf.inputIcon" (ngModelChange)="upComp()"
                     [bfList]="btnIcons" bfRender="icon" bfSelect="icon" [bfRequired]="false">
        </bf-dropdown>
        <span class="col-3 padT5 text-info">bfIcon="loading" --> Spinner</span>
      </div>

      <div class="row marT5">
        <div class="col-3">
          <!--Tooltip-->
          <bf-checkbox class="block padT5" bfLabel="bfTooltip" [(ngModel)]="compConf.hasTooltip" (ngModelChange)="upComp()"></bf-checkbox>
          <div class="marT30"></div>

          <!--Key Listeners-->
          <bf-checkbox class="block marT10" bfLabel="(bfOnKeyDown)" [(ngModel)]="compConf.hasKeyDown" (ngModelChange)="upComp()"></bf-checkbox>
          <bf-checkbox class="block marT10" bfLabel="(bfOnEsc)" [(ngModel)]="compConf.hasKeyEsc" (ngModelChange)="upComp()"></bf-checkbox>
          <bf-checkbox class="block marT10" bfLabel="(bfOnEnter)" [(ngModel)]="compConf.hasKeyEnter" (ngModelChange)="upComp()"></bf-checkbox>
          <bf-checkbox class="block marT10" bfLabel="(bfOnCtrlEnter)" [(ngModel)]="compConf.hasKeyCtrlEnter" (ngModelChange)="upComp()"></bf-checkbox>

          <!--bfOnLoaded + bfBeforeChange-->
          <bf-checkbox class="block marT10" bfLabel="(bfOnLoaded)" [(ngModel)]="compConf.hasOnLoad" (ngModelChange)="upComp()"></bf-checkbox>
          <bf-checkbox class="block marT10" bfLabel="(bfBeforeChange)" [(ngModel)]="compConf.hasBeforeChange" (ngModelChange)="upComp()"></bf-checkbox>

        </div>

        <div class="col-9">
          <div class="row">
            <bf-input class="col-12" [bfDisabled]="!compConf.hasTooltip" [(ngModel)]="compConf.inputTooltip" (ngModelChange)="upComp()"></bf-input>
            <bf-dropdown class="col-6" bfLabel="bfTooltipPos" [bfDisabled]="!compConf.hasTooltip"
                         [(ngModel)]="compConf.inputTooltipPos" (ngModelChange)="upComp()" [bfList]="tooltipPosList" bfRender="text" bfSelect="id">
            </bf-dropdown>
            <bf-dropdown class="col-6" bfLabel="bfTooltipBody" [bfDisabled]="!compConf.hasTooltip"
                         [(ngModel)]="compConf.inputTooltipBody" (ngModelChange)="upComp()" [bfList]="tooltipBodyList" bfRender="text" bfSelect="id">
            </bf-dropdown>
          </div>

          <!--Addon Buttons-->
          <div class="row marT10">
            <bf-checkbox class="col-3 padT5" bfLabel="bfLeftBtnIcon" [(ngModel)]="compConf.hasLeftBtn" (ngModelChange)="upComp()"></bf-checkbox>
            <bf-input class="col-3" [bfDisabled]="!compConf.hasLeftBtn" [(ngModel)]="compConf.leftBtnIcon" (ngModelChange)="upComp()"></bf-input>

            <bf-checkbox class="col-3 padT5" bfLabel="bfRightBtnIcon" [(ngModel)]="compConf.hasRightBtn" (ngModelChange)="upComp()"></bf-checkbox>
            <bf-input class="col-3" [bfDisabled]="!compConf.hasRightBtn" [(ngModel)]="compConf.rightBtnIcon" (ngModelChange)="upComp()"></bf-input>

            <bf-checkbox class="col-3 padT5" bfLabel="bfLeftBtnIcon" [(ngModel)]="compConf.hasLeftBtnText" (ngModelChange)="upComp()"></bf-checkbox>
            <bf-input class="col-3" [bfDisabled]="!compConf.hasLeftBtnText" [(ngModel)]="compConf.leftBtnText" (ngModelChange)="upComp()"></bf-input>

            <bf-checkbox class="col-3 padT5" bfLabel="bfRightBtnText" [(ngModel)]="compConf.hasRightBtnText" (ngModelChange)="upComp()"></bf-checkbox>
            <bf-input class="col-3" [bfDisabled]="!compConf.hasRightBtnText" [(ngModel)]="compConf.rightBtnText" (ngModelChange)="upComp()"></bf-input>
          </div>
          <div class="row marT10">
            <bf-checkbox class="col-6" bfLabel="(bfLeftBtnClick)" [(ngModel)]="compConf.bfLeftBtnClick" (ngModelChange)="upComp()"
                         [show]="compConf.hasLeftBtnText || compConf.hasLeftBtn">
            </bf-checkbox>
            <bf-checkbox class="col-6" bfLabel="(bfRightBtnClick)" [(ngModel)]="compConf.bfRightBtnClick" (ngModelChange)="upComp()"
                         [class.offset-6]="!compConf.hasLeftBtnText && !compConf.hasLeftBtn"
                         [show]="compConf.hasRightBtnText || compConf.hasRightBtn">
            </bf-checkbox>
          </div>
          <div class="row marT10">
            <bf-input class="col-6" bfPlaceholder="[bfLeftBtnTooltip]"
                      [show]="compConf.hasLeftBtnText || compConf.hasLeftBtn"
                      [(ngModel)]="compConf.bfLeftBtnTooltip" (ngModelChange)="upComp()">
            </bf-input>
            <bf-input class="col-6" bfPlaceholder="[bfRightBtnTooltip]"
                      [class.offset-6]="!compConf.hasLeftBtnText && !compConf.hasLeftBtn"
                      [show]="compConf.hasRightBtnText || compConf.hasRightBtn"
                      [(ngModel)]="compConf.bfRightBtnTooltip" (ngModelChange)="upComp()">
            </bf-input>
          </div>
        </div>
      </div>


      <!--Classes-->
      <div class="row marT15">
        <div class="col-8 padT5">
          <bf-label bfText="CSS Classes"></bf-label>
          <bf-checkbox class="marL20" [(ngModel)]="compConf.hasFlat" (ngModelChange)="upComp()" bfLabel="flat"></bf-checkbox>
        </div>
      </div>

    </div>

  </div>
</div>


<div class="marT30" *ngIf="true">

  <p>
    This component has been implemented as a "custom controller", so it can be linked to a formControl to work in Reactive and Template forms.
    <br>Check this page for more info: <a href="https://blog.thoughtram.io/angular/2016/07/27/custom-form-controls-in-angular-2.html">https://blog.thoughtram.io/angular/2016/07/27/custom-form-controls-in-angular-2.html</a>
  </p>

  <!--Inputs in a Form-->
  <div class="whiteBg">
    <div class="collapse-btn" (click)="boxCo[2] = !boxCo[2]"></div>
    <h5 class="marB15">Inputs in a Form - Linking ngForm with bfInput - ngModel</h5>

    <form #myForm="ngForm" [hidden]="boxCo[2]">
      <div class="row">
        <div class="col-2">
          <pre>myForm.status = {{ myForm.status | json }} </pre>
          <pre>myForm.value = {{ myForm.value | json }}</pre>
          <pre class="marB0">
myForm.valid    = {{ myForm.valid }}
myForm.invalid  = {{ myForm.invalid }}
myForm.pristine = {{ myForm.pristine }}
myForm.touched  = {{ myForm.touched }}
myForm.errors   = {{ myForm.errors | json }}
          </pre>

        </div>

        <div class="col-2">
          <bf-input bfLabel="first" name="first" [(ngModel)]="val1" [bfRequired]="true" #firstRef="ngModel" ></bf-input>
          <pre>
firstRef.value = {{firstRef.value}}
firstRef.valid = {{firstRef.valid }}
firstRef.errors = {{firstRef.errors | json }}
          </pre>
          <pre class="marB0">ngModel Value (val1) = {{val1}}
ngModel Value (val2) = {{val2}}
          </pre>
        </div>

        <div class="col-2">
          <bf-input bfLabel="last" name="last" [(ngModel)]="val2" [bfRequired]="true" #lastRef="ngModel" ></bf-input>
          <pre>lastRef.value = {{lastRef.value}}
lastRef.valid = {{lastRef.valid }}
lastRef.errors = {{lastRef.errors | json }}
          </pre>
          <bf-btn bfType="save" bfText="Save Form" [bfDisabled]="myForm.invalid"></bf-btn>
        </div>

        <div class="col-6 examples-table" style="margin-top: -40px;">
          <h5>Code sample:</h5>
          <div class="code-box pad10">
            <pre style="font-size: 14px;">{{ formExampleInput100 }}</pre>
          </div>
        </div>

      </div>
    </form>

  </div>




  <!--Applicable classes -->
  <div class="row">
    <div class="col-12">
      <h5 class="mt-4">Applicable classes:</h5>
      <p>The input has a margin bottom 15px by default. To remove it, add the class "<span class="bold">flat</span>":</p>
      <pre class="marT10">{{ flatExample }}</pre>
    </div>
    <div class="col-3">
      <div style="border: 1px dashed red">
        <bf-input class="" bfLabel="Without flat class" [ngModel]="bfModel"></bf-input>
      </div>
    </div>
    <div class="col-3">
      <div style="border: 1px dashed red">
        <bf-input class="flat" bfLabel="With flat class" [ngModel]="bfModel"></bf-input>
      </div>
    </div>

    <div class="col-12">
      <hr>
      <p>To align the label and input horizontally, add the class "<b>input-col</b>"
        <br>It applies a flex display on the label / input, aligning them to the center.
        It is also possible to adjust the flex of the value, to give more room to the right side using "input-col-2", "input-col-3", "input-col-4" and so on:
      </p>
      <pre class="marT10">{{ inputColExample }}</pre>

      <div style="border: 1px dashed red; max-width: 650px;">
        <bf-input [(ngModel)]="myVariable3" class="input-col-1"
                  bfRequired="true" bfErrorOnPristine="true"
                  bfLabel="view.common.name">
        </bf-input>
        <bf-input [(ngModel)]="myVariable4" class="input-col-2"
                  bfRequired="true" bfErrorOnPristine="true"
                  bfLabel="view.common.name">
        </bf-input>
        <bf-input [(ngModel)]="myVariable5" class="input-col-5"
                  bfRequired="true" bfErrorOnPristine="true"
                  bfLabel="view.common.name">
        </bf-input>
        <!--bfErrorPos="bottom-left"-->
        <!--bfErrorPos="bottom-right"-->
      </div>

    </div>

  </div>


  <!--CSS Styling-->
  <div class="row marT40">
    <div class="col-12">
      <hr>
      <h4>CSS Styling</h4>
      <p>The following SASS variables can be overridden to provide customized coloring:</p>
      <pre class="padL30">{{ cssReset }}</pre>
    </div>
  </div>




</div>
