<h2>{{name}}</h2>
<hr/>
<p>{{desc}}</p>

<div class="whiteBg">
  <div class="collapse-btn" (click)="boxCo[0] = !boxCo[0]"></div>
  <h5 style="margin-top: -10px;">Parameters:</h5>
  <div class="col-12" [hidden]="boxCo[0]"><pre>{{api}}</pre></div>
</div>

<p>
  This component has been implemented as a "custom controller", so it can be linked to a formControl to work in Reactive and Template forms.
<br>
  Check this page for more info: <a href="https://blog.thoughtram.io/angular/2016/07/27/custom-form-controls-in-angular-2.html">https://blog.thoughtram.io/angular/2016/07/27/custom-form-controls-in-angular-2.html</a>
</p>




<!--Input Customization-->
<div class="whiteBg">
  <div class="collapse-btn" (click)="boxCo[1] = !boxCo[1]"></div>
  <h5 [hidden]="!boxCo[1]">BfInput Customization:</h5>
  <div class="row" [hidden]="boxCo[1]">
    <div class="col-5 marB15">
      <h5 class="marB25">BfInput Customization:</h5>
      <div *ngIf="linkCustomInput">
        <bf-input [(ngModel)]="myVariable"
                  [class.flat]="compConf.hasFlat"
                  [bfRequired]="compConf.isRequired"
                  [bfLabel]="(compConf.hasLabel ? compConf.labelText : '')"
                  [bfPlaceholder]="(compConf.hasPlaceholder ? compConf.placeholderText : '')"
                  [bfDisabled]="compConf.isDisabled"
                  [bfIcon]="(compConf.hasIcon ? compConf.inputIcon : '')"
                  [bfType]="compConf.inputType"
                  [bfTooltip]="(compConf.hasTooltip ? compConf.inputTooltip : null)"
                  [bfTooltipPos]="(compConf.inputTooltipPos || 'top')"
                  [bfTooltipBody]="compConf.inputTooltipBody"
                  [bfDisabledTip]="compConf.disabledTip"
                  [bfAutoFocus]="compConf.hasAutoFocus"
                  [bfAutocomplete]="compConf.hasAutocomplete"
                  [bfLeftBtnText]="(compConf.hasLeftBtnText ? compConf.leftBtnText : '')"
                  [bfLeftBtnIcon]="(compConf.hasLeftBtn ? compConf.leftBtnIcon : '')"
                  (bfLeftBtnClick)="compConf.hasBtnListener && growl.success('Left addon button click')"

                  [bfRightBtnText]="(compConf.hasRightBtnText ? compConf.rightBtnText : '')"
                  [bfRightBtnIcon]="(compConf.hasRightBtn ? compConf.rightBtnIcon : '')"
                  (bfRightBtnClick)="compConf.hasBtnListener && growl.success('Right addon button click')"

                  (bfOnKeyDown)="compConf.hasKeyDown && growl.success('Key Down -> ' + $event.key)"
                  (bfOnEsc)="compConf.hasKeyEsc && growl.success('ESC key was pressed')"
                  (bfOnEnter)="compConf.hasKeyEnter && growl.success('ENTER key was pressed')"
                  (bfOnCtrlEnter)="compConf.hasKeyCtrlEnter && growl.success('Ctrl + ENTER key were pressed')"
        ></bf-input>
      </div>

      <div>{{clickMsg}}</div>

      <div class="padT15">
        <div class="code-box pad15">
          <pre>{{customCompCode}}</pre>
        </div>
      </div>
    </div>

    <div class="col-7">

      <!--Label-->
      <div class="row">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasLabel" (ngModelChange)="upComp()" bfLabel="Has Label"></bf-checkbox> </div>
        <div class="col-9" style="margin-bottom: -5px;"> <bf-input [(ngModel)]="compConf.labelText" (ngModelChange)="upComp()" [bfDisabled]="!compConf.hasLabel"></bf-input> </div>
      </div>

      <!--Placeholder-->
      <div class="row">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasPlaceholder" (ngModelChange)="upComp()" bfLabel="Placeholder"></bf-checkbox> </div>
        <div class="col-9" style="margin-bottom: -5px;"> <bf-input [(ngModel)]="compConf.placeholderText" (ngModelChange)="upComp()" [bfDisabled]="!compConf.hasPlaceholder"></bf-input> </div>
      </div>

      <!--Required + Type + AutoFocus + Autocomplete-->
      <div class="row marT5">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.isRequired" (ngModelChange)="upComp()" bfLabel="Is Required"></bf-checkbox> </div>
        <div class="col-3">
          <bf-dropdown [(ngModel)]="compConf.inputType" (ngModelChange)="upComp()" [bfList]="inputTypes" bfRender="text" bfSelect="id" [bfRequired]="true"> </bf-dropdown>
          <bf-label bfValue="Input Type" class="value-inline"></bf-label>
        </div>
        <div class="col-3 padT5">
          <bf-checkbox [(ngModel)]="compConf.hasAutoFocus" (ngModelChange)="upComp()" bfLabel="Has AutoFocus"></bf-checkbox>
        </div>
<!--        <div class="col-3 padT5">-->
<!--          <bf-checkbox bfLabel="Autocomplete" [(ngModel)]="compConf.hasAutocomplete" (ngModelChange)="upComp()"></bf-checkbox>-->
<!--        </div>-->
      </div>

      <!--Disabled-->
      <div class="row marT15">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.isDisabled" (ngModelChange)="upComp()" bfLabel="Is Disabled"></bf-checkbox> </div>
        <div class="col-9">
          <bf-input class="flat" [(ngModel)]="compConf.disabledTip" bfPlaceholder="This input is disabled because..." (ngModelChange)="upComp()"></bf-input>
        </div>
      </div>

      <!--Icon-->
      <div class="row marT15">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasIcon" (ngModelChange)="upComp()" bfLabel="Has Icon"></bf-checkbox> </div>
        <div class="col-9" style="margin-bottom: -5px;"> <bf-input [(ngModel)]="compConf.inputIcon" (ngModelChange)="upComp()" [bfDisabled]="!compConf.hasIcon"></bf-input> </div>
      </div>

      <!--Tooltip-->
      <div class="row marT5">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasTooltip" (ngModelChange)="upComp()" bfLabel="Has Tooltip"></bf-checkbox> </div>
        <div class="col-9" *ngIf="compConf.hasTooltip">
          <bf-input [(ngModel)]="compConf.inputTooltip" (ngModelChange)="upComp()"></bf-input>
        </div>
        <div class="col-3" *ngIf="compConf.hasTooltip"></div>
        <div class="col-5" *ngIf="compConf.hasTooltip">
          bfTooltipPos: <bf-dropdown [(ngModel)]="compConf.inputTooltipPos" (ngModelChange)="upComp()" [bfList]="tooltipPosList" bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
        <div class="col-4" *ngIf="compConf.hasTooltip">
          bfTooltipBody: <bf-dropdown [(ngModel)]="compConf.inputTooltipBody" (ngModelChange)="upComp()" [bfList]="tooltipBodyList" bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
      </div>

      <!--Key Listeners-->
      <div class="row marT15">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasKeyDown" (ngModelChange)="upComp()" bfLabel="Listen KeyDown"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasKeyEsc" (ngModelChange)="upComp()" bfLabel="Listen Esc"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasKeyEnter" (ngModelChange)="upComp()" bfLabel="Listen Enter"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasKeyCtrlEnter" (ngModelChange)="upComp()" bfLabel="Listen Ctrl+Enter"></bf-checkbox> </div>
      </div>

      <!--Addon Buttons-->
      <div class="row marT25">
        <div class="col-2">
          <bf-checkbox [(ngModel)]="compConf.hasLeftBtn" (ngModelChange)="upComp()" bfLabel="Left Btn Icon"></bf-checkbox>
          <bf-input *ngIf="compConf.hasLeftBtn" [(ngModel)]="compConf.leftBtnIcon" (ngModelChange)="upComp()" bfPlaceholder="left addon icon"></bf-input>
        </div>
        <div class="col-3">
          <bf-checkbox [(ngModel)]="compConf.hasLeftBtnText" (ngModelChange)="upComp()" bfLabel="Left Btn Text"></bf-checkbox>
          <bf-input *ngIf="compConf.hasLeftBtnText" [(ngModel)]="compConf.leftBtnText" (ngModelChange)="upComp()" bfPlaceholder="left addon text"></bf-input>
        </div>
        <div class="col-2">
          <bf-checkbox [(ngModel)]="compConf.hasRightBtn" (ngModelChange)="upComp()" bfLabel="Right B. Icon"></bf-checkbox>
          <bf-input *ngIf="compConf.hasRightBtn" [(ngModel)]="compConf.rightBtnIcon" (ngModelChange)="upComp()" bfPlaceholder="right addon icon"></bf-input>
        </div>
        <div class="col-3">
          <bf-checkbox [(ngModel)]="compConf.hasRightBtnText" (ngModelChange)="upComp()" bfLabel="Right Btn Text"></bf-checkbox>
          <bf-input *ngIf="compConf.hasRightBtnText" [(ngModel)]="compConf.rightBtnText" (ngModelChange)="upComp()" bfPlaceholder="right addon text"></bf-input>
        </div>
        <div class="col-1">
          <bf-checkbox [(ngModel)]="compConf.hasBtnListener" (ngModelChange)="upComp()" bfLabel="onClick()"
                       *ngIf="compConf.hasLeftBtnText || compConf.hasLeftBtn || compConf.hasRightBtnText || compConf.hasRightBtn">
          </bf-checkbox>
        </div>
      </div>

      <!--Classes-->
      <div class="row marT15">
        <div class="col-8 padT5">
          <bf-label bfText="CSS Classes"></bf-label>
          <bf-checkbox class="marL20" [(ngModel)]="compConf.hasFlat" (ngModelChange)="upComp()" bfLabel="flat"></bf-checkbox>
        </div>
        <div class="col-4 text-right">
          <bf-btn bfText="Reset Input" (bfClick)="resetInput()"></bf-btn>
        </div>
      </div>

    </div>

  </div>
</div>

<hr>



<!--Input Validators-->
<div class="whiteBg row">
  <h5 class="col-12 marB15">Input Validators</h5>
  <div class="collapse-btn" (click)="boxCo[2] = !boxCo[2]"></div>

  <div class="col-6" [hidden]="boxCo[2]" >
    <!--[bfIcon]="bfInputRef.valid ? 'icon-search' : 'icon-thumbs-down'"-->
    <bf-input [(ngModel)]="val1"  #bfInputRef="ngModel"
              [bfDisabled]="valEx.isDisabled"
              [bfRequired]="valEx.isRequired"
              [bfMinlength]="valEx.minLen"
              [bfAutocomplete]="valEx.hasAutocomplete"
              [bfMaxlength]="valEx.isMaxLen ? valEx.maxLen : null"
              [bfPattern]="valEx.hasPattern ? valEx.pattern : null"
              [bfValidType]="valEx.valType ? valEx.valType : null"
              [bfValidator]="valEx.hasBfValidator ? validIfFn : null"
              [bfErrorOnPristine]="valEx.hasErrOnPristine"
              [bfIcon]="valEx.hasIcon ? valEx.bfIcon : ''"
              [bfInvalidIcon]="valEx.hasInvalidIcon ? valEx.bfInvalidIcon : 'icon-warning22'"
              [bfValidIcon]="valEx.hasValidIcon ? valEx.bfValidIcon : ''"
              [bfErrorText]="valEx.hasErrorText ? valEx.bfErrorText : ''"
              [bfErrorPos]="valEx.errorPos"
              (bfOnLoaded)="inputInit($event)"
              (bfBeforeChange)="catchValue($event)"
              bfLabel="view.common.name">
    </bf-input>

    <!--<div>-->
    <!--INTERNAL FormControl: value={{exposedModel?.value}}-->
    <!--, valid={{exposedModel?.valid}}-->
    <!--, invalid={{exposedModel.invalid}}-->
    <!--, errors={{exposedModel.errors | json}}-->
    <!--, pristine={{exposedModel.pristine}}-->
    <!--</div>-->
    <div *ngIf="!!bfInputRef">
      FromControl:
      value={{bfInputRef.value}}
      , valid={{bfInputRef.valid}}
      , invalid={{bfInputRef.invalid}}
      , errors={{bfInputRef.errors | json}}
      , pristine={{bfInputRef.pristine}}
    </div>

    <div class="padT15">
      <div class="code-box pad15">
        <pre>{{valCompCode}}</pre>
      </div>
    </div>

  </div>
  <div class="col-6" [hidden]="boxCo[2]" *ngIf="isInputReady">
    <div class="marB10">
      <span>ngModel:</span><input type="text" [(ngModel)]="val1">
      <span>Change this to manipulate the value of the input externally</span>
    </div>
    <div class="marB10">

      <!--Required-->
      <bf-checkbox bfLabel="Is Required" [(ngModel)]="valEx.isRequired" (ngModelChange)="upComp2()"></bf-checkbox>

      <!--Disabled-->
      <bf-checkbox bfLabel="Is Disabled" [(ngModel)]="valEx.isDisabled" (ngModelChange)="upComp2()"></bf-checkbox>

      <!--MinLen-->
      <span class="marL15">MinLength: <input class="marL15" type="text" style="width: 50px;" [(ngModel)]="valEx.minLen" (ngModelChange)="upComp2()"></span>

      <!--MaxLen-->
      <bf-checkbox class="marL15" bfLabel="Max Length" [(ngModel)]="valEx.isMaxLen" (ngModelChange)="upComp2()"></bf-checkbox>
      <input class="marL15" type="text" [(ngModel)]="valEx.maxLen" style="width: 50px;" (ngModelChange)="upComp2()" [hidden]="!valEx.isMaxLen">
    </div>

    <div class="marB10">

      <!--bfPattern-->
      <bf-checkbox bfLabel="Has Pattern" [(ngModel)]="valEx.hasPattern" (ngModelChange)="upComp2()"></bf-checkbox>
      <span class="marL15" [hidden]="!valEx.hasPattern">
        <span>Regex:</span>
        <input class="marL15" type="text" style="width: 150px;" [(ngModel)]="valEx.pattern" (ngModelChange)="upComp2()">
      </span>

      <!--bfValidType-->
      <span [hidden]="valEx.hasPattern">
        <span class="marL30">bfValidType:</span>
        <bf-dropdown [(ngModel)]="valEx.valType" [bfList]="valEx.valTypes" bfRender="text" bfSelect="id" (ngModelChange)="upComp2()"> </bf-dropdown>
      </span>
    </div>

    <div class="marB10">

      <!--bfValidator-->
      <bf-checkbox bfLabel="bfValidator (function):" [(ngModel)]="valEx.hasBfValidator" (ngModelChange)="upComp2()"></bf-checkbox>
      <span class="marL15" [hidden]="!valEx.hasBfValidator">
        <span>{{"validFn = (value) => { return (value === '"}}</span>
        <input type="text" style="width: 50px;" [(ngModel)]="valEx.bfValMatchVal" (ngModelChange)="upComp2()">
        <span>{{"') ? null : { label : 'this is wrong' }; }"}}</span>
      </span>
    </div>

    <div class="marB20">
      <bf-btn bfText="Dirty"       (bfClick)="inputCtrl.setDirty()"    [hidden]="bfInputRef.pristine"></bf-btn>
      <bf-btn bfText="Pristine"    (bfClick)="inputCtrl.setPristine()" [hidden]="!bfInputRef.pristine"></bf-btn>
      <bf-btn bfText="Focus"       (bfClick)="inputCtrl.setFocus()"></bf-btn>
      <bf-btn bfText="Clear Error" (bfClick)="inputCtrl.removeError()"></bf-btn>
      <bf-btn bfText="Add Error"   (bfClick)="inputCtrl.addError({ label: 'manual error here' })"></bf-btn>
      <bf-btn bfText="Refresh"     (bfClick)="inputCtrl.refresh()"></bf-btn>
    </div>


    <div class="marB10">
      <!--bfErrorOnPristine-->
      <bf-checkbox bfLabel="bfErrorOnPristine" [(ngModel)]="valEx.hasErrOnPristine" (ngModelChange)="upComp2()"></bf-checkbox>

      <!--bfIcon-->
      <bf-checkbox class="marL20" bfLabel="bfIcon" [(ngModel)]="valEx.hasIcon" (ngModelChange)="upComp2()"></bf-checkbox>
      <input class="marL10" type="text" style="width: 200px;" [(ngModel)]="valEx.bfIcon" [hidden]="!valEx.hasIcon" (ngModelChange)="upComp2()">
    </div>

    <div class="marB10">
      <!--bfInvalidIcon-->
      <bf-checkbox bfLabel="bfInvalidIcon" [(ngModel)]="valEx.hasInvalidIcon" (ngModelChange)="upComp2()"></bf-checkbox>
      <input class="marL10" type="text" style="width: 200px;" [(ngModel)]="valEx.bfInvalidIcon" [hidden]="!valEx.hasInvalidIcon" (ngModelChange)="upComp2()">

      <!--bfValidIcon-->
      <bf-checkbox class="marL20" bfLabel="bfValidIcon" [(ngModel)]="valEx.hasValidIcon" (ngModelChange)="upComp2()"></bf-checkbox>
      <input class="marL10" type="text" style="width: 200px;" [(ngModel)]="valEx.bfValidIcon" [hidden]="!valEx.hasValidIcon" (ngModelChange)="upComp2()">
    </div>

    <div class="marB10">
      <!--bfErrorPos-->
      <span>bfErrorPos:</span>
      <bf-dropdown [(ngModel)]="valEx.errorPos" [bfList]="valEx.errorPosOpts" bfRender="text" bfSelect="id" (ngModelChange)="upComp2()"></bf-dropdown>

      <!--bfErrorText-->
      <bf-checkbox class="marL30" bfLabel="bfErrorText (label)" [(ngModel)]="valEx.hasErrorText" (ngModelChange)="upComp2()"></bf-checkbox>
      <input class="marL10" type="text" style="width: 200px;" [(ngModel)]="valEx.bfErrorText" [hidden]="!valEx.hasErrorText" (ngModelChange)="upComp2()">

    </div>

    <!--bfOnLoaded + bfBeforeChange-->
    <div class="marB10">
      <bf-checkbox bfLabel="Listen to (bfOnLoaded)" [(ngModel)]="valEx.hasOnLoad" (ngModelChange)="upComp2()"></bf-checkbox>
      <bf-checkbox class="marL30" bfLabel="Listen to (bfBeforeChange)" [(ngModel)]="valEx.hasBeforeChange" (ngModelChange)="upComp2()"></bf-checkbox>
    </div>


  </div>
</div>



<!--External Control-->
<div class="whiteBg">
  <div class="collapse-btn" (click)="boxCo[3] = !boxCo[3]"></div>
  <h5 class="marB25">External Control Example (extCtrl$):</h5>

  <div class="row" [hidden]="boxCo[3]">
    <div class="col-12">
      <p>It is possible to control some options of the input externally. There are 2 ways to do it: With "extCtrl$" or hooking up (bfOnLoad) event</p>
    </div>

    <div class="col-5">
      <p>
        You can pass an observable in "extCtrl$". The component will subscribe and listen to it, so actions
        can be triggered from outside. You can use a Subject if you need to trigger them manually. The .next() should send an object with an "action" and "value"
      </p>
      <bf-input [(ngModel)]="val1" [extCtrl$]="extCtrl$" [bfMinlength]="2" bfLabel="Using extCtrl$"></bf-input>
      <code>
        <ul><li *ngFor="let ctrlAction of ctrlActions">{{ctrlAction}}</li></ul>
      </code>
    </div>

    <div class="col-7">
      <bf-btn bfText="setFocus"    (bfClick)="extCtrl$.next({ action: 'setFocus' })"></bf-btn>
      <bf-btn bfText="setBlur"     (bfClick)="extCtrl$.next({ action: 'setBlur' })"></bf-btn>
      <bf-btn bfText="setDirty"    (bfClick)="extCtrl$.next({ action: 'setDirty' })"></bf-btn>
      <bf-btn bfText="setPristine" (bfClick)="extCtrl$.next({ action: 'setPristine' })"></bf-btn>
      <bf-btn bfText="addError"    (bfClick)="extCtrl$.next({ action: 'addError', label: 'Oh oh!' })"></bf-btn>
      <bf-btn bfText="removeError" (bfClick)="extCtrl$.next({ action: 'removeError' })"></bf-btn>
      <!--<bf-btn bfText="refresh"     (bfClick)="extCtrl$.next({ action: 'refresh' })"></bf-btn>-->

      <div class="marT10">
        <div class="code-box pad15">
          <pre style="overflow-x: hidden;">{{extCtrlExample}}</pre>
        </div>
      </div>
    </div>

    <div class="col-12"><hr></div>

    <div class="col-5">
      <p>
        It is also possible to use the returned object in (bfOnLoaded) to trigger internal actions.<br>
        You should make sure though that the object has been initialized before using it. That's done on ngAfterViewInit lifecycle.
      </p>
      <bf-input [(ngModel)]="val1"
                (bfOnLoaded)="ctrl = $event"
                bfLabel="Using bfOnLoaded">
      </bf-input>
    </div>
    <div class="col-7">
      <div class="marT10">
        <div class="code-box pad15">
          <pre style="overflow-x: hidden;">{{extCtrlExample2}}</pre>
        </div>
      </div>
    </div>
    <div class="col-12">
      <bf-btn bfText="ctrl.setFocus()"    (bfClick)="ctrl.setFocus()" ></bf-btn>
      <bf-btn bfText="ctrl.setBlur()"     (bfClick)="ctrl.setBlur()" ></bf-btn>
      <bf-btn bfText="ctrl.setDirty()"    (bfClick)="ctrl.setDirty()" ></bf-btn>
      <bf-btn bfText="ctrl.setPristine()" (bfClick)="ctrl.setPristine()" ></bf-btn>
      <bf-btn bfText="ctrl.addError({ label: 'Oh no!' })" (bfClick)="ctrl.addError({ label: 'Oh no!' })" ></bf-btn>
      <bf-btn bfText="ctrl.removeError()" (bfClick)="ctrl.removeError()" ></bf-btn>
      <bf-btn bfText="ctrl.refresh()"     (bfClick)="ctrl.refresh()" ></bf-btn>
    </div>

  </div>
</div>






<!--Inputs in a Form-->
<div class="whiteBg">
  <div class="collapse-btn" (click)="boxCo[2] = !boxCo[2]"></div>
  <h5 class="marB15">Inputs in a Form - Linking ngForm with bfInput - ngModel</h5>

  <form #myForm="ngForm" [hidden]="boxCo[2]">
    <div class="row">
      <div class="col-2">
        <pre>myForm.status = {{ myForm.status | json }} </pre>
        <pre>myForm.value = {{ myForm.value | json }}</pre>
        <pre class="marB0">
myForm.valid    = {{ myForm.valid }}
myForm.invalid  = {{ myForm.invalid }}
myForm.pristine = {{ myForm.pristine }}
myForm.touched  = {{ myForm.touched }}
myForm.errors   = {{ myForm.errors | json }}
        </pre>

      </div>

      <div class="col-2">
        <bf-input bfLabel="first" name="first" [(ngModel)]="val1" [bfRequired]="true" #firstRef="ngModel" ></bf-input>
        <pre>
firstRef.value = {{firstRef.value}}
firstRef.valid = {{firstRef.valid }}
firstRef.errors = {{firstRef.errors | json }}
        </pre>
        <pre class="marB0">ngModel Value (val1) = {{val1}}
ngModel Value (val2) = {{val2}}
        </pre>
      </div>

      <div class="col-2">
        <bf-input bfLabel="last" name="last" [(ngModel)]="val2" [bfRequired]="true" #lastRef="ngModel" ></bf-input>
        <pre>lastRef.value = {{lastRef.value}}
lastRef.valid = {{lastRef.valid }}
lastRef.errors = {{lastRef.errors | json }}
        </pre>
        <bf-btn bfText="Save Form" [bfDisabled]="myForm.invalid"></bf-btn>
      </div>

      <div class="col-6 examples-table" style="margin-top: -40px;">
        <h5>Code sample:</h5>
        <div class="code-box pad10">
          <pre style="font-size: 14px;">{{ formExampleInput100 }}</pre>
        </div>
      </div>

    </div>
  </form>

</div>



<h5 class="mt-4">Examples:</h5>
<div class="col-12 examples-table">

  <div class="row">
    <div class="col-3">
      <bf-input [(ngModel)]="myModel" bfLabel="My Field"></bf-input>
    </div>
    <div class="col-9"> <pre>{{instance}}</pre> </div>
  </div>

  <div class="row">
    <div class="col-3">
      <bf-input [(ngModel)]="myModel"
                bfLabel="Username"
                [bfRequired]="true"
                bfTooltip="This is a tooltip">
      </bf-input>
    </div>
    <div class="col-9"> <pre>{{instance}}</pre> </div>
  </div>

  <div class="row">
    <div class="col-3">
      <bf-input [(ngModel)]="myModel" bfLabel="My Field"></bf-input>
    </div>
    <div class="col-9"> <pre>{{instance}}</pre> </div>
  </div>

  <div class="row">
    <div class="col-3">
      <bf-input [(ngModel)]="myModel" bfLabel="KeyDown detection"
                (bfOnKeyDown)="growl.success('Key pressed -> ' + $event.key)">
      </bf-input>
    </div>
    <div class="col-9"> <pre>{{instance4}}</pre> </div>
  </div>

  <div class="row">
    <div class="col-3">
      <bf-input [(ngModel)]="myModel" bfLabel="Special Keys detection"
                (bfOnEsc)="growl.success('Esc key pressed')"
                (bfOnEnter)="growl.success('Enter key pressed')"
                (bfOnCtrlEnter)="growl.success('Ctrl + Enter key pressed')">
      </bf-input>
    </div>
    <div class="col-9"> <pre>{{instance5}}</pre> </div>
  </div>

</div>


<!--Autofill Detection Example-->
<div class="whiteBg">
  <h5>Autofill Detection Example</h5>
  <form>
    <div class="row">
      <div class="col">
        <bf-input [(ngModel)]="user" [bfRequired]="true" name="user" bfLabel="Username"
                  (bfOnAutofill)="isAutofilled=('Value has been autofilled!')">
        </bf-input>
      </div>
      <div class="col">
        <bf-input [(ngModel)]="pass" name="pass" bfRequired="true" bfLabel="Password" bfType="password">
        </bf-input>
      </div>
      <div class="col">
        <div [hidden]="!isAutofilled" class="padV10" (click)="isAutofilled=''">{{isAutofilled}}</div>
        <button type="submit" [routerLink]="'/bf-btn'">Click to Submit and trigger browser password save</button>
      </div>
    </div>
  </form>
</div>



<!--Applicable classes -->
<div class="row">
  <div class="col-12">
    <h5 class="mt-4">Applicable classes:</h5>
    <p>The input has a margin bottom 15px by default. To remove it, add the class "<span class="bold">flat</span>":</p>
    <pre class="marT10">{{ flatExample }}</pre>
  </div>
  <div class="col-3">
    <div style="border: 1px dashed red">
      <bf-input class="" bfLabel="Without flat class" [ngModel]="bfModel"></bf-input>
    </div>
  </div>
  <div class="col-3">
    <div style="border: 1px dashed red">
      <bf-input class="flat" bfLabel="With flat class" [ngModel]="bfModel"></bf-input>
    </div>
  </div>

  <div class="col-12">
    <hr>
    <p>To align the label and input horizontally, add the class "<span class="bold">input-col</span>"
      <br>It applies a flex display on the label / input, aligning them to the center.
      It is also possible to adjust the flex of the value, to give more room to the right side using "input-col-2", "input-col-3", "input-col-4" and so on:
    </p>
    <pre class="marT10">{{ inputColExample }}</pre>


    <bf-input [(ngModel)]="myVariable3" class="input-col-1"
              bfRequired="true" bfErrorOnPristine="true"
              bfLabel="view.common.name">
    </bf-input>
    <bf-input [(ngModel)]="myVariable4" class="input-col-2"
              bfRequired="true" bfErrorOnPristine="true"
              bfLabel="view.common.name">
    </bf-input>
    <bf-input [(ngModel)]="myVariable5" class="input-col-3"
              bfRequired="true" bfErrorOnPristine="true"
              bfLabel="view.common.name">
    </bf-input>
    <!--bfErrorPos="bottom-left"-->
    <!--bfErrorPos="bottom-right"-->

  </div>

</div>


<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <hr>
    <h4>CSS Styling</h4>
    <p>The following SASS variables can be overridden to provide customized coloring:</p>
    <pre class="padL30">{{ cssReset }}</pre>
  </div>
</div>




