<h2>{{name}}</h2>
<hr/>
<h5>{{desc}}</h5>
<p>Input that opens a list of suggestions based on what we type, and we can either select one of the options or type a
  free text.</p>

<!--Joel Test-->
<div class="row" *ngIf="false">
  <bf-input class="col-3" [(ngModel)]="myVar" bfLabel="Normal Input"></bf-input>
  <div class="col-3">
    <bf-autocomplete [(ngModel)]="myVar"
                     [bfList]="myTestOptions1"
                     bfLabel="This is a test">
    </bf-autocomplete>
  </div>
  <bf-input class="col-3" [(ngModel)]="myVar" bfLabel="Normal Input"></bf-input>
  <div class="col-3">myVar={{myVar}} </div>
</div>



<h5 class="mt-4">Parameters:</h5>
<div class="col-12">
  <pre>{{api}}</pre>
</div>

<!--bf-autocomplete Customization-->
<div class="whiteBg">
  <div class="row">
    <div class="col-5 marB15">
      <h5 class="marB25">bf-autocomplete Customization:</h5>
      <div>
        <bf-autocomplete class="full-width"
                         [(ngModel)]="stringSelected"
                         [bfList]="stringList"
                         [bfRequired]="compConf.isRequired"
                         [bfDisabled]="compConf.isDisabled"
                         [bfLabel]="(compConf.hasLabel ? compConf.labelText : '')"
                         [bfPlaceholder]="(compConf.hasPlaceholder ? compConf.placeholderText : '')"
                         [bfTooltip]="(compConf.hasLabel && compConf.hasTooltip ? compConf.tooltipText : null)"
                         [bfTooltipPos]="(compConf.hasLabel && compConf.tooltipPos || 'top')"
                         [bfTooltipBody]="compConf.hasLabel && compConf.tooltipBody"
                         [bfValidType]="compConf.validType"
        >
        </bf-autocomplete>
        <span style="margin-bottom: 5px;">ngModel: <bf-input [(ngModel)]="stringSelected"></bf-input></span>
      </div>
      <div>
        <div class="code-box pad15">
          <pre>{{customCompCode}}</pre>
        </div>
      </div>
    </div>

    <div class="col-7">

      <div class="row marT15">
        <div class="col-2 padT5">
          <bf-checkbox [(ngModel)]="compConf.isRequired" (ngModelChange)="upComp()" bfLabel="Is Required"></bf-checkbox>
        </div>
      </div>

      <div class="row marT15">
        <div class="col-2 padT5">
          <bf-checkbox [(ngModel)]="compConf.isDisabled" (ngModelChange)="upComp()" bfLabel="Is Disabled"></bf-checkbox>
        </div>
      </div>

      <div class="row marT15">
        <div class="col-2 padT5">
          <bf-checkbox [(ngModel)]="compConf.hasLabel" (ngModelChange)="upComp()" bfLabel="Has Label"></bf-checkbox>
        </div>
        <div class="col-10">
          <bf-input [(ngModel)]="compConf.labelText" (ngModelChange)="upComp()"
                    [bfDisabled]="!compConf.hasLabel"></bf-input>
        </div>
      </div>

      <div class="row marT10">
        <div class="col-2 padT5">
          <bf-checkbox [(ngModel)]="compConf.hasTooltip" (ngModelChange)="upComp()" bfLabel="Has Tooltip" [bfDisabled]="!compConf.hasLabel"></bf-checkbox>
        </div>
        <div class="col-10" *ngIf="compConf.hasTooltip">
          <bf-input [(ngModel)]="compConf.tooltipText" (ngModelChange)="upComp()"></bf-input>
        </div>
        <div class="col-2" *ngIf="compConf.hasTooltip"></div>
        <div class="col-5" *ngIf="compConf.hasTooltip">
          bfTooltipPos:
          <bf-dropdown [(ngModel)]="compConf.tooltipPos" (ngModelChange)="upComp()"
                       [bfList]="[{ id: 'top', text: 'top' }, { id: 'right', text: 'right' }, { id: 'bottom', text: 'bottom' }, { id: 'left', text: 'left' }]"
                       bfRender="text" bfSelect="id"></bf-dropdown>
        </div>
        <div class="col-5" *ngIf="compConf.hasTooltip">
          bfTooltipBody:
          <bf-dropdown [(ngModel)]="compConf.tooltipBody" (ngModelChange)="upComp()"
                       [bfList]="[{ id: 'true', text: 'true' }, { id: 'false', text: 'false' }]" bfRender="text"
                       bfSelect="id"></bf-dropdown>
        </div>
      </div>

      <div class="row marT15">
        <div class="col-2 padT5">
          <bf-checkbox [(ngModel)]="compConf.hasPlaceholder" (ngModelChange)="upComp()"
                       bfLabel="Has Placeholder"></bf-checkbox>
        </div>
        <div class="col-10">
          <bf-input [(ngModel)]="compConf.placeholderText" (ngModelChange)="upComp()"
                    [bfDisabled]="!compConf.hasPlaceholder"></bf-input>
        </div>
      </div>

      <div class="row  marT10">
        <div class="col-2 padT5">
          <span class="marL30">bfValidType:</span>
        </div>
        <div class="col">
          <bf-dropdown [(ngModel)]="compConf.validType" [bfList]="validTypes" bfRender="text" bfSelect="id"
                       (ngModelChange)="upComp()"></bf-dropdown>
        </div>
      </div>

    </div>

  </div>
</div>

<hr>


<h5 class="mt-4">Examples:</h5>
<div class="col-12 examples-table">

  <div class="row">
    <div class="col-3">
      <bf-autocomplete [(ngModel)]="selectedEmail"
                       (ngModelChange)="onSelectEmail(selectedEmail)"
                       (bfOnEnter)="onEnterEmail(selectedEmail)"
                       [bfList]="emailList"
                       bfValidType="email"
                       bfLabel="Select/Type email"
                       bfPlaceholder="Select/Type email"
      ></bf-autocomplete>
      <span>ngModel: <bf-input [(ngModel)]="selectedEmail"></bf-input></span>
    </div>
    <div class="col-4">
      <pre>{{instance}}</pre>
    </div>
    <div class="col-5 code-box">
      <pre>{{mapUnmapExample}}</pre>
    </div>
  </div>

</div>


<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <hr>
    <h4>CSS Styling</h4>
    <p>The encapsulated styles of the button use a default color. However, we may want to apply different colors
      externally (depending on the theme)
      <br/>
      To provide a color restyiling based on a SCSS theme you can apply the following rules on a css global level :
    </p>
    <pre>{{ cssReset }}</pre>
  </div>
</div>

