<div class="row">
  <div class="col-3">
    <h2>BfDnD - Example 5</h2>
  </div>
  <div class="col-9 text-right">
    <bf-btn bfText="BfDnD" (bfClick)="router.navigate(['/BfDnD'])"></bf-btn>
    <bf-btn bfText="Ex.1" (bfClick)="router.navigate(['/BfDnD/example1'])"></bf-btn>
    <bf-btn bfText="Ex.2" (bfClick)="router.navigate(['/BfDnD/example2'])"></bf-btn>
    <bf-btn bfText="Ex.3" (bfClick)="router.navigate(['/BfDnD/example3'])"></bf-btn>
    <bf-btn bfText="Ex.4" (bfClick)="router.navigate(['/BfDnD/example4'])"></bf-btn>
    <bf-btn bfText="Ex.5" (bfClick)="router.navigate(['/BfDnD/example5'])" bfDisabled="true"></bf-btn>
    <bf-btn bfText="Ex.6" (bfClick)="router.navigate(['/BfDnD/example6'])"></bf-btn>
  </div>
</div>
<hr/>
<h4>Reorderable List</h4>
<p>Using drag and drop to reorder rows on an array list</p>
<p>There is placeholder with height: 0 after every element in the list. When dragging, the active placeholder
grows its height, representing a valid spot (position on the list) where to drop.
<br>To allow dropping into the first position too, there's an extra placeholder before the list too.
When the dragging starts, the dragged element gets hidden, and also its placeholder.
</p>
<hr>

<div class="row"
     [class.use-height-animation]="heightAnimation"
     [class.use-drop-animation]="dropAnimation">
  <div class="col-3">
    <h6>myList</h6>

    <div id="list-cont" bfDropContainer (bfDrop)="reorderList($event)">

      <!--Unique first placeholder to drop at position 0-->
      <div id="pos-0" [bfDropPlaceholder]="{ pos: -1 }" bfDropContainerId="list-cont">
        <span class="marL20">{{'myList[' + bfDnD.bfDraggable?.pos + ']'}}</span>
        <span class="marL30">{{bfDnD.bfDraggable?.id + '. ' + bfDnD.bfDraggable?.name}}</span>
      </div>

      <div *ngFor="let item of myList">

        <!--Row Item-->
        <div class="list-draggable" [bfDraggable]="item" [class.is-dropping]="item.id === isDroppingId">
          <span class="icon-more2 marR5"></span>
          <span>{{'myList[' + item.pos + ']'}}</span>
          <span class="marL30">{{item.id + '. ' + item.name}}</span>
        </div>

        <!--Placeholder below every item (except the dragging one)-->
        <div [id]="'pos-' + item.id" *ngIf="bfDnD.bfDraggable?.id !== item.id"
             [bfDropPlaceholder]="item" bfDropContainerId="list-cont">
          <span class="marL20">{{'myList[' + bfDnD.bfDraggable?.pos + ']'}}</span>
          <span class="marL30">{{bfDnD.bfDraggable?.id + '. ' + bfDnD.bfDraggable?.name}}</span>
        </div>

      </div>
    </div>

  </div>

  <div class="col-2 text-left padR0 padT30">
    <div><bf-switch bfLabel="Height Animations" [(ngModel)]="heightAnimation" bfLabelPos="left"></bf-switch></div>
    <div><bf-switch bfLabel="Drop Animations" [(ngModel)]="dropAnimation" bfLabelPos="left"></bf-switch></div>
    <div class="padT15">ActivePlaceholder = {{bfDnD.activePlaceholder?.id}}</div>
    <div class="">Dragging Item = {{bfDnD.bfDraggable?.id + '. ' + bfDnD.bfDraggable?.name}}</div>
    <div class="marT40">
      <bf-btn bfType="save" bfText="Reset Array myList[]" (bfClick)="resetArray()"></bf-btn>
    </div>
  </div>


  <div class="col-7">
    <h5>View:</h5>
    <div class="code-box pad15">
      <pre>{{viewCode}}</pre>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12"><hr></div>
  <div class="col-5">
    <h5>Ctrl:</h5>
    <div class="code-box pad15">
      <pre style="font-size: 12px;">{{ctrlCode}}</pre>
    </div>
  </div>

  <div class="col-7">
    <h5>Scss:</h5>
    <div class="row padR15">
      <div class="col-6 code-box"><pre style="font-size: 12px;">{{scssCode1}}</pre></div>
      <div class="col-6 code-box"><pre style="font-size: 12px;">{{scssCode2}}</pre></div>
    </div>

  </div>
</div>
