<div class="row">
  <div class="col-3">
    <h2>BfDnD - Example 5</h2>
  </div>
  <div class="col-9 text-right">
    <bf-btn bfText="BfDnD" (bfClick)="router.navigate(['/BfDnD'])"></bf-btn>
    <bf-btn bfText="Ex.1" (bfClick)="router.navigate(['/BfDnD/example1'])"></bf-btn>
    <bf-btn bfText="Ex.2" (bfClick)="router.navigate(['/BfDnD/example2'])"></bf-btn>
    <bf-btn bfText="Ex.3" (bfClick)="router.navigate(['/BfDnD/example3'])"></bf-btn>
    <bf-btn bfText="Ex.4" (bfClick)="router.navigate(['/BfDnD/example4'])"></bf-btn>
    <bf-btn bfText="Ex.5" (bfClick)="router.navigate(['/BfDnD/example5'])" bfDisabled="true"></bf-btn>
    <bf-btn bfText="Ex.6" (bfClick)="router.navigate(['/BfDnD/example6'])"></bf-btn>
  </div>
</div>
<hr/>
<h4>List reordering</h4>
<p>Using drag and drop to reorder rows on a list</p>

<div class="row">
  <div class="col-3">
    <h5>Reorderable List</h5>
    <div [bfDraggable]="1" bfDragMode="move">
      DRAG ME
    </div>

    <div id="list-cont" [bfDropContainer]="">
      <div class="list-wrapper" *ngFor="let item of myList">

        <div [bfDraggable]="item" bfDragMode="move">
            <span>{{'pos ' + item.order}}</span>
            <span class="marL30">{{item.id + '. ' + item.name}}</span>
        </div>

        <div [id]="item.id" [bfDropPlaceholder]="" bfDropContainerId="list-cont"
             *ngIf="bfDnD.bfDraggable?.id !== item.id">
          <span>{{ 'placeholder ' + item.id}}</span>
        </div>

      </div>
    </div>

  </div>

  <div class="col-3">
    <div class="test-1" [bfDropContainer]="">
      <div class="test-2">
        <div class="test-3">HERE</div>
      </div>
    </div>
  </div>
</div>
ActivePlaceholder = {{bfDnD.activePlaceholder?.id}}

<div class="row">
  <div class="col-12"><hr></div>
  <div class="col-6">
    <h5>View:</h5>
    <div class="code-box pad15">
      <pre>{{viewCode}}</pre>
    </div>
  </div>


  <div class="col-6">
    <h5>Ctrl:</h5>
    <div class="code-box pad15">
      <pre>{{ctrlCode}}</pre>
    </div>
  </div>

  <div class="col-6">
    <h5>Scss:</h5>
    <div class="code-box pad15">
      <pre>{{scssCode}}</pre>
    </div>
  </div>
</div>
