<h2>{{name}}</h2>
<hr/>
<h5>{{desc}}</h5>
<p>
  It adds keyboard controls to html lists. Arrow up/left go to the previous element and Arrow down/right will navigate to the next element.
</p>

<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>

<h5 class="mt-4">Examples:</h5>
<div class="col-12 examples-table">

  <div class="row">
    <div class="col-4">
      <ul tabindex="0" bfListController listItemClass="list-item">
        <li class="list-item">One</li>
        <li class="list-item">Two</li>
        <li class="list-item">Three</li>
        <li class="list-item">Four</li>
      </ul>
    </div>
    <div class="col-5"> <pre>{{instance}}</pre> </div>
  </div>

</div>
