<h2>{{name}}</h2>
<hr/>
<p>
  A component that enables the selection of a specified time.
</p>

<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>

<div class="whiteBg">
  <div class="row">
    <div class="col-5 marB15">
      <h5 class="marB25">bf-time-picker Customizations:</h5>

      <div class="code-box pad15 marT15">
        <pre>{{customCompCode}}</pre>
      </div>
    </div>
  </div>

  <div class="row marT15">

      <bf-time-picker
        class="col-3"
        [(currentTime)]="compConf.currentTime"
        [minimumTime]="minTime"
        [maximumTime]="maxTime"
        [formGroup]="exampleGroup"
        controlName="basic-example"
        controlLabel="Basic Example"
      ></bf-time-picker>

      <bf-time-picker
        class="col-3"
        [(currentTime)]="minTime"
        [maximumTime]="maxTime"
        [formGroup]="exampleGroup"
        controlName="min-control"
        controlLabel="Min Time"
      ></bf-time-picker>

      <bf-time-picker
        [(currentTime)]="maxTime"
        [minimumTime]="minTime"
        [formGroup]="exampleGroup"
        controlName="max-control"
        controlLabel="Max Time"
    ></bf-time-picker>
  </div>
</div>

<hr/>
<h5 class="mt-4">Examples: </h5>
<div class="row">
  <div class="col-12 examples-table">
    <div class="row">
      <div class="col-5">
        <bf-time-picker [(currentTime)]="timeStructData" (timeChanged)="updateTimeString($event)"></bf-time-picker>
        Struct: {{timeStructData | json}}<br/>
        Time String: {{timeString}}
      </div>
      <div class="col-7">
        <div class="code-box">
          <pre class="p-3">{{instance}}</pre>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <bf-time-picker class="pt-2" [showSpinners]="false"></bf-time-picker>
      </div>
      <div class="col-7">
        <div class="code-box">
          <pre class="p-3">{{instance2}}</pre>
        </div>
      </div>
    </div>

  </div>
</div>
