<div class="row">
  <div class="col-3">
    <h2>BfDnD - Example 1</h2>
  </div>
  <div class="col-9 text-right">
    <bf-btn bfText="BfDnD" (bfClick)="router.navigate(['/BfDnD'])"></bf-btn>
    <bf-btn bfText="Ex.1" (bfClick)="router.navigate(['/BfDnD/example1'])" bfDisabled="true"></bf-btn>
    <bf-btn bfText="Ex.2" (bfClick)="router.navigate(['/BfDnD/example2'])"></bf-btn>
    <bf-btn bfText="Ex.3" (bfClick)="router.navigate(['/BfDnD/example3'])"></bf-btn>
    <bf-btn bfText="Ex.4" (bfClick)="router.navigate(['/BfDnD/example4'])"></bf-btn>
    <bf-btn bfText="Ex.5" (bfClick)="router.navigate(['/BfDnD/example5'])"></bf-btn>
    <bf-btn bfText="Ex.6" (bfClick)="router.navigate(['/BfDnD/example6'])"></bf-btn>
  </div>
</div>
<hr/>
<h4>Simple dragging</h4>
<p>Simple div that can be dragged to a unique container. Drag elements from the left to the right container</p>

<div class="row">
  <div class="col-3">
    <div class="board">
      <h4 class="padB30">Draggable elements</h4>
      <div class="draggable" [bfDraggable]="obj1">{{obj1.name}}</div>
      <div class="draggable" [bfDraggable]="obj2">{{obj2.name}}</div>
      <div class="draggable" [bfDraggable]="obj3">{{obj3.name}}</div>
    </div>
  </div>
  <div class="col-3">
    <div class="board">
      <div class="container" bfDropContainer
           (bfDrop)="growl.success($event.bfDraggable.name + ' dropped')">
        Drop here
      </div>
    </div>
  </div>

  <div class="col-6">
    <h5>View:</h5>
    <div class="code-box pad15">
      <pre>{{viewCode}}</pre>
    </div>
  </div>

  <div class="col-12"><hr></div>

  <div class="col-6">
    <h5>Ctrl:</h5>
    <div class="code-box pad15">
      <pre>{{ctrlCode}}</pre>
    </div>
  </div>

  <div class="col-6">
    <h5>Scss:</h5>
    <div class="code-box pad15">
      <pre>{{scssCode}}</pre>
    </div>
  </div>
</div>
