<h3>Form Demo</h3>

<div class="whiteBg">
  <form>

    <div class="row marB20">

      <bf-btn bfText="Click Me"
              bfType="save"
              bfAriaLabel="This is an aria label"
              (bfClick)="clickButton()"></bf-btn>

      <bf-btn bfText="Toggle Me"
              (bfClick)="buttonClicked = !buttonClicked"
              [bfToggle]="buttonClicked"></bf-btn>

      <bf-btn bfIcon="icon-eye"
              bfTooltip="Preview"
              [bfTooltipPos]="'left'"></bf-btn>

      <bf-btn (bfClick)="asyncClick()"
              [bfAsyncPromise]="blockPr"
              [bfAriaLabel]="bfAsyncAriaLabel"
              bfText="Async Click"
              bfIcon="icon-arrow-right3"></bf-btn>

      <bf-btn bfText="Disable Tab"
              bfType="save"
              (bfClick)="clickButton()"
              [bfTabIndex]="-1"></bf-btn>
    </div>

    <div class="row">
      <bf-date-picker name="birth"
                      class="mr-2"
                      bfLabel="Birth Day"
                      [bfIsInlineDatePicker]="true"
                      [(ngModel)]="item.birth">
      </bf-date-picker>

      <bf-date-picker name="birth"
                      class="mr-2"
                      bfLabel="Birth Day"
                      [bfIsInlineDatePicker]="false"
                      [(ngModel)]="item.birth">
      </bf-date-picker>

      <bf-date-picker name="birth"
                      class="mr-2"
                      bfLabel="Birth Day"
                      [bfHasClearBtn]="true"
                      [(ngModel)]="item.birth">
      </bf-date-picker>

      <bf-date-picker name="birth"
                      bfLabel="Birth Day"
                      [bfDisabled]="true"
                      [(ngModel)]="item.birth">
      </bf-date-picker>

    </div>


    <div class="row align-items-center">
      <bf-input class="mr-2"
                name="first_name"
                bfLabel="First Name"
                [bfMaxlength]="10"
                [(ngModel)]="item.first_name">
      </bf-input>

      <bf-input class="mr-2"
                name="second_name"
                bfLabel="Second Name"
                [bfRequired]="true"
                [bfMinlength]="3"
                [(ngModel)]="item.second_name">
      </bf-input>

      <bf-input name="first_name"
                class="mr-2"
                bfLabel="First Name"
                [bfDisabled]="true"
                [(ngModel)]="item.first_name">
      </bf-input>

      <bf-input name="sun_weight"
                bfLabel="Weight of the sun"
                bfPattern="[-]?\d{0,8}(\.\d{1,2})?"
                bfPatternLabel="Please enter a decimal value"
                [(ngModel)]="item.sun_weight">
      </bf-input>
    </div>

    <div class="row align-items-center">

      <bf-dropdown-a11y class="mr-2"
                        name="list-selection"
                        bfLabel="List Selection"
                        bfListBoxId="listBox"
                        bfInputId="inputId"
                        [bfRequired]="true"
                        bfErrorText="There's a snake in my boots"
                        [bfList]="list"
                        [(ngModel)]="item.listSelection">
      </bf-dropdown-a11y>

      <bf-checkbox class="mr-2"
                   name="is-checked"
                   bfLabel="Checkbox"
                   bfTooltip="checkbox tooltip"
                   [(ngModel)]="item.isChecked">
      </bf-checkbox>

      <bf-checkbox name="is-checked"
                   bfLabel="Disabeld"
                   bfTooltip="checkbox disabled"
                   [bfDisabled]="true"
                   [(ngModel)]="item.isChecked">
      </bf-checkbox>
      <bf-btn bfText="listbox === null" bfType="primary" (bfClick)="item.listSelection = null"></bf-btn>
    </div>


    <div class="row align-items-center">
      <bf-switch class="mr-2"
                 [(ngModel)]="switchValue"
                 bfLabel="Disabled Switch"
                 name="disabled_switch"
                 bfOnText="Yes"
                 bfOffText="No"
                 [bfDisabled]="true"
                 bfTooltip="This is a disabled tooltip">
      </bf-switch>

      <bf-switch class="mr-2"
                 [(ngModel)]="switchValue"
                 bfLabel="Switch With Tooltip"
                 name="switch"
                 bfOnText="Yes"
                 bfOffText="No"
                 bfTooltip="This is a switch tooltip">
      </bf-switch>

      <bf-switch [(ngModel)]="switchValue"
                 bfLabel="Switch Without Tooltip"
                 name="switch"
                 bfOnText="Yes"
                 bfOffText="No">
      </bf-switch>
    </div>
  </form>
</div>
