<h3>Form Demo</h3>

<div class="whiteBg">
  <form>

    <div class="row marB20">

      <bf-btn bfText="Click Me"
              bfType="save"
              bfAriaLabel="Something happens when clicked"
              bfTooltip="tooltip"
              (bfClick)="clickButton()"></bf-btn>

      <bf-btn bfText="Toggle Me"
              (bfClick)="buttonClicked = !buttonClicked"
              [bfToggle]="buttonClicked"></bf-btn>

      <bf-btn bfIcon="icon-eye"
              bfTooltip="Preview"
              bfAriaLabel="Click to see Preview"
              [bfTooltipPos]="'left'"></bf-btn>

      <bf-btn bfText="Disable Tab"
              bfType="save"
              (bfClick)="clickButton()"
              [bfTabIndex]="-1"></bf-btn>

    </div>

    <div class="row align-items-center">
      <bf-input class="col-3"
                name="first_name"
                bfLabel="First Name"
                [(ngModel)]="item.first_name">
      </bf-input>

      <bf-checkbox class="col-3"
                   name="is-checked"
                   bfLabel="Is Checked"
                   [(ngModel)]="item.isChecked">
      </bf-checkbox>

      <bf-dropdown class="col-3"
                   name="list-selection"
                   bfLabel="List Selection"
                   [bfList]="list"
                   [(ngModel)]="item.listSelection">
      </bf-dropdown>

      <bf-date-picker class="col-3 no-min-width"
                      name="birth"
                      bfLabel="Birth Day"
                      [(ngModel)]="item.birth">
      </bf-date-picker>

    </div>
  </form>
</div>
