<h3>How to update the library</h3>
<p>To update the library and use it with a file reference, run the npm command (on root foolder): <span class="inline-code">npm run pack_all</span></p>
<p>To update and publish the library (NPM repository), run script <span class="inline-code">sh publish.sh</span>
<br/>or do it manually following the steps: </p>
<ol>
  <li>Increment version: <span class="inline-code">npm run version_up</span></li>
  <li>Generate library: <span class="inline-code">npm run pack_all</span></li>
  <li>Login into NPM register (as joel.blueface) <span class="inline-code">npm login</span></li>
  <li>Publish the library (*.*.* = current version)<span class="inline-code">npm publish ./bf-ui-lib/dist/bf-ui-lib/bf-ui-lib-*.*.*.tgz</span></li>
</ol>
<p>If you need to increment a minor or major version, replace point 1 by: 
  <span class="inline-code">cd dist/bf-ui-lib && npm version patch | minor | major</span>
</p>
<p><a href="https://docs.npmjs.com/packages-and-modules/">NPM documentation</a></p>
<hr/>

<h3>How to add a component</h3>
<p>To add a new component to the library, follow the steps:</p>
<ul>
  <li>Create the component:</li>
</ul>
<hr/>


<h3>Index of components</h3>

<table class="index-table">
  <thead class="index-header">
    <tr>
      <th>Component</th>
      <th>Api</th>
      <th>Instance</th>
      <th>Example</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let compItem of reg.compList" routerLink="{{ '/' + compItem.name }}">
      <td><pre>{{ compItem.name }}</pre></td>
      <td><pre>{{ compItem.api }}</pre></td>
      <td><pre>{{ compItem.instance }}</pre></td>
      <td>
        <!-- <bf-btn></bf-btn>    -->
      </td> 
    </tr>
  <tbody>
</table>


