<h3>How to update the library</h3>
<p>To update the library you can run the npm command (on root foolder): <span class="inline-code">npm RUN pack_all</span></p>
<hr/>

<h3>How to add a component</h3>
<p>To add a new component to the library, follow the steps:</p>
<ul>
  <li>Create the component:</li>
</ul>
<hr/>


<h3>Index of components</h3>

<table class="index-table">
  <thead class="index-header">
    <tr>
      <th>Component</th>
      <th>Api</th>
      <th>Instance</th>
      <th>Example</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let compItem of reg.compList" routerLink="{{ '/' + compItem.name }}">
      <td><pre>{{ compItem.name }}</pre></td>
      <td><pre>{{ compItem.api }}</pre></td>
      <td><pre>{{ compItem.instance }}</pre></td>
      <td>
        <!-- <bf-btn></bf-btn>    -->
      </td> 
    </tr>
  <tbody>
</table>