@import '~@angular/cdk/a11y';
@include cdk-a11y(); // adds in the .cdk-visually-hidden to hide live announcer text

@mixin focus-visible {
  border: 1px solid white !important;
  outline: 1px solid $primary_color !important;
  box-shadow: none;
  border-radius: 0;
}

// disable focus style when CLICKING on an element
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
  border: none;
}

// This class is added by the focus-visible package
p.focus-visible,
a.focus-visible,
span.focus-visible,
div.focus-visible,
div.focus-visible:not(.input-group),
button.focus-visible,
bf-checkbox label.focus-visible,
bf-date-picker.focus-visible > input,
bf-btn.focus-visible,
bf-radio.focus-visible,
bf-status-badge.focus-visible,
bf-list-header-col.focus-visible,
bf-list-checkbox.focus-visible,
bf-list-paginator .focus-visible {
  @include focus-visible()
}

bf-date-picker .ngb-dp-day.focus-visible{
  border: 2px solid $primary_color;
  border-radius: 10%;
  background: lighten($primary_color, 50%);
  outline: none;
}
