$bf-dot-badge-colors: (
  'primary': $primary_color,
  'secondary': $secondary_color,
  'tertiary': $tertiary_color,
  'quaternary': $quaternary_color,
  'extra': $extra_color,
  'success': $primary_color,
  'warning': $warning_color,
  'bf-color-first': $bf-status-active,
  'bf-color-second': $bf-status-inactive,
  'bf-color-third': $bf-status-pending,
  'bf-color-fourth': $bf-status-other,
  'bf-color-fifth': $bf-status-other2,
  'bf-color-sixth': $bf-status-other3,
  'bf-color-seventh': $bf-status-other4,
  'bf-color-eighth': $bf-status-submitted,
) !default;

$badge-dot-size: 0.5rem !default;

bf-dot-badge {
  .bf-dot-badge--dot {
    display: inline-block;
    width: $badge-dot-size;
    height: $badge-dot-size;
    border-radius: 100%;

    // Add a default colour in case an invalid colour class is given.
    background: map-get($bf-dot-badge-colors, 'primary');

    // Add the various colour classes
    @each $key, $value in $bf-dot-badge-colors {
      &.#{$key} {
        background: $value;
      }
    }
  }

  .bf-dot-badge--label {
    margin-left: 0.25rem;
  }
}
