bf-dual-checkbox {
  .dual-checkbox-container { 
    display: flex;
    flex-wrap: wrap;
  }

  &.block .dual-checkbox-container { 
    flex-direction: column;
  }

  &:not(.flat) bf-label{
    margin-bottom: 10px;
  }

  bf-checkbox:not(:last-child) {
    margin-right: 15px; 
  }
}
