bf-list-placeholder {
  ul.table-list li.list-header { min-height: 52px; }

  .fake-row-placeholder {
    list-style: none;
    .placeholder-text {
      background: #f6f7f8;
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background-size: 800px 104px;
      height: 20px;
      position: relative;

      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      -webkit-animation-name: placeHolderShimmer;
      -moz-animation-name: placeHolderShimmer;
      -o-animation-name: placeHolderShimmer;
      animation-name: placeHolderShimmer;

      @keyframes placeHolderShimmer {
          0% { background-position: -468px 0 }
        100% { background-position:  468px 0 }
      }
    }
    &.fake-button-template .placeholder-text {
      margin: 0;
      height: 35px;
      margin-left: 70%;
    }
    &.line-1 { .placeholder-text { width: 10%; } }
    &.line-2 { .placeholder-text { width: 20%; } }
    &.line-3 { .placeholder-text { width: 30%; } }
    &.line-4 { .placeholder-text { width: 40%; } }
    &.line-5 { .placeholder-text { width: 50%; } }
    &.line-6 { .placeholder-text { width: 60%; } }
    &.line-7 { .placeholder-text { width: 70%; } }
    &.line-8 { .placeholder-text { width: 80%; } }
    &.line-9 { .placeholder-text { width: 90%; } }
  }
}


// .overlay-text {
//   text-align: center;
//   position: absolute;
//   left: calc(50% - 60px);
//   top: calc(50% - 20px);
//   color: gray;
//   z-index: 9999;
//   h4 {
//     &::after {
//       animation: three-dot-ani 1s;
//       animation-iteration-count: infinite;
//       content: "";
//       @keyframes three-dot-ani {        
//         0%    { content: ""; }
//         25%   { content: "."; }
//         50%   { content: ".."; }
//         75%   { content: "..."; }
//         100%  { content: ""; }
//       }
//     }
//   }
// }
