.modal-header{
    flex-direction: column;
    .modal-header--title{
        width: 100%;
        display: flex;
    }
    .modal-header--description{
        color: $primary-color;
        font-style: italic;
    }
}
