$radio-color: $text-color;  // Default radio color (when not required)

// --- <bf-radio> color reset --------------------------------------------------


div.radio label input[type='radio'] {
  + span.radio-box {
    border-color: darken($radio-color, 3%);
  }

  &:checked + span.radio-box {  // Option selected (checked)
    background: $radio-color;
    &:before { color: $white; }
  }

  &[required]:not([disabled]) { // Required
    &:checked + span.radio-box { background: $required-color; }
    + span.radio-box {
      border-color: darken($required-color, 3%);
    }
  }

  &[disabled] + span.radio-box {  // Disabled
    background: $disabled-color;
    border-color: darken($disabled-color, 3%);
  }
}
