$slider_bg: $white !default;
$slider_color_primary: $secondary_color !default;
// test color of the Slider
//$slider_color_primary: $primary_color !default;

bf-slider {
  .slider-label-left {

  }
  ng5-slider {
    &.ng5-slider {
      margin-bottom: 25px;
      .ng5-slider-pointer {
        background-color: $slider_color_primary;
        outline: 0 none;
        &.ng5-slider-active:after {
          background-color: $slider_bg;
        }
      }
      .ng5-slider-selection, .ng5-slider-tick.ng5-slider-selected {
        background: $slider_color_primary;
      }
    }
  }
}
