<h2>{{name}}</h2>
<hr/>
<p>{{desc}}</p>
<p>
If the property "bfText" is defined, it generates a button with both text and icon. If not, just an icon button (small version)
<br/>You can set the color of the button using "bfType". It accepts "primary", "secondary", ... (all defined brand colors)
<br/>You can also use "bfType" to set a predefined button (color + icon), like "add", "save",

</p>
<p>There are some predefined types and icons to be used</p>

<h5 class="mt-4">Parameters (all optional):</h5>
<div class="col-12"><pre>{{api}}</pre></div>

<!--<bf-btn (bfClick)="customBtnFunc()"></bf-btn>-->
<!--<bf-btn (bfClick)="customBtnFunc()" bfText="Test 1" bfIcon=""></bf-btn>-->
<!--<bf-btn (bfClick)="customBtnFunc()" bfIcon="icon-plus"></bf-btn>-->
<!--<bf-btn (bfClick)="customBtnFunc()" bfIcon="icon-plus" bfText="Test 2"></bf-btn>-->
<!--<bf-btn class="toggle" [(bfToggle)]="isExp"></bf-btn>-->


<div class="row" *ngIf="true">
  <div class="col-7">
    <bf-btn class="block squash"
            (bfClick)="asyncClick()"
            [bfAsyncPromise]="blockPr"
            bfText="Async Click 1"
            bfIcon="icon-arrow-right3"
    ></bf-btn>
    <bf-btn class="block" (bfClick)="asyncClick()" bfText="Async Click 2"></bf-btn>
    <bf-btn class="block" (bfClick)="asyncClick()" bfText="Async Click 3"></bf-btn>
    <bf-btn class="block" (bfClick)="asyncClick()" bfText="Async Click 4 (me)"></bf-btn>
    <bf-btn class="block" (bfClick)="asyncClick()" bfText="Async Click 5"></bf-btn>
  </div>
  <div class="col-5">
    <bf-btn bfType="save" (bfClick)="asyncClick()" [bfAsyncPromise]="blockPr"></bf-btn>
    <bf-btn bfType="save" bfText="This is a nice button"></bf-btn> perfectly aligned with text.
  </div>
</div>

<!--<bf-btn bfText="Click to async resolve"-->
<!--        (bfClick)="growl.success('cliiick')">-->
<!--</bf-btn>-->

<!--<bf-btn bfType="search"></bf-btn>-->

<!--<bf-btn (bfClick)="myFunc($event)"-->
<!--        bfText="view.common.yes"-->
<!--        [bfDisabled]="true"-->
<!--        bfIconPos="left"-->
<!--        bfIcon="icon-arrow-left6"-->
<!--        bfDisabledTip="This button is disabled because X">-->
<!--</bf-btn>-->


<!--Button Customization-->
<div class="whiteBg">
  <div class="row">
    <div class="col-5 marB15">
      <h5 class="marB25">Button Customization:</h5>
      <div>
        <bf-btn (bfClick)="customBtnFunc()"
                [class.full-width]="btnConf.hasFullWidth"
                [class.squash]="btnConf.hasSquash"
                [class.ellipsis]="btnConf.hasEllipsis"
                [class.rounded]="btnConf.cssRounded"
                [class.primary]="btnConf.cssPrimary"
                [class.secondary]="btnConf.cssSecondary"
                [class.tertiary]="btnConf.cssTertiary"
                [class.quaternary]="btnConf.cssQuaternary"
                [class.extra]="btnConf.cssExtra"
                [class.warning]="btnConf.cssWarning"
                [class.inverted-primary]="btnConf.cssInvPrimary"
                [class.inverted-secondary]="btnConf.cssInvSecondary"
                [class.inverted-tertiary]="btnConf.cssInvTertiary"
                [class.inverted-quaternary]="btnConf.cssInvQuaternary"
                [bfIconPos]="btnConf.iconPos"
                [bfText]="(btnConf.hasText ? btnConf.btnText : null)"
                [bfType]="(btnConf.hasType ? btnConf.btnType : null)"
                [bfIcon]="(btnConf.hasIcon ? btnConf.btnIcon : null)"
                [bfDisabled]="btnConf.isDisabled"
                [bfTooltip]="(btnConf.hasTooltip ? btnConf.btnTooltip : null)"
                [bfTooltipPos]="(btnConf.btnTooltipPos || 'top')"
                [bfTooltipBody]="btnConf.btnTooltipBody"
                [bfToggle]="btnConf.hasToggle ? btnConf.toggleValue : null"
                (bfToggleChange)="btnConf.toggleValue = $event"
                [bfDisabledTip]="btnConf.btnDisabledTip">
        </bf-btn>
        <span *ngIf="btnConf.hasToggle"> toggleValue = {{ btnConf.toggleValue }} </span>
      </div>
      <div class="padT10">{{res}}</div>
      <div class="padT15">
        <div class="code-box pad15">
          <pre>{{customBtnCode}}</pre>
        </div>
      </div>
    </div>

    <div class="col-7">

      <div class="row">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="btnConf.hasText" (ngModelChange)="upBtn()" bfLabel="bfText"></bf-checkbox> </div>
        <div class="col-10" style="margin-bottom: -5px;"> <bf-input [(ngModel)]="btnConf.btnText" (ngModelChange)="upBtn()" [bfDisabled]="!btnConf.hasText"></bf-input> </div>
      </div>

      <div class="row">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="btnConf.hasType" (ngModelChange)="upBtn()" bfLabel="bfType"></bf-checkbox> </div>
        <div class="col-5" *ngIf="btnConf.hasType">
          <bf-dropdown [(ngModel)]="btnConf.btnType" (ngModelChange)="upBtn()" [bfList]="btnTypes" bfRender="text" bfSelect="id" [bfRequired]="true"> </bf-dropdown>
        </div>
        <div class="col-5 padT5">
          <bf-checkbox [(ngModel)]="btnConf.hasToggle" (ngModelChange)="upBtn()" bfLabel="[(bfToggle)]"></bf-checkbox>
        </div>
      </div>

      <div class="row marT15">
        <div class="col-2 padT15"> <bf-checkbox [(ngModel)]="btnConf.hasIcon" (ngModelChange)="upBtn()" bfLabel="bfIcon"></bf-checkbox> </div>
        <div class="col-5">
          <bf-dropdown bfLabel="bfIcon" class="full-width"
                       [(ngModel)]="btnConf.btnIcon" (ngModelChange)="upBtn()"
                       [bfList]="btnIcons" bfRender="icon" bfSelect="icon" [bfRequired]="false" [bfDisabled]="!btnConf.hasIcon">
          </bf-dropdown>
        </div>
        <div class="col-5">
          <bf-dropdown bfLabel="Icon Position" [(ngModel)]="btnConf.iconPos" (ngModelChange)="upBtn()" [bfRequired]="true"
                       [bfList]="[{id:'right'},{id:'left'},{id:'none'}]" bfRender="id" bfSelect="id">
          </bf-dropdown>
        </div>
      </div>

      <div class="row marT15">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="btnConf.isDisabled" (ngModelChange)="upBtn()" bfLabel="bfDisabled"></bf-checkbox> </div>
        <div class="col-10">
          <bf-input class="flat" [(ngModel)]="btnConf.btnDisabledTip" bfPlaceholder="This button is disabled because..." (ngModelChange)="upBtn()"></bf-input>
        </div>
      </div>

      <div class="row marT10">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="btnConf.hasTooltip" (ngModelChange)="upBtn()" bfLabel="Has Tooltip"></bf-checkbox> </div>
        <div class="col-10" *ngIf="btnConf.hasTooltip">
          <bf-input [(ngModel)]="btnConf.btnTooltip" (ngModelChange)="upBtn()"></bf-input>
        </div>
        <div class="col-2" *ngIf="btnConf.hasTooltip"></div>
        <div class="col-5" *ngIf="btnConf.hasTooltip">
          <bf-dropdown bfLabel="bfTooltipPos" [(ngModel)]="btnConf.btnTooltipPos" (ngModelChange)="upBtn()" [bfList]="btnTooltipPoss" bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
        <div class="col-5" *ngIf="btnConf.hasTooltip">
          <bf-dropdown bfLabel="bfTooltipBody" [(ngModel)]="btnConf.btnTooltipBody" (ngModelChange)="upBtn()" [bfList]="btnTooltipBody" bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
      </div>

      <!--Css-->
      <div class="row marT15">
        <div class="col-12 padT5">
          <bf-label class="marR15" bfText="CSS Classes"></bf-label>
          <bf-checkbox [(ngModel)]="btnConf.hasFullWidth" (ngModelChange)="upBtn()" bfLabel="full-width"></bf-checkbox>
          <bf-checkbox [(ngModel)]="btnConf.hasEllipsis" (ngModelChange)="upBtn()" bfLabel="ellipsis"></bf-checkbox>
          <bf-checkbox [(ngModel)]="btnConf.hasSquash" (ngModelChange)="upBtn()" bfLabel="squash"></bf-checkbox>
          <bf-checkbox class="padR40" [(ngModel)]="btnConf.cssRounded" (ngModelChange)="upBtn()" bfLabel="rounded"></bf-checkbox>
          <bf-checkbox class="padL50" [(ngModel)]="btnConf.hasAsync1" (ngModelChange)="upBtn()" bfLabel="Async 1"></bf-checkbox>
          <bf-checkbox [(ngModel)]="btnConf.hasAsync2" (ngModelChange)="upBtn()" bfLabel="Async 2"></bf-checkbox>
        </div>
        <div class="col-12 padT15" style="padding-left: 113px;">
          <bf-checkbox bfLabel="primary"    [(ngModel)]="btnConf.cssPrimary"    (ngModelChange)="upBtn()"></bf-checkbox>
          <bf-checkbox bfLabel="secondary"  [(ngModel)]="btnConf.cssSecondary"  (ngModelChange)="upBtn()"></bf-checkbox>
          <bf-checkbox bfLabel="tertiary"   [(ngModel)]="btnConf.cssTertiary"   (ngModelChange)="upBtn()"></bf-checkbox>
          <bf-checkbox bfLabel="quaternary" [(ngModel)]="btnConf.cssQuaternary" (ngModelChange)="upBtn()"></bf-checkbox>
          <bf-checkbox bfLabel="extra"      [(ngModel)]="btnConf.cssExtra"      (ngModelChange)="upBtn()"></bf-checkbox>
          <bf-checkbox bfLabel="warning"    [(ngModel)]="btnConf.cssWarning"    (ngModelChange)="upBtn()"></bf-checkbox>
        </div>
        <div class="col-12 padT15" style="padding-left: 113px;">
          <bf-checkbox bfLabel="inverted-primary"    [(ngModel)]="btnConf.cssInvPrimary"    (ngModelChange)="upBtn()"></bf-checkbox>
          <bf-checkbox bfLabel="inverted-secondary"  [(ngModel)]="btnConf.cssInvSecondary"  (ngModelChange)="upBtn()"></bf-checkbox>
          <bf-checkbox bfLabel="inverted-tertiary"   [(ngModel)]="btnConf.cssInvTertiary"   (ngModelChange)="upBtn()"></bf-checkbox>
          <bf-checkbox bfLabel="inverted-quaternary" [(ngModel)]="btnConf.cssInvQuaternary" (ngModelChange)="upBtn()"></bf-checkbox>
        </div>
      </div>

    </div>

  </div>
</div>




<hr>

<!--Toggle Example-->
<div class="whiteBg row" *ngIf="true">
  <div class="col-7">
    <h5>Toggle</h5>
    <p>The component keeps an internal flag to be used as a toggle (true/false).
      The arrow icons will be default according to the value.<br>
      You just need to bind it:</p>

  </div>
  <div class="col-5 padT10">
    <bf-btn class="toggle" [(bfToggle)]="isExp"></bf-btn>
    <span class="marL15">Value={{isExp}}</span>
    <div class="code-box pad15 marT10">
      <pre>{{toggleExample}}</pre>
    </div>
  </div>

</div>
<hr>




<!--Examples-->
<h5 class="mt-4">Custom bfTypes:</h5>
<div class="row" *ngIf="true">
  <div class="col-12 examples-table">

    <!--<div class="row">-->
    <!--  <div class="col-3">-->
    <!--    <bf-btn bfType="edit" (bfClick)="(count = count + 'a')"></bf-btn>-->
    <!--    {{count}}-->
    <!--  </div>-->
    <!--  <div class="col-9"> <pre>{{instance}}</pre> </div>-->

    <!--  &lt;!&ndash; <div class="col-4"> Simple instance with no text only icon (small version) </div> &ndash;&gt;-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--  <div class="col-3" style="display: block">-->
    <!--    <bf-btn bfText="Add User"  (bfClick)="(count = count + 'x')" [bfDisabled]="false"></bf-btn>-->
    <!--    <bf-btn bfText="Save User" (bfClick)="(count = count + 'x')" [bfDisabled]="true"></bf-btn>-->
    <!--  </div>-->
    <!--  <div class="col-9"> <pre>{{instance2}}</pre> </div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-3">-->
        <!--<bf-btn bfText="Add User" bfIcon="icon-eye"></bf-btn>-->
        <!--<bf-btn bfText="Add Item" bfIcon="icon-plus" bfType="quaternary"></bf-btn>-->
      <!--</div>-->
      <!--<div class="col-9"> <pre>{{instance3}}</pre> </div>-->
    <!--</div>-->


    <!--<div class="row">-->
      <!--<div class="col-3" style="display: block">-->
          <!--<bf-btn bfType="save"    bfText="Save User"></bf-btn>-->
          <!--<br/>-->
          <!--<bf-btn bfType="add"     bfText="Add User"></bf-btn>-->
          <!--<br/>-->
          <!--<bf-btn bfType="delete"  bfText="Delete User"></bf-btn>-->
          <!--<br/>-->
          <!--<bf-btn bfType="cancel"  bfText="Cancel"></bf-btn>-->
          <!--<bf-btn class="squash" bfType="expand"></bf-btn>-->
          <!--<bf-btn class="squash" bfType="collapse"></bf-btn>-->
      <!--</div>-->
      <!--<div class="col-9"> <pre>{{instance4}}</pre> </div>-->
    <!--</div>-->

    <div class="row">
      <div class="col-2"><bf-btn bfType="search">     </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('search')}}</pre></div>
      <div class="col-2"><bf-btn bfType="search-icon"></bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('search-icon')}}</pre></div>
      <div class="col-2"><bf-btn bfType="add">        </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('add')}}</pre></div>
      <div class="col-2"><bf-btn bfType="add-icon">   </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('add-icon')}}</pre></div>

      <div class="col-2"><bf-btn bfType="edit">       </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('edit')}}</pre></div>
      <div class="col-2"><bf-btn bfType="edit-icon">  </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('edit-icon')}}</pre></div>
      <div class="col-2"><bf-btn bfType="save">       </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('save')}}</pre></div>
      <div class="col-2"><bf-btn bfType="save-icon">  </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('save-icon')}}</pre></div>

      <div class="col-2"><bf-btn bfType="delete">     </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('delete')}}</pre></div>
      <div class="col-2"><bf-btn bfType="delete-icon"></bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('delete-icon')}}</pre></div>

      <div class="col-2"><bf-btn bfType="remove">     </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('remove')}}</pre></div>
      <div class="col-2"><bf-btn bfType="remove-icon"></bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('remove-icon')}}</pre></div>

      <div class="col-2"><bf-btn bfType="view">       </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('view')}}</pre></div>
      <div class="col-2"><bf-btn bfType="view-icon">  </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('view-icon')}}</pre></div>

      <div class="col-2"><bf-btn bfType="cancel">     </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('cancel')}}</pre></div>
      <div class="col-2"><bf-btn bfType="cancel-icon"></bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('cancel-icon')}}</pre></div>
      <div class="col-2"><bf-btn bfType="update">     </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('update')}}</pre></div>
      <div class="col-2"><bf-btn bfType="update-icon"></bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('update-icon')}}</pre></div>

      <div class="col-2"><bf-btn bfType="upload">       </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('upload')}}</pre></div>
      <div class="col-2"><bf-btn bfType="upload-icon">  </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('upload-icon')}}</pre></div>
      <div class="col-2"><bf-btn bfType="download">     </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('download')}}</pre></div>
      <div class="col-2"><bf-btn bfType="download-icon"></bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('download-icon')}}</pre></div>

      <div class="col-2"><bf-btn bfType="reset">        </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('reset')}}</pre></div>
      <div class="col-2"><bf-btn bfType="reset-icon">   </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('reset-icon')}}</pre></div>
      <div class="col-2"><bf-btn bfType="refresh">      </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('refresh')}}</pre></div>
      <div class="col-2"><bf-btn bfType="refresh-icon"> </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('refresh-icon')}}</pre></div>

      <div class="col-2"><bf-btn bfType="next">         </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('next')}}</pre></div>
      <div class="col-2"><bf-btn bfType="expand">       </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('expand')}}</pre></div>
      <div class="col-2"><bf-btn bfType="prev">         </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('prev')}}</pre></div>
      <div class="col-2"><bf-btn bfType="collapse">     </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('collapse')}}</pre></div>

      <div class="col-2"><bf-btn bfType="back" bfText="Back to ..."></bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('back')}}</pre></div>
      <div class="col-2"><bf-btn bfType="back">         </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('back')}}</pre></div>

      <div class="col-2"><bf-btn bfType="copy">         </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('copy')}}</pre></div>
      <div class="col-2"><bf-btn bfType="menu">         </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('menu')}}</pre></div>

      <!--<div class="col-2"><bf-btn bfType="primary"     bfText="primary">    </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('primary')}}</pre></div>-->
      <!--<div class="col-2"><bf-btn bfType="secondary"   bfText="secondary">  </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('secondary')}}</pre></div>-->
      <!--<div class="col-2"><bf-btn bfType="tertiary"    bfText="tertiary">   </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('tertiary')}}</pre></div>-->
      <!--<div class="col-2"><bf-btn bfType="quaternary"  bfText="quaternary"> </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('quaternary')}}</pre></div>-->
      <!--<div class="col-2"><bf-btn bfType="warning"     bfText="warning">    </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('warning')}}</pre></div>-->
      <!--<div class="col-2"><bf-btn bfType="extra"       bfText="extra">      </bf-btn></div> <div class="col-4 padT10"><pre>{{getBtnInst('extra')}}</pre></div>-->
    </div>


    <!--<div class="row">-->
    <!--  <div class="col-3" style="display: block">-->
    <!--    <bf-btn bfText="Simple Tooltip" bfTooltip="Hello World"></bf-btn>-->
    <!--    <bf-btn bfText="Better tooltip" bfTooltip="Hey" bfTooltipPos="left" [bfTooltipBody]="true"></bf-btn>-->
    <!--  </div>-->
    <!--  <div class="col-9"> <pre>{{instance6}}</pre> </div>-->
    <!--</div>-->
  </div>
</div>



<!--Asynchronous Handling -->
<div class="row" *ngIf="true">
  <div class="col-12">
    <h5 class="mt-4">Asynchronous Handling</h5>
    <p>In order to handle asynchronous tasks triggered by buttons, there's an option to automatically block all buttons until an async process is resolved.
    <br>That is helpful to avoid unwanted cases like calling an API twice, etc.</p>
    <p>To do so, just pass the promise that resolves the async process to <span class="bold">[bfAsyncPromise]</span>.

    </p>
  </div>
  <div class="col-1"></div>
  <div class="col-5 code-box">
    <pre class="pad10">{{ asyncExample1 }}</pre>
  </div>
  <div class="col-6">
    <bf-btn bfText="Async Click Option 1"
            [bfAsyncPromise]="blockPr"
            (bfClick)="blockPr = asyncClickFunc('myValue', desc)">
    </bf-btn>
  </div>

  <div class="col-12 marT20">
    <p>It is also possible to do the same using <span class="bold">[bfAsyncClick]</span>. Passing a callback function to this parameter, you don't need to use (bfClick) output.
    <br>That callback should return the promise that blocks the button till resolving. That function is called into the component, so to pass parameters you should bind them on its definition:</p>
  </div>
  <div class="col-1"></div>
  <div class="col-5 code-box">
    <pre class="pad10">{{ asyncExample2 }}</pre>
  </div>
  <div class="col-6">
    <!--<bf-btn bfText="Async Click Option 2"-->
    <!--        [bfAsyncClick]="asyncClickFunc.bind(this, 'myValue2', desc)">-->
    <!--</bf-btn>-->
  </div>
</div>



<!--Applicable classes -->
<div class="row" *ngIf="true">
  <div class="col-12">
    <hr>
    <h5 class="mt-4">Applicable classes:</h5>
    <p>It is possible to restyle the button to make it slimmer (special fit for narrow rows)
    adding the class "<span class="bold">squash</span>":
      <bf-btn class="squash" bfIcon="icon-plus" bfText="hey there"></bf-btn>
      <bf-btn class="squash" bfType="expand"></bf-btn>
      <bf-btn class="squash" bfType="collapse"></bf-btn>
    </p>
    <pre class="marT10">{{ squashExample }}</pre>
  </div>

  <div class="col-12 marT20">
    <p>If you need a button covering the whole with of a block element (with 100%) you can add class "<span class="bold">full-width</span>":</p>
  </div>
  <div class="col-3">
    <bf-btn class="full-width" bfText="Full Width Button"></bf-btn>
  </div>
  <div class="col-9">
    <pre class="marT10">{{ fullWidthExample }}</pre>
  </div>
</div>


<!--CSS Styling-->
<div class="row marT40" *ngIf="true">
  <div class="col-12">
    <hr>
    <h4>CSS Styling</h4>
    <p>
      Every name in <b>"$bf-ui-lib-colors"</b> represents a css class that you can apply on the button to color it (primary, secondary, tertiary, quaternary, warning, extra, white, disabled)
    </p>
    <p>To change the color of the buttons use the SASS variable <b>$default-btn-text-color</b></p>
    <p>To add extra colors, there is a mixin that can be used inside a selector <b>"custom-btn-color(color-bg, text-color)"</b>:</p>
  </div>
  <div class="col-6">
    <pre>{{ cssReset }}</pre>
  </div>
  <div class="col-6">
    <bf-btn class="yellow-btn" bfText="This is a custom button" bfIcon="icon-plus"></bf-btn>
  </div>
</div>

