<h2>{{name}}</h2>
<hr/>
<p>{{desc}}</p>
<p>
If the property "bfText" is defined, it generates a button with both text and icon. If not, just an icon button (small version)
<br/>You can set the color of the button using "bfType". It accepts "primary", "secondary", ... (all defined brand colors)
<br/>You can also use "bfType" to set a predefined button (color + icon), like "add", "save", 

</p>
<p>There are some predefined types and icons to be used</p>

<h5 class="mt-4">Parameters (all optional):</h5>
<div class="col-12"><pre>{{api}}</pre></div>

<!--<bf-btn bfType="search"></bf-btn>-->

<!--<bf-btn (bfClick)="myFunc($event)"-->
<!--        bfText="view.common.yes"-->
<!--        [bfDisabled]="true"-->
<!--        bfIconPos="left"-->
<!--        bfIcon="icon-arrow-left6"-->
<!--        bfDisabledTip="This button is disabled because X">-->
<!--</bf-btn>-->

<div *ngIf="true">

<!--Button Customization-->
<div class="whiteBg">
  <div class="row">
    <div class="col-5 marB15">
      <h5 class="marB25">Button Customization:</h5>
      <div>
        <bf-btn (bfClick)="customBtnFunc()"
                [class.full-width]="btnConf.hasFullWidth"
                [class.squash]="btnConf.hasSquash"
                [bfIconPos]="btnConf.iconPos"
                [bfText]="(btnConf.hasText ? btnConf.btnText : null)"
                [bfType]="(btnConf.hasType ? btnConf.btnType : null)"
                [bfIcon]="(btnConf.hasIcon ? btnConf.btnIcon : null)"
                [bfDisabled]="btnConf.isDisabled"
                [bfTooltip]="(btnConf.hasTooltip ? btnConf.btnTooltip : null)"
                [bfTooltipPos]="(btnConf.btnTooltipPos || 'top')"
                [bfTooltipBody]="btnConf.btnTooltipBody"
                [bfDisabledTip]="btnConf.btnDisabledTip">
        </bf-btn>
      </div>
      <div class="padT10">{{res}}</div>
      <div class="padT15">
        <div class="code-box pad15">
          <pre>{{customBtnCode}}</pre>
        </div>
      </div>
    </div>

    <div class="col-7">

      <div class="row">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="btnConf.hasText" (ngModelChange)="upBtn()" bfLabel="Has Text"></bf-checkbox> </div>
        <div class="col-10" style="margin-bottom: -5px;"> <bf-input [(ngModel)]="btnConf.btnText" (ngModelChange)="upBtn()" [bfDisabled]="!btnConf.hasText"></bf-input> </div>
      </div>

      <div class="row">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="btnConf.hasType" (ngModelChange)="upBtn()" bfLabel="Has Type"></bf-checkbox> </div>
        <div class="col-10" *ngIf="btnConf.hasType">
          <bf-dropdown [(ngModel)]="btnConf.btnType" (ngModelChange)="upBtn()" [bfList]="btnTypes" bfRender="text" bfSelect="id" [bfRequired]="true"> </bf-dropdown>
        </div>
      </div>

      <div class="row marT15">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="btnConf.hasIcon" (ngModelChange)="upBtn()" bfLabel="Custom Icon"></bf-checkbox> </div>
        <div class="col-5">
          <bf-dropdown *ngIf="btnConf.hasIcon" bfLabel="bfIcon" class="full-width"
                       [(ngModel)]="btnConf.btnIcon" (ngModelChange)="upBtn()"
                       [bfList]="btnIcons" bfRender="icon" bfSelect="icon" [bfRequired]="true">
          </bf-dropdown>
        </div>
        <div class="col-5">
          <bf-dropdown bfLabel="Icon Position" [(ngModel)]="btnConf.iconPos" (ngModelChange)="upBtn()" [bfRequired]="true"
                       [bfList]="[{id:'right'},{id:'left'},{id:'none'}]" bfRender="id" bfSelect="id">
          </bf-dropdown>
        </div>
      </div>

      <div class="row marT15">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="btnConf.isDisabled" (ngModelChange)="upBtn()" bfLabel="Is Disabled"></bf-checkbox> </div>
        <div class="col-10">
          <bf-input class="flat" [(ngModel)]="btnConf.btnDisabledTip" bfPlaceholder="This button is disabled because..." (ngModelChange)="upBtn()"></bf-input>
        </div>
      </div>

      <div class="row marT10">
        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="btnConf.hasTooltip" (ngModelChange)="upBtn()" bfLabel="Has Tooltip"></bf-checkbox> </div>
        <div class="col-10" *ngIf="btnConf.hasTooltip">
          <bf-input [(ngModel)]="btnConf.btnTooltip" (ngModelChange)="upBtn()"></bf-input>
        </div>
        <div class="col-2" *ngIf="btnConf.hasTooltip"></div>
        <div class="col-5" *ngIf="btnConf.hasTooltip">
          <bf-dropdown bfLabel="bfTooltipPos" [(ngModel)]="btnConf.btnTooltipPos" (ngModelChange)="upBtn()" [bfList]="btnTooltipPoss" bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
        <div class="col-5" *ngIf="btnConf.hasTooltip">
          <bf-dropdown bfLabel="bfTooltipBody" [(ngModel)]="btnConf.btnTooltipBody" (ngModelChange)="upBtn()" [bfList]="btnTooltipBody" bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
      </div>

      <div class="row marT15">
        <div class="col-12 padT5">
          <bf-checkbox [(ngModel)]="btnConf.hasFullWidth" (ngModelChange)="upBtn()" bfLabel="Full Width"></bf-checkbox>
          <bf-checkbox class="padL25" [(ngModel)]="btnConf.hasSquash" (ngModelChange)="upBtn()" bfLabel="Squash"></bf-checkbox>
          <bf-checkbox class="padL25" [(ngModel)]="btnConf.hasAsync1" (ngModelChange)="upBtn()" bfLabel="Async 1"></bf-checkbox>
          <bf-checkbox class="padL25" [(ngModel)]="btnConf.hasAsync2" (ngModelChange)="upBtn()" bfLabel="Async 2"></bf-checkbox>
        </div>
      </div>

    </div>

  </div>
</div>

<hr>

<div class="whiteBg row">
  <div class="col-7">
    <h5>Toggle</h5>
    <p>The component keeps an internal flag to be used as a toggle (true/false).
      The arrow icons will be default according to the value.<br>
      You just need to bind it:</p>

  </div>
  <div class="col-5 padT10">
    <bf-btn class="toggle" [(bfToggle)]="isExp"></bf-btn>
    <span class="marL15">Value={{isExp}}</span>
    <div class="code-box pad15 marT10">
      <pre>{{toggleExample}}</pre>
    </div>
  </div>

</div>



<hr>




<!--Examples-->
<h5 class="mt-4">Examples:</h5>
<div class="row">
  <div class="col-12 examples-table">
  
    <div class="row">
      <div class="col-3">
        <bf-btn bfType="edit" (bfClick)="(count = count + 'a')"></bf-btn>
        {{count}}
      </div>
      <div class="col-9"> <pre>{{instance}}</pre> </div>    

      <!-- <div class="col-4"> Simple instance with no text only icon (small version) </div> -->
    </div>

    <div class="row">
      <div class="col-3" style="display: block">
        <bf-btn bfText="Add User"  (bfClick)="(count = count + 'x')" [bfDisabled]="false"></bf-btn>
        <bf-btn bfText="Save User" (bfClick)="(count = count + 'x')" [bfDisabled]="true"></bf-btn>
      </div>
      <div class="col-9"> <pre>{{instance2}}</pre> </div>
    </div>

    <!--<div class="row">-->
      <!--<div class="col-3">-->
        <!--<bf-btn bfText="Add User" bfIcon="icon-eye"></bf-btn>-->
        <!--<bf-btn bfText="Add Item" bfIcon="icon-plus" bfType="quaternary"></bf-btn>-->
      <!--</div>-->
      <!--<div class="col-9"> <pre>{{instance3}}</pre> </div>-->
    <!--</div>-->


    <!--<div class="row">-->
      <!--<div class="col-3" style="display: block">-->
          <!--<bf-btn bfType="save"    bfText="Save User"></bf-btn>-->
          <!--<br/>-->
          <!--<bf-btn bfType="add"     bfText="Add User"></bf-btn>-->
          <!--<br/>-->
          <!--<bf-btn bfType="delete"  bfText="Delete User"></bf-btn>-->
          <!--<br/>-->
          <!--<bf-btn bfType="cancel"  bfText="Cancel"></bf-btn>-->
          <!--<bf-btn class="squash" bfType="expand"></bf-btn>-->
          <!--<bf-btn class="squash" bfType="collapse"></bf-btn>-->
      <!--</div>-->
      <!--<div class="col-9"> <pre>{{instance4}}</pre> </div>-->
    <!--</div>-->

    <div class="row">
      <div class="col-3" style="display: block">
        <bf-btn bfText="Primary"    bfType="primary"    bfIcon="icon-arrow-right3"></bf-btn>
        <bf-btn bfText="Secondary"  bfType="secondary"  bfIcon="icon-plus"></bf-btn>
        <bf-btn bfText="Tertiary"   bfType="tertiary"   bfIcon="icon-pencil"></bf-btn>
        <bf-btn bfText="Quaternary" bfType="quaternary" bfIcon="icon-blocked"></bf-btn>
        <bf-btn bfText="Warning"    bfType="warning"    bfIcon="icon-cross"></bf-btn>
        <bf-btn bfText="Extra"      bfType="extra"      bfIcon="icon-arrow-down3"></bf-btn>
      </div>
      <div class="col-9"> <pre>{{instance5}}</pre> </div>
    </div>


    <div class="row">
      <div class="col-3" style="display: block">
        <bf-btn bfText="Simple Tooltip" bfTooltip="Hello World"></bf-btn>
        <bf-btn bfText="Better tooltip" bfTooltip="Hey" bfTooltipPos="left" [bfTooltipBody]="true"></bf-btn>
      </div>
      <div class="col-9"> <pre>{{instance6}}</pre> </div>
    </div>
  </div>
</div>



<!--Asynchronous Handling -->
<div class="row">
  <div class="col-12">
    <h5 class="mt-4">Asynchronous Handling</h5>
    <p>In order to handle asynchronous tasks triggered by buttons, there's an option to automatically block all buttons until an async process is resolved.
    <br>That is helpful to avoid unwanted cases like calling an API twice, etc.</p>
    <p>To do so, just pass the promise that resolves the async process to <span class="bold">[bfAsyncPromise]</span>.

    </p>
  </div>
  <div class="col-1"></div>
  <div class="col-5 code-box">
    <pre class="pad10">{{ asyncExample1 }}</pre>
  </div>
  <div class="col-6">
    <bf-btn bfText="Async Click Option 1"
            [bfAsyncPromise]="blockPr"
            (bfClick)="blockPr = asyncClickFunc('myValue', desc)">
    </bf-btn>
  </div>

  <div class="col-12 marT20">
    <p>It is also possible to do the same using <span class="bold">[bfAsyncClick]</span>. Passing a callback function to this parameter, you don't need to use (bfClick) output.
    <br>That callback should return the promise that blocks the button till resolving. That function is called into the component, so to pass parameters you should bind them on its definition:</p>
  </div>
  <div class="col-1"></div>
  <div class="col-5 code-box">
    <pre class="pad10">{{ asyncExample2 }}</pre>
  </div>
  <div class="col-6">
    <!--<bf-btn bfText="Async Click Option 2"-->
    <!--        [bfAsyncClick]="asyncClickFunc.bind(this, 'myValue2', desc)">-->
    <!--</bf-btn>-->
  </div>
</div>



<!--Applicable classes -->
<div class="row">
  <div class="col-12">
    <hr>
    <h5 class="mt-4">Applicable classes:</h5>
    <p>It is possible to restyle the button to make it slimmer (special fit for narrow rows)
    adding the class "<span class="bold">squash</span>":
      <bf-btn class="squash" bfIcon="icon-plus" bfText="hey there"></bf-btn>
      <bf-btn class="squash" bfType="expand"></bf-btn>
      <bf-btn class="squash" bfType="collapse"></bf-btn>
    </p>
    <pre class="marT10">{{ squashExample }}</pre>
  </div>

  <div class="col-12 marT20">
    <p>If you need a button covering the whole with of a block element (with 100%) you can add class "<span class="bold">full-width</span>":</p>
  </div>
  <div class="col-3">
    <bf-btn class="full-width" bfText="Full Width Button"></bf-btn>
  </div>
  <div class="col-9">
    <pre class="marT10">{{ fullWidthExample }}</pre>
  </div>
</div>


<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <hr>
    <h4>CSS Styling</h4>
    <p>The encapsulated styles of the button use a default color. However, we may want to apply different colors externally (depending on the theme)
      <br/>
      To provide a color restyiling based on a SCSS theme you can apply the following rules on a css global level :
    </p>
    <pre>{{ cssReset }}</pre>
  </div>
</div>


</div>
