<h2>{{name}}</h2>
<hr/>
<h5>{{desc}}</h5>

<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>



<!--Customization-->
<div class="whiteBg">
  <div class="row">
    <div class="col-6 marB15">
      <h5 class="marB25">Customized Checkbox:</h5>
      <div class="padB25">
        <bf-checkbox [(ngModel)]="myValue"
                     [class.block]="compConf.isClassBlock"
                     [class.flat]="compConf.isClassFlat"
                     [class.revert]="compConf.isClassRevert"
                     [class.pad-input]="compConf.isClassPadInput"
                     [class.pad-btn]="compConf.isClassPadBtn"
                     [class.pad-form]="compConf.isClassPadForm"
                     [class.bg]="isBg || compConf.isClassBlock"
                     [bfLabel]="compConf.bfLabel"
                     [bfDisabled]="compConf.isDisabled"
                     [bfTooltip]="(compConf.hasTooltip ? compConf.tooltipText : null)"
                     [bfTooltipPos]="(compConf.tooltipPos || 'top')"
                     [bfTooltipBody]="compConf.tooltipBody">
        </bf-checkbox>
      </div>
      <div>
        <div class="code-box pad15">
          <pre>{{customCompCode}}</pre>
        </div>
      </div>
    </div>

    <div class="col-6">

      <div class="row marT15">
        <bf-checkbox class="col-3" bfLabel="Disabled" [(ngModel)]="compConf.isDisabled" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-9" bfLabel="bfLabel" [(ngModel)]="compConf.bfLabel" (ngModelChange)="upComp()"></bf-input>
      </div>

      <!--Tooltip-->
      <div class="row marT10">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasTooltip" (ngModelChange)="upComp()" bfLabel="Has Tooltip"></bf-checkbox> </div>
        <div class="col-9" *ngIf="compConf.hasTooltip">
          <bf-input [(ngModel)]="compConf.tooltipText" (ngModelChange)="upComp()"></bf-input>
        </div>
        <div class="col-5" *ngIf="compConf.hasTooltip">
          <bf-dropdown bfLabel="bfTooltipPos"
                       [(ngModel)]="compConf.tooltipPos" (ngModelChange)="upComp()"
                       [bfList]="[{ id: 'top', text: 'top' }, { id: 'right', text: 'right' }, { id: 'bottom', text: 'bottom' }, { id: 'left', text: 'left' }]"
                       bfRender="text" bfSelect="id">
          </bf-dropdown>
        </div>
        <div class="col-4" *ngIf="compConf.hasTooltip">
          <bf-dropdown bfLabel="bfTooltipBody"
                       [(ngModel)]="compConf.tooltipBody" (ngModelChange)="upComp()"
                       [bfList]="[{ id: 'true', text: 'true' }, { id: 'false', text: 'false' }]"
                       bfRender="text" bfSelect="id">
          </bf-dropdown>
        </div>
      </div>

      <!--Classes-->
      <div class="row padT10">
        <div class="col-12"><hr></div>
        <div class="col-12 padB15">CSS classes:</div>
        <bf-checkbox class="col-2" [(ngModel)]="compConf.isClassBlock"    (ngModelChange)="upComp()" bfLabel="block" bfTooltip="Applies display: block;"></bf-checkbox>
        <bf-checkbox class="col-2" [(ngModel)]="compConf.isClassFlat"     (ngModelChange)="upComp()" bfLabel="flat" bfTooltip="Applies max-height: 20px, so the line breaks won't enlarge it and will overflow"></bf-checkbox>
        <bf-checkbox class="col-2" [(ngModel)]="compConf.isClassRevert"   (ngModelChange)="upComp()" bfLabel="revert" bfTooltip="Reverts the color when checked (background white, check primary)"></bf-checkbox>
        <bf-checkbox class="col-2" [(ngModel)]="compConf.isClassPadBtn"   (ngModelChange)="upComp()" bfLabel="pad-btn" bfTooltip="To vertically align when next to a button"></bf-checkbox>
        <bf-checkbox class="col-2" [(ngModel)]="compConf.isClassPadInput" (ngModelChange)="upComp()" bfLabel="pad-input" bfTooltip="To vertically align when next to an input with no label"></bf-checkbox>
        <bf-checkbox class="col-2" [(ngModel)]="compConf.isClassPadForm"  (ngModelChange)="upComp()" bfLabel="pad-form" bfTooltip="To vertically align when next to an input with label"></bf-checkbox>
      </div>

    </div>

  </div>
</div>

<hr>






<h5 class="mt-4">Examples:</h5>
<div class="whiteBg row">
  <div class="col-2 dashed-border">
    <bf-checkbox [class.bg]="isBg" [ngModel]="myValue"></bf-checkbox>
    <bf-checkbox [class.bg]="isBg" [ngModel]="myValue"></bf-checkbox>
    <bf-checkbox [class.bg]="isBg" [ngModel]="myValue" bfLabel="Test label"></bf-checkbox>
  </div>
  <div class="col-2 dashed-border">
    <bf-checkbox [class.bg]="isBg" [ngModel]="myValue" bfLabel="User Name with a very long text that will certainly break the line"> </bf-checkbox>
  </div>
  <div class="col-2 dashed-border">
    <bf-checkbox [class.bg]="isBg" class="block" [ngModel]="myValue" bfLabel="User Name with a very long text that will certainly break the line with block"> </bf-checkbox>
  </div>
  <div class="col-3 dashed-border">
    <bf-checkbox [class.bg]="isBg" class="block" [ngModel]="myValue" bfLabel="With block class"></bf-checkbox>
    <bf-checkbox [class.bg]="isBg" [ngModel]="myValue" bfLabel="Inline 1"></bf-checkbox>
    <bf-checkbox [class.bg]="isBg" [ngModel]="myValue" bfLabel="Inline 2"></bf-checkbox>
    <bf-checkbox [class.bg]="isBg" [ngModel]="myValue" bfLabel="Inline 3"></bf-checkbox>
  </div>
  <div class="col-2 offset-1">
    <bf-switch bfLabel="Show background" [(ngModel)]="isBg"></bf-switch>
  </div>
</div>
<div class="whiteBg row">
  <bf-input class="col-2" [ngModel]="textValue" bfIcon="icon-search"></bf-input>
  <bf-checkbox class="col-2 pad-input" [class.bg]="isBg" [ngModel]="myValue" bfLabel='class="pad-input"'></bf-checkbox>

  <bf-dropdown class="col-2" [ngModel]="textValue" [bfList]="[{id: 1}]" bfLabel="Selector"></bf-dropdown>
  <bf-checkbox class="col-2 pad-form" [class.bg]="isBg" [ngModel]="myValue" bfLabel='class="pad-form"'></bf-checkbox>

  <div class="col-2">
    <bf-label class="block" bfText="Select Option"></bf-label>
    <bf-checkbox class="pad-input" [class.bg]="isBg" [ngModel]="myValue" bfLabel="pad-input"></bf-checkbox>
    <bf-checkbox class="pad-input" [class.bg]="isBg" [ngModel]="myValue" bfLabel="pad-input"></bf-checkbox>
  </div>
  <div class="col-2 padH0">
    <pre>{{instance2}}</pre>
  </div>
  <div class="col-12 pad5"></div>

  <bf-btn class="col-2 full-width" bfType="save" bfText="Click Me"></bf-btn>
  <bf-checkbox class="col-2 pad-btn" [class.bg]="isBg" [ngModel]="myValue" bfLabel='class="pad-btn"'></bf-checkbox>
</div>



<div class="row">
  <div class="col-12"><hr></div>
  <div class="col-7">
    <p>We have changed the structure to improve the look and feel as:</p>
    <pre>{{ bfHtmlStructure }}</pre>
  </div>
  <div class="col-5">
    <p>The <a href="https://getbootstrap.com/docs/4.0/components/forms/#checkboxes-and-radios">original structure for checkbox inputs in Bootstrap</a>
      was:
    </p>
    <pre>{{ bootstrapHtmlStructure }}</pre>
  </div>
</div>
<p>The idea of the restructuring is to hide the {{inputCheckboxHtml}} element and mock it with the "span.check-box".
  This allows us to apply a better styling on the check box, with borders and shadows, keeping the same the behaviour of the input
</p>


<!--Applicable classes -->
<div class="row">
  <div class="col-12">
    <hr>
    <h5 class="mt-4">Applicable classes:</h5>
    <p>By default checkboxes are inline elements (displayed one next to another). You can easily turn then to block
      elements by applying class "<span class="bold">block</span>":
    </p>
  </div>
  <div class="col-6">
    <pre class="marT10">{{ blockExample }}</pre>
  </div>
  <div class="col-6">
    <bf-checkbox bfLabel="Inline check 1"></bf-checkbox>
    <bf-checkbox bfLabel="Inline check 2"></bf-checkbox>
    <bf-checkbox bfLabel="Inline check 3"></bf-checkbox>
    <bf-checkbox class="block" bfLabel="Block check 4"></bf-checkbox>
    <bf-checkbox class="block" bfLabel="Block check 5"></bf-checkbox>
    <bf-checkbox class="block" bfLabel="Block check 6"></bf-checkbox>
  </div>
</div>


<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <h3>CSS Styling</h3>
    <p>The following SASS variables can be overridden to provide customized coloring:
    </p>
    <pre class="padL30">{{ cssReset }}</pre>
  </div>
</div>

