<h2>{{name}}</h2>
<hr/>
<h5>{{desc}}</h5>
<p>This is a nice thing...</p>

<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>


<!--<div class="board board-1">-->
<!--  <div class="elem" draggable="true" (dragstart)="growl.success('Start')">Move Me</div>-->
<!--  <div class="cont" (dragover)="onDragOver($event)" (drop)="growl.success('Drop')">Drop here</div>-->
<!--</div>-->

<!--<p>Simple example. Drag elements into a container</p>-->
<!--<div class="row">-->
<!-- <div class="col-4">-->
<!--    <div class="board">-->
<!--      <h4>Draggable elements</h4>-->
<!--      <div class="elem" [bfDraggable]="obj1" bfDragMode="copy">Drag Me<br>{{obj1.name}}</div>-->
<!--      <div class="elem" [bfDraggable]="obj2" bfDragMode="copy">Drag Me<br>{{obj2.name}}</div>-->
<!--    </div>-->
<!-- </div>-->
<!-- <div class="col-4">-->
<!--   <div class="board">-->
<!--    <div class="cont" bfDropContainer (bfDrop)="growl.success($event.name + ' dropped')">Drop here</div>-->
<!--   </div>-->
<!-- </div>-->
<!--</div>-->


<!--<p>List example. Drag elements from one list to another</p>-->
<!--<div class="row">-->
<!--  <div class="col-4">-->
<!--    <div class="board">-->
<!--      <h4>List 1</h4>-->
<!--      <div *ngFor="let item of list1">-->
<!--        <div class="elem" [bfDraggable]="item" bfDragMode="copy">{{item.name}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-4">-->
<!--    <div class="board">-->
<!--      <h4>List 2</h4>-->
<!--      <div class="cont-list" bfDropContainer (bfDrop)="list2.push({ name: $event.bfDraggable.name, id: list2.length })">-->
<!--        <div *ngFor="let item of list2">-->
<!--          <div class="elem" [bfDraggable]="item" bfDragMode="copy">-->
<!--            <span>{{item.name}}</span>-->
<!--            <bf-btn class="marL10" bfType="delete-icon" (bfClick)="list2.removeById(item.id)"></bf-btn>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<p>List example 2. Drag elements to different placeholder in a container</p>
<div class="row">
  <div class="col-4">
    <div class="board">
      <h4>List 1</h4>
      <div *ngFor="let item of list1">
        <div class="elem" [bfDraggable]="item" bfDragMode="copy">{{item.name}}</div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="board" [bfDropContainer]="container1">
        Container 1
    </div>
  </div>

  <div class="col-4">
    <div class="board" [bfDropContainer]="container2">
        Container 2
    </div>
  </div>
</div>

<div>activeContainer = {{bfDnD.activeContainer?.id}}</div>



<!--bf-drop-placeholder Customization-->
<!--<div class="whiteBg">-->
<!--  <div class="row">-->
<!--    <div class="col-5 marB15">-->
<!--      <h5 class="marB25">bf-drop-placeholder Customization:</h5>-->
<!--      <div>-->
<!--        &lt;!&ndash;<bf-dropdown class="full-width" name="dasda"&ndash;&gt;-->
<!--        &lt;!&ndash;             [(ngModel)]="selObj10"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfList]="myList"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfRequired]="compConf.isRequired"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfDisabled]="compConf.isDisabled"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfLabel]="(compConf.hasLabel ? compConf.labelText : '')"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfSelect]="(compConf.hasSelect && !!compConf.selectField) ? compConf.selectField : null"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfRender]="(compConf.hasRender ? compConf.renderExp : '')">&ndash;&gt;-->
<!--        &lt;!&ndash;</bf-dropdown>&ndash;&gt;-->
<!--      </div>-->
<!--      <div>-->
<!--        <div class="code-box pad15">-->
<!--          <pre>{{customCompCode}}</pre>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-7">-->

<!--      <div class="row marT15">-->
<!--        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="compConf.isRequired" (ngModelChange)="upComp()" bfLabel="Is Required"></bf-checkbox> </div>-->
<!--      </div>-->

<!--      <div class="row marT15">-->
<!--        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="compConf.isDisabled" (ngModelChange)="upComp()" bfLabel="Is Disabled"></bf-checkbox> </div>-->
<!--      </div>-->

<!--      <div class="row marT15">-->
<!--        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="compConf.hasLabel" (ngModelChange)="upComp()" bfLabel="Has Label"></bf-checkbox> </div>-->
<!--        <div class="col-10" style="margin-bottom: -5px;"> <bf-input [(ngModel)]="compConf.labelText" (ngModelChange)="upComp()" [bfDisabled]="!compConf.hasLabel"></bf-input> </div>-->
<!--      </div>-->

<!--      <div class="row marT10">-->
<!--        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="compConf.hasTooltip" (ngModelChange)="upComp()" bfLabel="Has Tooltip"></bf-checkbox> </div>-->
<!--        <div class="col-10" *ngIf="compConf.hasTooltip">-->
<!--          <bf-input [(ngModel)]="compConf.tooltipText" (ngModelChange)="upComp()"></bf-input>-->
<!--        </div>-->
<!--        <div class="col-2" *ngIf="compConf.hasTooltip"></div>-->
<!--        <div class="col-5" *ngIf="compConf.hasTooltip">-->
<!--          bfTooltipPos: <bf-dropdown [(ngModel)]="compConf.tooltipPos" (ngModelChange)="upComp()"-->
<!--                                     [bfList]="[{ id: 'top', text: 'top' }, { id: 'right', text: 'right' }, { id: 'bottom', text: 'bottom' }, { id: 'left', text: 'left' }]"-->
<!--                                     bfRender="text" bfSelect="id"> </bf-dropdown>-->
<!--        </div>-->
<!--        <div class="col-5" *ngIf="compConf.hasTooltip">-->
<!--          bfTooltipBody: <bf-dropdown [(ngModel)]="compConf.tooltipBody" (ngModelChange)="upComp()" [bfList]="[{ id: 'true', text: 'true' }, { id: 'false', text: 'false' }]" bfRender="text" bfSelect="id"> </bf-dropdown>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<hr>




<h5 class="mt-4">Examples:</h5>
<div class="col-12 examples-table">
  
  <div class="row">
    <div class="col-5">
      <bf-drop-placeholder></bf-drop-placeholder>
    </div>
    <div class="col-7"> <pre>{{instance}}</pre> </div>
  </div>


</div>



<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <hr>
    <h4>CSS Styling</h4>
    <p>The encapsulated styles of the button use a default color. However, we may want to apply different colors externally (depending on the theme)
      <br/>
      To provide a color restyiling based on a SCSS theme you can apply the following rules on a css global level :
    </p>
    <pre>{{ cssReset }}</pre>
  </div>
</div>

