<div class="row">
  <div class="col-3">
    <h2>{{name}}</h2>
  </div>
  <div class="col-9 text-right">
    <bf-btn bfText="BfDnD" (bfClick)="router.navigate(['/BfDnD'])" bfDisabled="true"></bf-btn>
    <bf-btn bfText="Ex.1" (bfClick)="router.navigate(['/BfDnD/example1'])"></bf-btn>
    <bf-btn bfText="Ex.2" (bfClick)="router.navigate(['/BfDnD/example2'])"></bf-btn>
    <bf-btn bfText="Ex.3" (bfClick)="router.navigate(['/BfDnD/example3'])"></bf-btn>
    <bf-btn bfText="Ex.4" (bfClick)="router.navigate(['/BfDnD/example4'])"></bf-btn>
    <bf-btn bfText="Ex.5" (bfClick)="router.navigate(['/BfDnD/example5'])"></bf-btn>
    <bf-btn bfText="Ex.6" (bfClick)="router.navigate(['/BfDnD/example6'])"></bf-btn>
  </div>
</div>


<hr/>
<h5>{{desc}}</h5>
<p>This is a nice thing...</p>

<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>



<!--<div class="board board-1">-->
<!--  <div class="elem" draggable="true" (dragstart)="growl.success('Start')">Move Me</div>-->
<!--  <div class="cont" (dragover)="onDragOver($event)" (drop)="growl.success('Drop')">Drop here</div>-->
<!--</div>-->

<p>List example 2. Drag elements to different placeholder in a container</p>
<div class="row">
  <div class="col-3">
    <div class="board">
      <h4>List 1</h4>
      <div *ngFor="let item of list1">
        <div [bfDraggable]="item" bfDragMode="copy">{{item.name}}</div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div id="cont-1" [bfDropContainer]="container1">
      <h5>Container 1</h5>

      <div [bfDropPlaceholder]="{ pos: 0 }" bfDropContainerId="cont-1">Placeholder 0</div>
      <div [bfDropPlaceholder]="{ pos: 1 }" bfDropContainerId="cont-1">Placeholder 1</div>
      <div [bfDropPlaceholder]="{ pos: 2 }" bfDropContainerId="cont-1">Placeholder 2</div>
    </div>
  </div>

  <div class="col-6">
    <div id="cont-2" class="cont-2" [bfDropContainer]="container2">
      <h5>Container 2</h5>
      <div class="ph-1" [bfDropPlaceholder]="{ pos: 1 }" bfDropContainerId="cont-2">Placeholder 1</div>
      <div class="ph-2" [bfDropPlaceholder]="{ pos: 2 }" bfDropContainerId="cont-2">Placeholder 2</div>
      <div class="ph-3" [bfDropPlaceholder]="{ pos: 3 }" bfDropContainerId="cont-2">Placeholder 3</div>
      <div class="ph-4" [bfDropPlaceholder]="{ pos: 4 }" bfDropContainerId="cont-2">Placeholder 4</div>
      <div class="ph-5" [bfDropPlaceholder]="{ pos: 5 }" bfDropContainerId="cont-2">Placeholder 5</div>
    </div>
  </div>
</div>


<div class="row marT30 marB30">
  <div class="col-3">
    <div><b>activeContainer =</b>{{bfDnD.activeContainer?.id}}</div>
    <div><b>activePlaceholder =</b>{{bfDnD.activePlaceholder?.id}}</div>
    <bf-switch bfLabel="bfDnD.isDebugMode" bfLabelPos="left"
               [(ngModel)]="isDebugMode" (ngModelChange)="bfDnD.setDebugMode($event)">
    </bf-switch>
  </div>
  <div class="col-3">
    <div>
      <b>Containers =</b>
      <span class="marL15" *ngFor="let cont of bfDnD.containers">{{cont.id}}</span>
    </div>
    <bf-switch bfLabel="bfDnD.isAccurateMode" bfLabelPos="left"
               [(ngModel)]="isAccurateMode" (ngModelChange)="bfDnD.isAccurateMode = $event">
    </bf-switch>
  </div>

  <div class="col-6">
    <b>Placeholders =</b>
    <span class="marL15" *ngFor="let placeholder of bfDnD.placeholders">{{placeholder.id}}</span>
  </div>

</div>




<h3>Examples:</h3>
<h5><a [routerLink]="['/BfDnD/example1']">1- Simple dragging:  One simple div dragged to a unique container</a></h5>
<h5><a [routerLink]="['/BfDnD/example2']">2- List drop to add: Dropping to a container to increase a list</a></h5>
<h5><a [routerLink]="['/BfDnD/example3']">3- Multiple Containers: Dragging one element to multiple containers. Some nested</a></h5>
<h5><a [routerLink]="['/BfDnD/example4']">4- Placeholders: Dragging into a container with multiple placeholders</a></h5>
<h5><a [routerLink]="['/BfDnD/example5']">5- List reordering: Reorder list draging elements up/down</a></h5>
<h5><a [routerLink]="['/BfDnD/example6']">6- Lists switching: Moving from one list to another with order</a></h5>



<!--bf-drop-placeholder Customization-->
<!--<div class="whiteBg">-->
<!--  <div class="row">-->
<!--    <div class="col-5 marB15">-->
<!--      <h5 class="marB25">bf-drop-placeholder Customization:</h5>-->
<!--      <div>-->
<!--        &lt;!&ndash;<bf-dropdown class="full-width" name="dasda"&ndash;&gt;-->
<!--        &lt;!&ndash;             [(ngModel)]="selObj10"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfList]="myList"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfRequired]="compConf.isRequired"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfDisabled]="compConf.isDisabled"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfLabel]="(compConf.hasLabel ? compConf.labelText : '')"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfSelect]="(compConf.hasSelect && !!compConf.selectField) ? compConf.selectField : null"&ndash;&gt;-->
<!--        &lt;!&ndash;             [bfRender]="(compConf.hasRender ? compConf.renderExp : '')">&ndash;&gt;-->
<!--        &lt;!&ndash;</bf-dropdown>&ndash;&gt;-->
<!--      </div>-->
<!--      <div>-->
<!--        <div class="code-box pad15">-->
<!--          <pre>{{customCompCode}}</pre>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-7">-->

<!--      <div class="row marT15">-->
<!--        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="compConf.isRequired" (ngModelChange)="upComp()" bfLabel="Is Required"></bf-checkbox> </div>-->
<!--      </div>-->

<!--      <div class="row marT15">-->
<!--        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="compConf.isDisabled" (ngModelChange)="upComp()" bfLabel="Is Disabled"></bf-checkbox> </div>-->
<!--      </div>-->

<!--      <div class="row marT15">-->
<!--        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="compConf.hasLabel" (ngModelChange)="upComp()" bfLabel="Has Label"></bf-checkbox> </div>-->
<!--        <div class="col-10" style="margin-bottom: -5px;"> <bf-input [(ngModel)]="compConf.labelText" (ngModelChange)="upComp()" [bfDisabled]="!compConf.hasLabel"></bf-input> </div>-->
<!--      </div>-->

<!--      <div class="row marT10">-->
<!--        <div class="col-2 padT5"> <bf-checkbox [(ngModel)]="compConf.hasTooltip" (ngModelChange)="upComp()" bfLabel="Has Tooltip"></bf-checkbox> </div>-->
<!--        <div class="col-10" *ngIf="compConf.hasTooltip">-->
<!--          <bf-input [(ngModel)]="compConf.tooltipText" (ngModelChange)="upComp()"></bf-input>-->
<!--        </div>-->
<!--        <div class="col-2" *ngIf="compConf.hasTooltip"></div>-->
<!--        <div class="col-5" *ngIf="compConf.hasTooltip">-->
<!--          bfTooltipPos: <bf-dropdown [(ngModel)]="compConf.tooltipPos" (ngModelChange)="upComp()"-->
<!--                                     [bfList]="[{ id: 'top', text: 'top' }, { id: 'right', text: 'right' }, { id: 'bottom', text: 'bottom' }, { id: 'left', text: 'left' }]"-->
<!--                                     bfRender="text" bfSelect="id"> </bf-dropdown>-->
<!--        </div>-->
<!--        <div class="col-5" *ngIf="compConf.hasTooltip">-->
<!--          bfTooltipBody: <bf-dropdown [(ngModel)]="compConf.tooltipBody" (ngModelChange)="upComp()" [bfList]="[{ id: 'true', text: 'true' }, { id: 'false', text: 'false' }]" bfRender="text" bfSelect="id"> </bf-dropdown>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

<hr>




<!--<h5 class="mt-4">Examples:</h5>-->
<!--<div class="col-12 examples-table">-->
<!--  -->
<!--  <div class="row">-->
<!--    <div class="col-5">-->
<!--      <bf-drop-placeholder></bf-drop-placeholder>-->
<!--    </div>-->
<!--    <div class="col-7"> <pre>{{instance}}</pre> </div>-->
<!--  </div>-->


<!--</div>-->



<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <hr>
    <h4>CSS Styling</h4>
    <p>The encapsulated styles of the button use a default color. However, we may want to apply different colors externally (depending on the theme)
      <br/>
      To provide a color restyiling based on a SCSS theme you can apply the following rules on a css global level :
    </p>
    <pre>{{ cssReset }}</pre>
  </div>
</div>

