<!-- bf-progress-bar = 'bf-btn' -->
<div class="progress-bar-demo">
  <h2>{{name}}</h2>
  <hr/>
  <p>{{desc}}</p>

  <h5 class="mt-4">Parameters:</h5>
  <div class="col-12">
    <pre>{{api}}</pre>
  </div>


  <!--bf-progress-bar Customization-->
  <div class="whiteBg">
    <div class="row">

      <div class="col-5 marB15">
        <h5 class="marB25">bf-progress-bar Customization:</h5>
        <div class="padB50">
          <bf-progress-bar
            [bfValue]="custom.obj.bfValue"
            [bfTotal]="custom.obj.bfTotal"
            [bfLabel]="custom.obj.bfLabel"
            [bfUsedLabel]="custom.obj.bfUsedLabel"
            [bfLeftLabel]="custom.obj.bfLeftLabel">
          </bf-progress-bar>
        </div>
        <div>
          <div class="code-box pad15">
            <pre>{{custom.obj.componentView}}</pre>
          </div>
        </div>
      </div>

      <div class="col-7">

        <div class="row">
          <div class="col-4 padT5">
            <bf-input [(ngModel)]="custom.obj.bfValue"
                      bfType="number"
                      (ngModelChange)="custom.buildComponentView()"
                      bfLabel="bfValue"></bf-input>
          </div>
          <div class="col-4 padT5">
            <bf-input [(ngModel)]="custom.obj.bfTotal"
                      bfType="number"
                      (ngModelChange)="custom.buildComponentView()"
                      bfLabel="bfTotal"></bf-input>
          </div>
        </div>

        <div class="row">
          <div class="col-4 padT30">
            <bf-checkbox [(ngModel)]="custom.config.hasLabel" (ngModelChange)="custom.buildComponentView()"
                         bfLabel="Has label"></bf-checkbox>
          </div>
          <div class="col-8 padT5">
            <bf-input [(ngModel)]="custom.obj.bfLabel"
                      (ngModelChange)="custom.buildComponentView()"
                      bfLabel="bfLabel"
                      [bfDisabled]="!custom.config.hasLabel"></bf-input>
          </div>
        </div>

        <div class="row">
          <div class="col-4 padT30">
            <bf-checkbox [(ngModel)]="custom.config.hasUsedLabel" (ngModelChange)="custom.buildComponentView()"
                         bfLabel="Has used label"></bf-checkbox>
          </div>
          <div class="col-8 padT5">
            <bf-input [(ngModel)]="custom.obj.bfUsedLabel"
                      (ngModelChange)="custom.buildComponentView()"
                      bfLabel="bfUsedLabel"
                      [bfDisabled]="!custom.config.hasUsedLabel"></bf-input>
          </div>
        </div>

        <div class="row">
          <div class="col-4 padT30">
            <bf-checkbox [(ngModel)]="custom.config.hasLeftLabel" (ngModelChange)="custom.buildComponentView()"
                         bfLabel="Has left label"></bf-checkbox>
          </div>
          <div class="col-8 padT5">
            <bf-input [(ngModel)]="custom.obj.bfLeftLabel"
                      (ngModelChange)="custom.buildComponentView()"
                      bfLabel="bfLeftLabel"
                      [bfDisabled]="!custom.config.hasLeftLabel"></bf-input>
          </div>
        </div>

      </div>

    </div>
  </div>

  <hr>

  <h5 class="mt-4">Examples:</h5>
  <div class="col-12 examples-table">

    <div class="row">
      <div class="col-5">
        <bf-progress-bar
          [bfValue]="cyclingProgress | async"
          [bfTotal]="100">
        </bf-progress-bar>
      </div>
      <div class="col-7">
        <pre>{{instance1}}</pre>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <bf-progress-bar
          [bfLabel]="'Mobile Minutes 250'"
          [bfValue]="1299"
          [bfTotal]="2048"
          [bfUsedLabel]="'minutes used'"
          [bfLeftLabel]="'minutes left'">
        </bf-progress-bar>
      </div>
      <div class="col-7">
        <pre>{{instance2}}</pre>
      </div>
    </div>

  </div>


  <!--CSS Styling-->
  <div class="row marT40">
    <div class="col-12">
      <hr>
      <h4>CSS Styling</h4>
      <p>The following SASS variables can be overridden to provide customized coloring:</p>
      <pre class="padL30">{{ cssReset }}</pre>
    </div>
  </div>

</div>
