<h2>{{name}}</h2>
<hr/>
<p>{{desc}}</p>
<p>It returns a promise that is rejected on "Cancel", or resolved in case of "Yes" / "No". The resolve returns a string with "yes" or "no".
</p>

<h5 class="mt-4">API:</h5>
<div class="col-12"><pre>{{api}}</pre></div>

<!--<div class="whiteBg">-->
  <!--<div class="row">-->
    <!--<div class="col-5 marB15">-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<h5 class="mt-4">Examples:</h5>
<div class="col-12 examples-table">
  
  <div class="row">
    <div class="col-5 code-box"> <pre>{{example1}}</pre> </div>
    <div class="col-7">
      <bf-btn (bfClick)="openPopUp1()" bfText="Open Confirm Modal"></bf-btn>
      Result = {{result}}
    </div>
  </div>

  <div class="row">
    <div class="col-5 code-box"> <pre>{{example2}}</pre> </div>
    <div class="col-7">
      <bf-btn (bfClick)="openPopUp2()" bfText="Open Confirm Modal"></bf-btn>
      Result = {{result}}
    </div>
  </div>

</div>
