<h2>{{name}}</h2>
<hr/>
<h5>{{desc}}</h5>
<p>Generates an input to display a date (day + month + year), and the attached day picker modal to select it from a calendar</p>
<p>
  This is a wrapper for the <a href="https://ng-bootstrap.github.io/#/components/datepicker/overview">Angular Bootstrap Datepicker</a>.
  It adds the input where to display the current value of a date, and the controls to open the calendar and pick a different value.
  <br>
  The model uses no "Date" data types, but strings with the default format 'yyyy-mm-dd', which is the standard format that
  is used for the Blueface API to get and set date fields.
</p>
<p>
  By default the 'shortDate' format is applied to display the date on the input (see <a href="https://angular.io/api/common/DatePipe#pre-defined-format-options">Angular Date Pipe</a> for more formats).
  If an i18n format is applied, the locale configuration can be provided to change is as needed.
  <br>
  It is important that the locales used are defined in the application that consumes the library via <b>registerLocaleData(localeZhCN, 'zh-CN');</b>
</p>

<h5 class="mt-4">Parameters:</h5>
<div class="col-12"><pre>{{api}}</pre></div>


<!--bf-date-picker Customization-->
<div class="whiteBg">
  <div class="row">

    <!--<div class="col-12">-->
    <!--  <div class="input-group" style="width: 250px;">-->
    <!--    <input class="form-control" placeholder="yyyy-mm-dd" name="dp"-->
    <!--           [(ngModel)]="model" (ngModelChange)="checkNewModel(model)"-->
    <!--           ngbDatepicker #d="ngbDatepicker">-->
    <!--    <div class="input-group-append">-->
    <!--      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->


    <!--<div class="col-5 text-right">-->
    <!--  <bf-date-picker [(ngModel)]="myDate"-->
    <!--                  bfLabel="view.common.field_name3"-->
    <!--                  [bfLocale]="bfTranslate.currentLocale">-->
    <!--  </bf-date-picker>-->
    <!--</div>-->

    <div class="col-5 marB15">
      <h5 class="marB25">Customization:</h5>
      <div *ngIf="isCompLinked">
        <form #datePickerForm="ngForm">
          <bf-date-picker [class.flat]="compConf.hasFlat" [class.modal-right]="compConf.hasModalRight"
                          [class.no-min-width]="compConf.hasNoMinWidth"
            [(ngModel)]="myDate" (ngModelChange)="checkNewModel($event)"
            [bfRequired]="!!compConf.isRequired"
            [bfDisabled]="!!compConf.isDisabled"
            [bfHasClearBtn]="!!compConf.hasClearBtn"
            [bfLabel]="compConf.hasLabel ? compConf.labelText : ''"

            [bfTooltip]="(compConf.hasTooltip ? compConf.tooltipText : null)"
            [bfTooltipPos]="(compConf.tooltipPos || 'top')"
            [bfTooltipBody]="compConf.tooltipBody"
            [bfErrorText]="compConf.tooltipText ? compConf.tooltipText : ''"
            [bfErrorPos]="compConf.errorPos"

            [bfLocale]="compConf.bfLocale"
            [bfFormat]="compConf.bfFormat"
            [bfMinDate]="compConf.bfMinDate"
            [bfMaxDate]="compConf.bfMaxDate"
            name="demo_datepicker"
            #demoDatePicker="ngModel"
          ></bf-date-picker>
          Form Invalid = {{datePickerForm.invalid}}, pristine = {{datePickerForm.pristine}}
          <span *ngIf="datePickerForm.invalid"> | Errors = {{demoDatePicker.errors | json }}</span>
        </form>
      </div>

      <div class="row">
        <div class="col-12"><hr></div>
        <bf-input class="col-6" [(ngModel)]="myDate" (ngModelChange)="myDate2 = myDate"
                  bfLabel="myDate (model value)">
        </bf-input>
        <bf-input class="col-6" [(ngModel)]="myDate2" bfLabel="New value to set"
                  bfRightBtnText="Set to myDate" (bfRightBtnClick)="myDate = myDate2">
        </bf-input>
      </div>

      <div>
        <div class="code-box pad15">
          <pre>{{customCompCode}}</pre>
        </div>
      </div>
    </div>

    <div class="col-7">

      <!--Required, Disabled, Clean btn-->
      <div class="row marT15">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.isRequired" (ngModelChange)="upComp()" bfLabel="Is Required"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.isDisabled" (ngModelChange)="upComp()" bfLabel="Is Disabled"></bf-checkbox> </div>
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasClearBtn" (ngModelChange)="upComp()" bfLabel="Has Clear Button"></bf-checkbox> </div>
      </div>

      <!--Label-->
      <div class="row marT15">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasLabel" (ngModelChange)="upComp()" bfLabel="Has Label"></bf-checkbox> </div>
        <div class="col-9" style="margin-bottom: -5px;"> <bf-input [(ngModel)]="compConf.labelText" (ngModelChange)="upComp()" [bfDisabled]="!compConf.hasLabel"></bf-input> </div>
      </div>

      <!--Tooltip-->
      <div class="row marT5" *ngIf="compConf.hasLabel">
        <div class="col-3 padT5"> <bf-checkbox [(ngModel)]="compConf.hasTooltip" (ngModelChange)="upComp()" bfLabel="Has Tooltip"></bf-checkbox> </div>
        <div class="col-9" *ngIf="compConf.hasTooltip">
          <bf-input [(ngModel)]="compConf.tooltipText" (ngModelChange)="upComp()"></bf-input>
        </div>
        <div class="col-3" *ngIf="compConf.hasTooltip"></div>
        <div class="col-5" *ngIf="compConf.hasTooltip">
          <bf-dropdown bfLabel="bfTooltipPos" [(ngModel)]="compConf.tooltipPos" (ngModelChange)="upComp()" [bfList]="tooltipPosList" bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
        <div class="col-4" *ngIf="compConf.hasTooltip">
          <bf-dropdown bfLabel="bfTooltipBody" [(ngModel)]="compConf.tooltipBody" (ngModelChange)="upComp()" [bfList]="tooltipBodyList" bfRender="text" bfSelect="id"> </bf-dropdown>
        </div>
      </div>

      <!-- Custom Format + Locale-->
      <div class="row marT15">
        <div class="col-3 padT30"> <bf-checkbox [(ngModel)]="compConf.hasCustomFormat" (ngModelChange)="upComp()" bfLabel="Custom Format"></bf-checkbox> </div>
        <div class="col-5">
          <bf-dropdown class="full-width" [bfDisabled]="!compConf.hasCustomFormat"
                       [(ngModel)]="compConf.bfFormat" (ngModelChange)="upComp()"
                       [bfList]="formatsList"
                       bfLabel="Format"
                       bfSelect="code"
                       bfRender="name">
          </bf-dropdown>
        </div>
        <div class="col-4">
          <bf-dropdown class="full-width"
                       [(ngModel)]="compConf.bfLocale"
                       [bfList]="localesList" (ngModelChange)="upComp()"
                       bfLabel="bfLocale"
                       bfSelect="code"
                       bfRender="name">
          </bf-dropdown>
        </div>
      </div>

      <!--Min / Max-->
      <div class="row marT15">
        <div class="col-4">
          <bf-date-picker bfLabel="bfMinDate"
                  [(ngModel)]="compConf.bfMinDate" (ngModelChange)="upComp()"
                  [bfHasClearBtn]="true"
                  [bfFormat]="compConf.bfFormat"
          ></bf-date-picker>
        </div>
        <div class="col-4">
          <bf-date-picker bfLabel="bfMaxDate"
                  [(ngModel)]="compConf.bfMaxDate" (ngModelChange)="upComp()"
                  [bfHasClearBtn]="true"
                  [bfFormat]="compConf.bfFormat"
          ></bf-date-picker>
        </div>
        <div class="col-4">
          <bf-dropdown class="full-width"
                       [(ngModel)]="locale"
                       [bfList]="localesList" (ngModelChange)="updateLocale($event)"
                       bfLabel="locale$ (translate service)"
                       bfSelect="code"
                       bfRender="name">
          </bf-dropdown>
        </div>
      </div>

      <!--Custom Error-->
      <div class="row marT15">
        <bf-checkbox class="col-3 marT30" bfLabel="Has Custom Error" [(ngModel)]="compConf.hasErrorText" (ngModelChange)="upComp()"></bf-checkbox>
        <bf-input class="col-5" bfLabel="bfErrorText" [(ngModel)]="compConf.bfErrorText" [bfDisabled]="!compConf.hasErrorText" (ngModelChange)="upComp()"></bf-input>
        <bf-dropdown class="col-4" bfLabel="bfErrorPos" [(ngModel)]="compConf.errorPos"
                     [bfList]="compConf.errorPosOpts" bfRender="text" bfSelect="id"
                     (ngModelChange)="relink(); upComp()">
        </bf-dropdown>
      </div>

      <!--Classes-->
      <div class="row marT15">
        <div class="col-8 padT5">
          <bf-label bfText="CSS Classes"></bf-label>
          <bf-checkbox class="marL20" [(ngModel)]="compConf.hasFlat"       (ngModelChange)="upComp()" bfLabel="flat"></bf-checkbox>
          <bf-checkbox class="marL20" [(ngModel)]="compConf.hasModalRight" (ngModelChange)="upComp()" bfLabel="modal-right" bfTooltip="It makes the modal open aligned to the right instead"></bf-checkbox>
          <bf-checkbox class="marL20" [(ngModel)]="compConf.hasNoMinWidth" (ngModelChange)="upComp()" bfLabel="no-min-width" bfTooltip="It removes min-width of the field"></bf-checkbox>
        </div>
      </div>

    </div>

  </div>
</div>

<hr>




<h5 class="mt-4">Examples:</h5>
<div class="col-12 examples-table">

  <div class="row">
    <div class="col-5">
      <bf-date-picker bfLabel="My Date" [(ngModel)]="myDate3">
      </bf-date-picker>
    </div>
    <div class="col-7"> <pre>{{instance}}</pre> </div>
  </div>

  <div class="row">
    <div class="col-5">
      <bf-date-picker [(ngModel)]="myDate3"
                      bfLabel="view.common.field_name3"
                      [bfRequired]="true"
                      bfMinDate="2020-01-14"
                      bfMaxDate="2020-02-09">
      </bf-date-picker>
    </div>
    <div class="col-7"> <pre>{{instance2}}</pre> </div>
  </div>

</div>



<!--CSS Styling-->
<div class="row marT40">
  <div class="col-12">
    <hr>
    <h4>CSS Styling</h4>
    <p>The encapsulated styles of the component use a default color set. However, we may want to apply different colors externally (depending on the theme)
      <br/>
      To provide a color restyling based on a SCSS theme you can apply set following SASS variables:
    </p>
    <pre>{{ cssReset }}</pre>
  </div>
</div>

